<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
<h1 class="blogTitle">Confusions of modern man</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Jan 26, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://img.freepik.com/free-photo/confused-young-handsome-man-scratching-head_1262-4909.jpg?size=626&ext=jpg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>
<p>
  There is confusion when things do not occupy their due place in the order of
  the universe. The six considered here are not the only ones, but they are
  enough to give an idea of the intellectual and moral disorder that beset
  modernity.
</p>
<h3>
  Imagination and Thinking
</h3>
<p>
  People are generally unaware of the existence of four internal senses beside
  the five external ones. Such senses, detected since antiquity, are ignored by
  today’s defective schooling.
</p>
<p>
  Imagination is the most obvious. It means, as the word says, creating images
  of things known. But “knowledge” is an analogical term: animal “knowledge” and
  human knowledge are vastly different realities.
</p>
<p>
  Thinking involves producing, classifying, comparing, contrasting etc. ideas,
  whether imaginable or not. Ideas are abstracted by the mind, which is a
  spiritual, not a material, power. Hence the power of reflection: man knows
  that he knows, and knows himself. Animals are bereft of this function, so that
  imagining is the limit to their knowledge at their level of being.
</p>
<p>
  Human imagining and thinking always go together, but uni-directionally: all
  things imagined are also known; not vice versa. Ideas of non-material things
  can be thought of, but not imagined. The idea of number, even of a particular
  number, say ‘two’, is unimaginable. The most that can be imagined is its
  symbol, which can be written 2, II, β’, 10 etc. They all read ‘two’, but in
  Arabic, Roman, Greek and binary notation respectively.
</p>
<p>
  The most important consequence of this is that imagination helps thinking of
  things having size, shape and colour; it hinders thinking with ideas without
  these properties. The higher the abstraction, the more useless, not to say
  noxious, imagination becomes.
</p>
<p>
  A less obvious, but very real, consequence is that thinking is hard work,
  shunning which easily leads to mental laziness. Few people are willing to
  think. Most are happy with thinking done for them by someone else. As George
  Bernard Shaw put it:
</p>
<p class="container">
  <em>
    “Two percent of the people think; three percent of the people think they
    think; and ninety-five percent of the people would rather die than think.”
  </em>
</p>
<p>
  A last, but by no means innocuous, consequence, is mistaking animal feats of
  internal sensing for thinking, concomitantly failing to distinguish one level
  of being from another. Animals are then falsely endowed with powers they lack,
  and granted non-existent “rights”, necessarily entailing burdening people with
  non-existent duties towards them.
</p>
<p>
  Philosophical errors are not cheap. The price is paid in terms of personal
  freedom. Only truth guarantees freedom; lack of thinking prevents attaining
  truth. Freedom is inevitably lost.
</p>
<h3>
  Infatuation and Love
</h3>
<p>
  Infatuation and imagination belong to the same level of being (animal life),
  but not to the same department therein: infatuation is not an internal sense
  but a passion, one of the animal drives that attract towards, or repel from, a
  given object perceived by the senses.
</p>
<p>
  The will, on the other hand, belongs to the same level as the intellect, that
  of spirit. With this power man loves, i.e. actively wants the supreme good of
  the person loved. Since the supreme good of a person is none other than
  his/her eternal salvation, loving a person may, or may not, entail getting
  infatuated: the two are not the same reality.
</p>
<p>
  Infatuation can only be described as an intense liking, whether of a person,
  an animal or a thing. In no case should the passion of liking be confused with
  love. That is why it is possible to love enemies while intensely disliking
  them.
</p>
<p>
  Loving oneself has the same meaning: wanting one’s salvation. It does not mean
  pandering to whims and desires.
</p>
<p>
  Given the nature of liking and loving, confusing the two is dangerous. Liking,
  like all passions, can be strong, but it is always fleeting, at times on very
  short order. After years of intense attraction towards a spouse, a hobby, a
  certain type of reading, a sport, etc, the liking may disappear without
  warning. Divorce has been exclusively due to this confusion.
</p>
<p>
  Love is permanent. Falling in love not with externals but with inner virtues
  does not wax and wane but increases and strengthens with time.
</p>
<p>
  This applies especially to the love of God. What is to be desired here is not
  a supreme good - God is that supreme good- but His glory, paradoxically not
  needed by Him. Why then desiring it?
</p>
<p>
  The need is human, not divine. The more man honours God, the more benefits and
  favours he receives, not least an ever-growing knowledge – and love - of self.
</p>
<p>
  The human spirit, like all spirit, is a mystery, i.e. a reality that can be
  understood in ever increasing depth, but never comprehended. Only God, creator
  of the human spirit, comprehends it in its entirety. Prayer empowers man to
  asymptotically approach the comprehension of his own self but without ever
  attaining it.
</p>
<p>
  And since knowledge begets love, the love of self also increases, again not by
  fostering fleeting desires but desires of eternal salvation and the means to
  attain it.
</p>
<p>
  When priority is given to love, likings do not disappear, but get
  hierarchically ordered; the importance of each person or thing liked is now
  where it belongs, and the mistake is never made of lavishing love on subhuman
  realities like animals and things, a perversion today rampant in all the
  compartments of life.
</p>
<h3>
  Joy and Happiness
</h3>
<p>
  Joy, queen of the pleasure-seeking passions, is the peak of what every animal
  can aim at. It results from the satisfaction of any of the senses, external or
  internal. A child below the age of reason knows no better than animal joy, the
  highest of the three lower levels of being.
</p>
<p>
  Happiness belongs to a higher plane as the successive, and final, penetration
  of all seven levels of being, three animal and four spiritual, available to,
  but not imposed on, man.
</p>
<p>
  Modern schooling ignores the existence of the seven levels of being, leaving
  many men and women to grope in the haze of a perennial, artificial childhood,
  without ever suspecting the existence and attainability of that happiness that
  persists in eluding their quest.
</p>
<p>
  The parable of the Prodigal Son gives the clue: the boy perceived his
  existential vacuum when he looked inside himself; then he took the only
  decision worth taking: returning to the Father, centre of human existence.
</p>
<p>
  But Jesus remarked, “no one goes to the Father except through Me.” The human
  spirit, the triad memory-intellect-will, wakes up and begins to function at
  the rate with which Christ is allowed in. The knowledge and love of self
  improve, as does the love of neighbor, and last (and least) that for the
  enemy, now correctly seen as a desire for the enemy’s salvation, not as a
  vague but impossible sentiment of benevolence towards someone bent on causing
  harm.
</p>
<p>
  This promotion is equivalent to flooding the human spirit with grace, which is
  but divine life bestowed on man as a fifth level of being.
</p>
<p>
  This level gets perceived by the senses only secondarily, i.e. after being
  experienced and not before. At the beginning prayer does not come spontaneous,
  but becomes a need on being experienced. At times an existential shock is
  enough to awaken it. One remembers only too vividly the photo of the burly
  Chilean miner on his knees and with his hands joined in thanksgiving for
  having been extracted from what could easily have become his grave.
</p>
<p>
  This fifth level gives entry to the sixth and seven levels, created spirits
  (angels and devils) and uncreated spirit (God). A whole world opens to human
  inquiry and enjoyment, before which the world of senses and passions is
  assigned its relative, natural value, and not the absolute importance bestowed
  on it by a life bereft of spiritual values.
</p>
<p>
  Lamentably, the confusion between joy and happiness has ruined many a life.
  Three powerful magnets attract the human beast while hiding the pain of
  demagnetization: money, power and sex.
</p>
<p>
  Under their effect, modern man has acquired the aspect of the hound running
  after the mechanical hare: he is like a prisoner locked in a cage with only
  one side, only occasionally glancing sideways or behind to see the ever
  elusive happiness of real freedom.
</p>
<!--  blogArticleImage -->

<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->
<%- include ('../../disqus') %>
<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->


