<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
<h1 class="blogTitle">LACK OF MONEY IS THE ROOT OF ALL EVIL</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Feb 5, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>
<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>

<!--  blogArticleImage -->
<p>
  Dear Money,
</p>
<p>
  There was a time when you acted as a servant of the economy; today you act as
  its master. Instead of facilitating exchanges you hinder them; you have fooled
  people into believing that to have you means to be rich; from simple medium of
  exchange that your nature requires you to be, you have added the purely
  parasitic function of store of value; your masters brazenly lie about your
  nature, prioritizing criminal and illegitimate functions over beneficent and
  legitimate ones; you disappear from the pockets of those who work to swell the
  stream of usurious interest; to do this the bankers your masters deprive
  governments of the power to issue cash as a rapid means of fiscal payment,
  forcing them to recur to cumbersome, expensive and fraudulent credit, which
  confers official units (shillings in East Africa) to fancy pieces of paper, an
  operation that when political power was real would be punished by hanging;
  etcetera.
</p>
<p>
  The problem is a) that we cannot do without you, and b) that we are so
  ignorant and subdued as not to see the way out, not far away but
  psychologically invisible.
</p>
<p>
  Internet offers information by the cartload, but leaves out the assimilating
  capacity of each one. People begin to understand, but exceedingly slowly. Let
  us try to accelerate the process.
</p>
<p>
  When Lord Acton (1834-1902) was Chief Justice of the UK (1875) he said:
</p>
<p>
  The issue which has swept down the centuries and which will have to be fought
  sooner or later is the people versus the banks.
</p>
<p>
  The events between Waterloo (1815) and his days had been enough for him to
  foretell what we are observing 140 years on today. He understood that money,
  instead of being managed by legitimate political power, is managed by an
  illegitimate banking system. Furthermore, the banks do not manage money in the
  interest and advantage of the people, but in their own and their ‘friends’. He
  could see this aberration at work from the time of the Congress of Vienna
  (1815).
</p>
<p>
  Lord Acton’s war has been raging ever since, but unperceived owing to a very
  effective propaganda. And a trusting but ignorant people rely on their sworn
  enemies instead of turning on them, fighting them off and defeating them once
  and for all.
</p>
<h4>
  Knowing the Enemy
</h4>
<p>
  The enemy’s strategy is no other than falsehood. Most people believe that:
</p>
<ul>
  <li>
    Banks are the “safest” place where to keep money;
  </li>
  <li>
    Bank deposits are “loaned” to potential investors;
  </li>
  <li>
    Banks “multiply” circulating money by retaining a fraction of the deposits
    and lending the rest up to ten or more times the amount.
  </li>
  <li>
    Cash is issued by Government.
  </li>
  <li>
    Credit and cash are quantitative as well as qualitative equivalents.
  </li>
</ul>
<h4>
  None of the foregoing propositions is true. The bank instead:
</h4>
<ul>
  <li>
    Appropriates the depositor’s cash at once, transforming it in an IOU with a
    few computer keystrokes.
  </li>
  <li>
    Deposits, allegedly lent to investors, remain in the bank computers. They
    are never lent. No one ever hears on going to the bank, “Sorry sir, we had
    to lend your money to …
  </li>
  <li>
    “Depositors” think that the bank is solvent because they can get cash on
    demand. But when the demand for cash exceeds the reserve, trouble looms on
    the horizon. Other banks come to the rescue with amounts of cash until
    confidence is restored, but if for whatever reason this is not done, it is
    receivership. “Depositors” find that the bank never had the money it said it
    had, except that now the truth is out for all to see.
  </li>
  <li>
    The “multiplier effect” is a being of reason with no counterpart in reality.
  </li>
  <li>
    Governments issue coins. Banknotes and instruments of credit are a
    prerogative (in reality usurpation) of the banking system;
  </li>
  <li>
    Cash is liquid, credit is not. The first moves goods and services every time
    it changes hands; the second pays a cut to the bank at every transaction
    from one account to another.
  </li>
</ul>
<h4>
  Furthermore:
</h4>
<ul>
  <li>
    Banks create money as loans, either to the private or to the public sector.
    “Borrowers” actually issue new purchasing power by signing cheques up to the
    amount agreed.
  </li>
  <li>
    The “capital” thus “loaned” gets overburdened with usury, renamed
    “interest”. Note the utter absence of “emergent harm”, “ceasing gain”,
    “risk” and “liability to forfeit”, the old reasons that justified the extra
    debit when loans were in physical money;
  </li>
  <li>
    The bank obliterates the sum “lent” on its being “repaid” by the borrower.
    It is easier and cheaper to issue new “loans” than keeping old ones into
    circulation. But the ghost sums remain in the books, so as to give the
    impression of solvency.
  </li>
  <li>
    The bank dispossesses the “borrower” of his “collateral” by demanding
    payment when the “borrower” is in difficulty. The law supports the
    operation, hidden in the small print of the contract.
  </li>
  <li>
    The 97% of money in form of credit goes mostly to a) the housing bubble, and
    b) financial speculation. A paltry 8% or so goes into the real economy of
    production and exchange. This is one of the two main reasons (the other is
    the land question) for the ever-increasing gap between the rich and the
    poor.
  </li>
</ul>
<p>
  It follows that waging war on so many fronts would spell a sure defeat. Before
  even thinking about it, it is mandatory to clear the mind of the initial
  falsehoods. Failing to do so makes it impossible to see why one should fight
  at all, and less still understand the tactics to adopt.
</p>
<p>
  In his days, Lord Acton clearly took the part of the people against an
  increasing banking power; today State and banks are in league against the
  people, who naively expect salvation no one knows from.
</p>
<p>
  The only advantage of the people lies in numbers, but only a unified command
  is in a position to field the winning counter-strategy and tactics.
</p>
<p>
  I shall limit this essay to the war against cash. It took two centuries for
  the banks to force the bulk of the economy (up to 97-98%) onto credit
  controlled by them, so that by the beginning of the 21st century they were
  close to a 100% target.
</p>
<p>
  But an unexpected event took the rug from under their feet, dramatically
  upsetting the outcome of the struggle: M-PESA.
</p>
<h4>
  The Blood of the Economy
</h4>
<p>
  Blood acts in a living body by:
</p>
<ul>
  <li>
    Circulating, i.e. repeatedly completing the loop from heart to heart;
  </li>
  <li>
    Never stopping, thus supplying every nook and cranny of every tissue it
    bathes.
  </li>
</ul>
<p>
  In 24 hours, five litres of blood become five tons by circulating 1000 times.
  The metaphor would apply to money if it was not hoarded, but made to act
  exclusively as a medium of exchange; at a limit, a paltry sum of 400 million
  (ten shillings per Kenya citizen) could move 400 billion of goods and services
  simply by circulating 1000 times.
</p>
<p>
  Up to 2007 the banks had successfully prevented this from happening. They do
  not benefit from circulating cash, but from slow-moving credit and from
  possessing the collateral (real wealth) of failed debtors. The Kenya economy
  was limping along, driven on by the entrepreneurial spirit of its citizens but
  slowed down by the State-banks combine.
</p>
<p>
  Then M-PESA burst upon the scene. Every Kenyan reading this knows only too
  well how it works. What M-PESA has meant for the Kenya economy can be glimpsed
  at by a quick drive in areas today feverish with economic activity, but which
  up to 2007 grew no more than wild grasses. Knowledge in depth is still
  lacking, however, and it is the purpose of this article to spell it out.
</p>
<p>
  M-PESA’s benefits can be resumed thus:
</p>
<ul>
  <li>
    A mobile phone has proved a far safer place for one’s money than any current
    bank account. Since the total amount kept in a mobile phone may not exceed
    100,000/- by law, the owner is forced to spend any amount exceeding that
    sum. It is this fast-circulating money that accounts for 7 billion of daily
    M-PESA transactions (2017).
  </li>
  <li>
    This forced spending has effectively nullified the function of store of
    value that academic economists assign to money.
  </li>
  <li>
    The monetary mass has not increased, thus avoiding inflation;
  </li>
</ul>
<p>
  The potential is even higher, but few are aware of it. And it is that these
  spectacular targets have been achieved despite the regulatory limits imposed
  by the CBK.
</p>
<p>
  The maximum amount allowed per transaction remains 70,000/-, the maximum daily
  twice that, 140,000/-. Also, cash payments to public offices are limited to
  2,000/-, thus making it mandatory to have recourse to the banks.
</p>
<p>
  Should these regulatory brakes be lifted, monetary sovereignty would
  dramatically accrue to the people, and a large chunk of financial “services”
  of every kind would become redundant.
</p>
<p>
  If, finally, Government were to reclaim monetary sovereignty, Kenya would take
  such a giant leap forward as to leave behind far more than the rest of Africa.
</p>
<p>
  The concept will be developed in a following article.
</p>

<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->

