<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
<h1 class="blogTitle">PHILOSOPHY: WHAT IS IT AND WHAT IS IT FOR?</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Jan 26, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>
<p>
  Philosophy means “love of wisdom.” But we must know what wisdom is before
  loving it. We spot wisdom at the onset of the age of reason (6-7), as the
  tendency to name things. The infant already seeks the order of the universe.
  Wisdom is that tendency brought to maturity: the ability to order things
  according to the purpose for which they exist. Philosophy is, therefore, not
  to come to know what men have to say, but to investigate the truth of things.
  Philosophy grows out of common sense. There is no easier way to detect false
  philosophy than by spotting anti-common sense propositions in it.
</p>
<p>
  The first great philosophical truth to grasp is that there is in the universe
  a well-ordered hierarchy of visible beings: matter, plant life, animal life,
  human life. A philosopher wants to investigate these beyond sense observation
  to their ultimate causes.
</p>
<p>
  At the level of human life there appears the reality of spirit. This is
  infinitely richer than the levels of matter, plant and animal life put
  together.
</p>
<p>
  The second great philosophical truth is that knowledge is the assimilation of
  levels of being by spirit, and not by any spirit or by any method.
</p>
<p>
  To know something, the mind has to be adequate (the knower must have talent)
  for the thing to be known; and the method by which one pursues knowledge must
  also be adequate. Since truth is the agreement between the mind and things,
  either a faulty mind or a faulty method block the way to it. No knowledge
  results.
</p>
<p>
  The third truth is that the inner world of spirit combines with the outer
  world of visible levels of being to produce four well defined fields of
  knowledge, namely:
</p>
<em>
  <ul>
    <li>
      The knowledge of self by self, by far the most important;
    </li>
    <br />
    <li>
      The knowledge of self by others;
    </li>
    <br />
    <li>
      The knowledge of others, afforded by the Humanities;
    </li>
    <br />
    <li>
      And the knowledge of things, afforded by Science subjects.
    </li>
  </ul>
</em>
<p>
  The fourth and last truth introductory to philosophy is that to live means to
  solve problems, of which there are two types.
</p>
<em>
  <ul>
    <li>
      Problems involving things, in which solutions converge towards some mature
      technology. The car reached maturity some 60 years ago; the computer has
      not yet done so. In 10 years, today’s machines will be as obsolete as the
      steam car was back in the 1930s.
    </li>
    <br />
    <li>
      Problems involving people, in which the solutions seem to diverge, but can
      be made to converge by making use of a higher principle. If a school opts
      for discipline without freedom, it becomes hardly distinguishable from a
      prison; but if it opts for freedom without discipline anything can happen,
      generally disastrous. The solution consists in finding a higher principle
      – love – with makes possible both freedom and discipline. Politics is such
      a difficult endeavour because most problems are of this divergent
      character.
    </li>
  </ul>
</em>
<p>
  The hierarchy of being is studied in Metaphysics (being as being), Cosmology
  (being as changing), Psychology (being as living) and Natural Theology (being
  as self-subsistent);
</p>
<p>
  The philosophy of knowledge is studied in Epistemology (truth and certainty)
  and Logic (the laws of thought);
</p>
<p>
  The fields of knowledge are the domain of education (communication of
  knowledge, understanding and wisdom);
</p>
<p>
  And human problem solving is studied in Ethics (virtues and vices).
</p>
<p>
  Perhaps secondary education would be more exciting if attention was paid to
  philosophy.
</p>
<!--  blogArticleImage -->

<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->

<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->


