<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
<h1 class="blogTitle">Three more confusion of modern man</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Jan 26, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://media.npr.org/assets/img/2015/12/14/confused-c2e1e9d14491a9486d996da945debcc9d6ce7170-s800-c85.jpg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>
<h3>
  Independence and Freedom
</h3>
<p>
  This most ancient confusion dates from the disobedience of our first parents.
  The serpent’s promise was that the two would be in a position to “know” good
  and evil. The term “knowledge”, as noted earlier, is analogical: it changes
  meaning at every level of being. Human knowledge consists in matching the mind
  to things; divine knowledge consists in creating things. The promised
  “knowledge” was therefore the power to decide for themselves what was good and
  what evil.
</p>
<p>
  In other words, they were promised the divine prerogative of independence in
  lieu of human freedom limited by truth. That confusion has prospered beyond
  all bounds.
</p>
<p>
  So what is the problem? Man did not become creator; he (and she) remained
  creatures. And creatures are bound to live in a universe of necessary
  dependencies. A creature, whether man-made or God-made, functions according to
  specifications, decided, always and unfailingly, by the manufacturer. A new
  car comes with a booklet of instructions; woe and betide its owner should he
  decide to ignore them in the name of a mistaken freedom.
</p>
<p>
  This quest for human independence is not innocuous. Its futility is
  inescapable, so that every dream of attaining it inevitably ends up in
  frustration. And since man is a dependent being by nature, claiming
  independence from truth and goodness inevitably ends up in dependencies worse
  than the original one.
</p>
<p>
  One finds that instead of dominating, or judging, the reality attained, one is
  dominated, and judged, by it. Today the canons (restrictions) of musical
  composition, figurative art, architecture etc., have all been ditched, to the
  jubilation of people with more money than sense and of easily bribed petty
  bureaucrats allowing allocating them public spaces to be occupied by assorted
  horrors.
</p>
<p>
  But nature is not mocked, and avenges itself in no uncertain terms.
</p>
<p>
  In the vast world of bridge making, horrors are not possible. There are no
  ugly bridges, period. Why? Whether made of concrete, stone, or suspended, or
  cable-stayed, a bridge must be true, i.e. carry a certain load over a chasm of
  some dimensions.
</p>
<p>
  In those few cases when liberties are taken, trusting “new materials” as
  happened in one case, the first lorry load of gravel caused the structure to
  collapse, and the (next) engineer had to submit to tried and true canons.
  Metaphysics says that beauty and truth go always together, and that is why you
  have no ugly bridges.
</p>
<p>
  For the rest, we have been regaled, if that is the term, with weird, costly
  and uncomfortable buildings which their architects decline to live or work in,
  ear-offending noise going under such barbaric names as jazz and rap,
  “paintings” daubed by donkey’s tails dipped in paint, and steel junk welded
  together into formless shapes in the name of no one knows what.
</p>
<p>
  The dictum “Truth shall make you free” has never been more tested and verified
  than today, but unfortunately together with an induced blindness that prevents
  most people from even detecting this fourth confusion.
</p>
<h3>
  Pain and Suffering
</h3>
<p>
  There is suffering if there is a clash between whatever pain is felt and a
  free will that refuses to accept the pain for whatever reason.
</p>
<p>
  This is clear to all, but most people remain in confusion for not completing
  the reasoning: if the will either accepts pain (again for whatever reason) or
  is absent as dictated by nature, there is pain, but not suffering.
</p>
<p>
  Examples can be had at will. Anyone who has ever tried to walk in shoes with a
  stiletto heel (10 cm more or less) knows that it is an instrument of no mean
  torture; yet fashion, vanity, feeblemindedness or whatever induce women (never
  a man) to spend a miserable day pretending that all is well despite muscles
  pointing in the wrong direction and pains shooting up and down legs, buttocks
  and elsewhere, with the victim feeling like a hero. She has accepted all that
  pain for a vain reason, and therefore has not suffered.
</p>
<p>
  Men may not wear stiletto heels, but they too cherish pain for vain reasons:
  consider runners training at high altitude (with occasional deaths by
  exhaustion), climbers defying freezing temperature and rarefied air (the top
  800m of Mt Everest are decorated (if it is the right word) with 200 corpses of
  people formerly ready to undergo untold-of pains (including financial ones) to
  “realize” themselves) etc.
</p>
<p>
  What about animals? Lacking a free will, they feel pain but do not suffer.
  Scandal, horror, cruelty, lack of compassion and other epithets are hurled at
  anyone who dares to look at nature in the face and say what he (or she) sees.
</p>
<p>
  But philosophy exists to detect and make use of the truth of things. Animal
  lovers, however, are only too ready to ride roughshod over philosophy and
  organize enormously expensive campaigns to endow their beloved beasts with
  “rights” from out of the blue.
</p>
<p>
  But granting an animal a “right” is not a one-way affair: it inevitably
  saddles someone with a corresponding duty that has no existence in the order
  of the cosmos. There comes to mind a new Italian “law” that makes it an
  offence to fail to administer first aid to a wounded dog.
</p>
<p>
  I wonder what such “legislators” would have made of the camel with both rear
  legs broken by a fast moving car in darkness. I happened to see the beast,
  guessing that the owners would be on the spot an hour later to remove it after
  cutting it to pieces with axes and other crude weapons.
</p>
<p>
  And so it was. There was no wailing and no nonsense, but there was meat on the
  table of camel eaters.
</p>
<p>
  Sometimes in the 1970s a hyena managed, no one knows how, to enter the
  perimeter of an African international airport, where it was promptly run over
  by a landing 300-ton 747. The papers published the news in a short paragraph,
  whereupon an animal lover anxiously inquired what had happened to the hyena.
</p>
<p>
  Somebody replied, pointing out that everything had been tried to save it,
  including mouth-to-mouth resuscitation, but to no avail, as the head had been
  neatly severed from the body. Animal rights, you see, have yet to make it into
  “unenlightened” Africa.
</p>
<h3>
  Certainty and Truth
</h3>
<p>
  This last confusion is perhaps the hardest to crack, but let us note that
  neglecting it leads to an abysmal scientific ignorance when not fraud
  (scientists are not immune from it).
</p>
<p>
  Whereas everything true is also certain, not everything that is certain is
  necessarily true. In fact, most certain propositions are not true at all, and
  need not be, for their nature does not require it. There would be no problem
  if the separate roles of the two were acknowledged, but they are not.
  Confusion therefore brings undesirable, when not noxious, results.
</p>
<p>
  Stating the problem, truth is defined as the agreement between the mind and
  things. It follows that things (res, entia) are mathematically represented by
  whole numbers, the integers 1, 2…n. But multiplying and dividing integers
  results in fractions, irrational, transcendental, complex etc. numbers, none
  of which has existence. They are numbering numbers, beings (entia) of reason
  expressing relations. The entia of nature, such as chickens, stones and the
  rest cannot but go one by one, two by two, called numbered numbers.
</p>
<p>
  And here comes what W. R. Thompson (1889-1972) used to call “abuse” of
  mathematics, which consisted in giving existence to expressions of numbering
  number.
</p>
<p>
  An early example of this was the making of time into a “fourth dimension” next
  to length, width and height. Mathematically this is not only possible but also
  expandable at will: string theory has expanded the universe to 11 dimensions,
  coherent and fruitful of results.
</p>
<p>
  But the adaequatio between this phantom universe and reality is as far away as
  ever. There is no res with more than three dimensions anymore than there is a
  square root of a chicken cackling around the farmyard.
</p>
<p>
  Put another way, the agreement between an intellectual construct and another
  is not truth. Things, and only things, beget truth when an inquiring mind
  attains adequacy with them. Intellectual constructs agreeing with one another
  beget certainty, i.e. verifiable results mathematically expressible with
  numbers.
</p>
<p>
  But these numbers are not integers: they are fractions, square-, cubic- etc.
  roots, transcendental numbers like π, φ, etc.
</p>
<p>
  The Aristotelian categories are of enormous help in detecting the difference
  between truth and certainty. Only substance, the first, refers to things; only
  substances have an essence, as St Thomas remarks in his Entity and Essence,
  and only essences can be defined unequivocally. With them we attain truth, the
  only reason for philosophy to exist as the intellectual tool that it is meant
  to be. To know what so-and-so thinks or speculates may be interesting, but it
  is not philosophy.
</p>
<p>
  Philosophy is therefore, in its largest meaning, ancilla omnium scibilium, not
  only theologiae as the Scholastics would have it. Having neglected this has
  caused modern faculties of philosophy to be like workshops perfectly equipped
  with tools but with no raw materials to work on. Naturally, no meeting of
  minds ever occurs between scientists and philosophers, who go on scowling at
  each other without attaining the understanding that both of them need to live
  and work in an intelligible universe. Den Anoisíes
</p>
<!--  blogArticleImage -->

<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->
<%- include ('../../disqus') %>
<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->


