
<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="">
	<!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Home - Conversation unlimited with Silbor</title>
		
	
	
<link href="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/style.css" rel="stylesheet" type="text/css">
<link href="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/css/extra.css" rel="stylesheet" type="text/css">
<link href="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/css/flexslider.css" rel="stylesheet" type="text/css">
<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/modernizr-2.6.2.min.js" type="text/javascript"></script>
<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/jquery-1.11.1.min.js" type="text/javascript"></script>

<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/bootstrap.min.js" type="text/javascript"></script>
<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/custom-select.js" type="text/javascript"></script>
<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/owl.carousel.min.js" type="text/javascript"></script>
<script src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/themes/sunwords/js/lib/jquery.fitvids.js" type="text/javascript"></script>
 <script type="text/javascript">
    if (navigator.userAgent.indexOf('Opera Mini') > -1) {  
        $('html').addClass('opera-mini');
    } 
</script>

 
<!-- This site is optimized with the Yoast SEO plugin v12.4 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
<link rel="canonical" href="https://sunwords.com/" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Home - Sunwords.com by Sunny Bindra" />
<meta property="og:url" content="https://sunwords.com/" />
<meta property="og:site_name" content="Sunwords.com by Sunny Bindra" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Home - Sunwords.com by Sunny Bindra" />
<meta name="twitter:site" content="@sunnysunwords" />
<meta name="twitter:creator" content="@sunnysunwords" />
<script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://sunwords.com/#website","url":"https://sunwords.com/","name":"Sunwords.com by Sunny Bindra","potentialAction":{"@type":"SearchAction","target":"https://sunwords.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"https://sunwords.com/#webpage","url":"https://sunwords.com/","inLanguage":"en-GB","name":"Home - Sunwords.com by Sunny Bindra","isPartOf":{"@id":"https://sunwords.com/#website"},"datePublished":"2015-09-02T07:25:41+00:00","dateModified":"2019-11-08T10:10:14+00:00"}]}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//s.w.org' />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/sunwords.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.9"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel='stylesheet' id='wordpress-popular-posts-css-css'  href='https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/plugins/wordpress-popular-posts/assets/css/wpp.css?ver=5.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='addtoany-css'  href='https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/plugins/add-to-any/addtoany.min.css?ver=1.15' type='text/css' media='all' />
<script type='text/javascript' src='https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/plugins/add-to-any/addtoany.min.js?ver=1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpp_params = {"sampling_active":"0","sampling_rate":"100","ajax_url":"https:\/\/sunwords.com\/wp-json\/wordpress-popular-posts\/v1\/popular-posts","ID":"","token":"95703d826f","debug":""};
/* ]]> */
</script>
<script type='text/javascript' src='https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/plugins/wordpress-popular-posts/assets/js/wpp-5.0.0.min.js?ver=5.0.1'></script>
<link rel='https://api.w.org/' href='https://sunwords.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://sunwords.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://sunwords.com/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='https://sunwords.com/' />
<link rel="alternate" type="application/json+oembed" href="https://sunwords.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsunwords.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://sunwords.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsunwords.com%2F&#038;format=xml" />

<script data-cfasync="false">
window.a2a_config=window.a2a_config||{};a2a_config.callbacks=[];a2a_config.overlays=[];a2a_config.templates={};a2a_localize = {
	Share: "Share",
	Save: "Save",
	Subscribe: "Subscribe",
	Email: "Email",
	Bookmark: "Bookmark",
	ShowAll: "Show All",
	ShowLess: "Show less",
	FindServices: "Find service(s)",
	FindAnyServiceToAddTo: "Instantly find any service to add to",
	PoweredBy: "Powered by",
	ShareViaEmail: "Share via email",
	SubscribeViaEmail: "Subscribe via email",
	BookmarkInYourBrowser: "Bookmark in your browser",
	BookmarkInstructions: "Press Ctrl+D or \u2318+D to bookmark this page",
	AddToYourFavorites: "Add to your favourites",
	SendFromWebOrProgram: "Send from any email address or email program",
	EmailProgram: "Email program",
	More: "More&#8230;",
	ThanksForSharing: "Thanks for sharing!",
	ThanksForFollowing: "Thanks for following!"
};

(function(d,s,a,b){a=d.createElement(s);b=d.getElementsByTagName(s)[0];a.async=1;a.src="https://static.addtoany.com/menu/page.js";b.parentNode.insertBefore(a,b);})(document,"script");
</script>
		<style type="text/css" id="wp-custom-css">
			/* Custom Styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Oswald');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300|Nanum+Gothic|Oranienbaum&display=swap');

/* Videos page (/the-bigger-deal) 
 * Hide left-aligned logo for description
 * */

.rightbdIntro {
	width: 100% !important;
	padding:0 !important;
}

/* Periodical Page */
.bdPkgsImg img { height:193px; }

/* Fonts test - Test Page */
.font_oswald_regular {font-family: 'Oswald';}
.font_montserrat {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.font_oranienbaum {font-family: 'Oranienbaum', serif;}

.font_nanum {font-family: 'Nanum Gothic', sans-serif;}

.font_encode {font-family: 'Encode Sans Condensed', sans-serif;}

/* Book CTA */
#book-cta p {
	font-size: 1em;
}		</style>
	 					

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70295350-1', 'auto');
  ga('send', 'pageview');

</script>		
						
	</head>

<body>
		<div class="preloader"></div>
		<div id="page-wrapper">
			<header id="topSection">
           <div class="loginSearch clearfix">
               <div class="innerloginsearch">
   
               </div>
               <!-- innerloginsearch -->           
            </div>
            <!-- loginSearch -->          
				<div id="innerTopSection" class="container-fluid">
					<!-- <a href="/" class="logo"><img src="" /></a> -->
					<nav class="mainNav">
                        <ul id="menu-main-menu" class="menu"><li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-34"><a href="/">Home</a></li>
							<li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="about">About</a></li>
							<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-27"><a href="#/">Articles</a>
							<ul class="sub-menu">
								<li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a href="history">Economics</a></li>
								<li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176"><a href="history">Politics</a></li>
								<li id="menu-item-7070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7070"><a href="history">Health</a></li>
								<li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a href="history">History</a></li>
								<li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176"><a href="history">Science</a></li>
								<li id="menu-item-7070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7070"><a href="history">Philosophy</a></li>
							</ul>
							</li>
							<!-- <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-30"><a href="https://sunwords.com/books/">Books</a>
							<ul class="sub-menu">
								<li id="menu-item-163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href="https://sunwords.com/books/the-bigger-deal/">The Bigger Deal</a></li>
								<li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="https://sunwords.com/books/the-peculiar-kenyan/">The Peculiar Kenyan</a></li>
								<li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="https://sunwords.com/books/crown-your-customer/">Crown Your Customer</a></li>
							</ul>
							</li> -->
							<li id="menu-item-7098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7098"><a href="#">Photo Gallery</a></li>
							<li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="#">Videos</a></li>
							<li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="#">Leadership</a></li>
							<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-33"><a href="#">Get In Touch</a></li>
							</ul>					</nav>

					

				</div>
				<!--innerTopSection-->

			</header>
			<!--topSection-->
<!--topSection-->
<section id="bannerSection">
	<div class="singleBanner">
	
		<img src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2015/09/word-banner-1680x900.jpg"/>
		<div class="slideContent">
			<h1 class="slideDesc">"CONVERSATION UNLIMITED<span class="yellowLight"> WITH SILBOR"</span></h1>
			
 			
			
			<!--<h1 class="slideDesc">Article Tagged In <span class="yellowLight"></span></h1>-->
			
		</div>
		<!--  bannerDownloadSection  -->
	</div>
	<!-- singleBanner -->
</section>



<main id="midSection">
	<div class="row fullcontentSection blogMidsection">
		<div class="col-lg-12">
			<div class="blogSection">
				<nav class="blogBreadcrumbs">   

				<ul id="menu-words-categories" class="menu">	
                   		
				<li class="cat-item  cat-item-38"><a href="#">Science</a>
		</li>
				<li class="cat-item cat-item-39"><a href="#">Education</a>
		</li>
				<li class="cat-item cat-item-33"><a href="#">Economics</a>
		</li>
				<li class="cat-item cat-item-34"><a href="#">Politics</a>
		</li>
				<li class="cat-item  cat-item-35"><a href="#">History</a>
		</li>
				<li class="cat-item cat-item-36"><a href="#">Health</a>
		</li>
				<li class="cat-item cat-item-32"><a href="#">Evolution</a>
		</li>
				<li class="cat-item cat-item-37"><a href="#">Philosophy</a>
		</li>
	</li>
	<li class="cat-item cat-item-37"><a href="#">Religion</a>
</li>
		                   			
                   					
                     		
                </ul>
				
</nav>		