<h3>More Like This</h3>

<ul class="slides">


                    <li>
                        <div class="relatedPost">
                            <a href="banks">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://bohatala.com/wp-content/uploads/2018/01/Central-Banks.jpg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-300x300.jpg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-45x45.jpg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Jan 19, 2020</span>
                                <span class="relatedPostTitle">ARE BANKS REALLY NECESSARY?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="difficult-money">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Dec 01, 2019</span>
                                <span class="relatedPostTitle">WHY IS IT DIFFICULT TO UNDERSTAND MONEY</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="land">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Nov 24, 2019</span>
                                <span class="relatedPostTitle">THE LAND QUESTION IN HISTORY</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="food">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Nov 10, 2019</span>
                                <span class="relatedPostTitle">FOOD FOR THOUGHT</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     



             
               
                </ul>
                <!-- slides -->

            </div>
            <!-- realtedCarousel -->        
        
<span class="endClause">Like it? Hate it? Engage here</span>


<div id="disqus_thread"></div>

        
         
    </div>						
   
               
                <div class="rightBlogArticleFull">
                    <div class="blogGroupsCont">


<div>
<h3>Popular Posts</h3>
<!-- WordPress Popular Posts -->

<ul class="wpp-list">
<li>
    <div class="popImgHold">
        <a href="#" target="_self">
            <img width="150" height="150" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-150x150.jpeg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" data-img-srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-45x45.jpeg 45w" sizes="(max-width: 150px) 100vw, 150px" />
        </a> 
    </div>
    <div class="popTxtHold">
        <a href="lack-of-money" class="wpp-post-title" target="_self">LACK OF MONEY IS THE ROOT OF ALL EVIL</a>
        <span class="wpp-date">January 5, 2020</span>
    </div>
</li>
<li>
    <div class="popImgHold">
        <a href="#" target="_self">
            <img width="150" height="106" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/Best-Books-of-2019-e1577193293187.jpg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" />
        </a> 
    </div>
    <div class="popTxtHold">
        <a href="land" class="wpp-post-title" target="_self">LAND QUESTION IN HISTORY</a>
        <span class="wpp-date">December 24, 2019</span>
    </div>
</li>
<li>
    <div class="popImgHold">
        <a href="#" target="_self">
            <img width="150" height="100" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/frank-mckenna-4V8JxijgZ_c-unsplash-e1577291931938.jpg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" /></a> 
        </div>
        <div class="popTxtHold">
            <a href="food" class="wpp-post-title" target="_self">FOOD FOR THOUGHT</a>
            <span class="wpp-date">December 29, 2019</span>
        </div>
    </li>


</ul>

</div>
<div>
    <h3>Latest Posts</h3>
    <div  class="rpwe-block ">
        <ul class="rpwe-ul">
            <li class="rpwe-li rpwe-clearfix">
                <a class="rpwe-img" href="#"  rel="bookmark">
                    <img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-130x130.jpg" alt="How will you use your new superpower?">
                </a>
                <h3 class="rpwe-title">
                    <a href="banks" title="Permalink to How will you use your new superpower?" rel="bookmark">ARE BANKS REALLY NECESSARY?</a>
                </h3>
                <time class="rpwe-time published" datetime="2020-01-19T07:00:06+00:00">Jan 19, 2020</time>
            </li>
            
        <li class="rpwe-li rpwe-clearfix">
            <a class="rpwe-img" href="#"  rel="bookmark">
                <img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-130x130.jpeg" alt="Do you shoulder blame, or dodge it?">
            </a>
            <h3 class="rpwe-title">
                <a href="land" title="Permalink to Do you shoulder blame, or dodge it?" rel="bookmark">THE LAND QUESTION IN HISTORY</a>
            </h3>
            <time class="rpwe-time published" datetime="2020-01-05T07:00:33+00:00">Jan 05, 2020</time>
        </li>
        <li class="rpwe-li rpwe-clearfix">
            <a class="rpwe-img" href="#"  rel="bookmark">
                <img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/frank-mckenna-4V8JxijgZ_c-unsplash-e1577291931938-130x130.jpg" alt="Are you honouring your mother, or defacing her?">
            </a>
            <h3 class="rpwe-title">
                <a href="food" title="Permalink to Are you honouring your mother, or defacing her?" rel="bookmark">FOOD FOR THOUGHT</a>
            </h3>
            <time class="rpwe-time published" datetime="2019-12-29T07:00:21+00:00">Dec 29, 2019</time>
        </li>
       
    </ul>

</div><!-- Generated by http://wordpress.org/plugins/recent-posts-widget-extended/ -->

</div><div><h3>Archives</h3>		<label class="screen-reader-text" for="archives-dropdown-2">Archives</label>
<select id="archives-dropdown-2" name="archive-dropdown" onchange='document.location.href=this.options[this.selectedIndex].value;'>

<option value="">Select Month</option>
<option value='#'> January 2020 &nbsp;(4)</option>
</select>