
<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
        

        <h1 class="blogTitle">ARE BANKS NECESSARY?</h1>

        <div class="blogMetaCont">
          <span class="blogMeta blogDate">Feb 5, 2020</span>
        
          <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
        </div>
        <h4>From Joe Donde to Governor Njoroge</h4>
        <div class="blogArticleImage">
          <img
            width="1000"
            height="500"
            src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
            class="attachment-articleimg size-articleimg wp-post-image"
            alt=""
          />
        </div>
        
        <!--  blogArticleImage -->
        <p>
          In November 2000 Joe Donde, MP for Gem, tabled a bill trying to impose
          interest rate limits on the Kenya banks.
        </p>
        <p>
          The bill passed, but on being challenged by the Executive it remained dead
          letter. Donde was reviled, side-tracked and finally forced out of politics.
        </p>
        <p>
          His bill, dictated in the interests of the people, had made of him an
          unwitting element in the struggle foreseen by Lord Acton 140 years ago:
        </p>
        <p>
          The issue which has swept down the centuries and which will have to be fought
          sooner or later <strong>the people versus the banks</strong> .1
        </p>
        <p>
          The Kenya banks plodded along in a false sense of security, hiding from the
          public that their control of money to the tune of 95% credit v. 5% cash was
          the main cause of:
        </p>
        <ul>
          <li>
            a sluggish economy, with people unable to sell the fruits of their labour
            unless under their umbrella;
          </li>
          <li>
            Priority of growth at the expense of development, a policy that favours big
            concerns and penalizes small and medium ones, up to driving them out of
            existence;
          </li>
          <li>
            “Export driving” the economy, by setting up EPZs where Kenyans produce
            first-class articles for export at substandard wages, to the advantage of
            import-exporters;
          </li>
          <li>
            An economy driven by finance in the urban centres, with concomitant
            depopulation and poverty in the countryside;
          </li>
          <li>
            The increasing, seemingly unstoppable gap between the rich and the poor;
          </li>
          <li>Rampant unemployment, idle youth and underused resources.</li>
        </ul>
        <p>
          All the while, a plethora of “controls” had been “legislated” to “regulate”
          the banks, but without stopping them from creating money passed off as
          “loans”. Such feeble controls let real power rest with the money creators. But
          in 2000 they could not foresee either M-PESA or Governor Njoroge, seven and 15
          years in the future respectively.
        </p>
        <p>
          Enter M-PESA, catching the banks on the wrong foot and showing to the whole
          world that velocity of circulation is what really matters for any currency.
          Tens of thousands of M-PESA kiosks have since commandeered some 100 billion
          shillings’ cash away from bank tills. This relatively modest sum, in the form
          of electronic impulses jumping from cellular to cellular now moves goods and
          services in excess of 5 billion daily.
        </p>
        <p>
          The banks reacted, but all they got was a Central Bank limit of 70 000/- per
          M-PESA transaction, twice a day, and a maximum of 100 000/- stored in any
          cellular phone at any given time. Also, they got Government not to accept
          M-PESA in payment of taxes, a restriction that only now is slowly been
          relaxed.
        </p>
        <p>
          Enter Governor Njoroge, who lost no time in enforcing political controls that
          had been in abeyance for years. He got the banks to toe the line,
          unhesitatingly sending some into receivership for non–compliance.
        </p>
        <p>
          The banks are keenly aware that the removal of M-PESA restrictions and the
          acceptance of M-PESA in payment of taxes would make them largely if not
          completely redundant, which brings us back to Lord Acton. Governor Njoroge,
          like Joe Donde, clearly sides with the people in the struggle. What if he went
          further? Before answering, let us take a look at some inconspicuous but
          telling phenomena.
        </p>
        
        <h4>Islands of Development</h4>
        <p>
          The four examples that follow tell as many stories, to which readers may add
          their own. Their names are Flyover, Mlolongo, Kikopey and Migingo Island,
          recently jumped to notoriety.
        </p>
        <p>
          Flyover is the oldest of the four, at the very top of the escarpment before
          the descent towards Naivasha. It dates from 1977, named after an actual
          flyover branching off to Thika, 77km to the East. It consists of a neat array
          of kiosks, with joints for every taste. There are no high-rise buildings. The
          last joint on the line bears the rather improbable name of Kissinger’s Inn. At
          2700m a.s.l. it can get cold in Flyover. But people have prospered there for
          almost 40 years and do not appear any the worse for it. Total population does
          not exceed maybe 2000.
        </p>
        <p>
          Mlolongo has a more chequered history. There was only savannah there in 1984,
          when a weighbridge station was set up. This disrupted the sand trade between
          the quarries of Machakos and Nairobi, imposing a toll on the traders. They
          circumvented it by dumping the sand at Mlolongo to sell it there toll-free.
        </p>
        <p>
          Around that trade there began to mushroom food and drinking joints,
          multi-storey lodgings, dispensaries, locksmiths, churches, schools,
          supermarkets, live entertainment cabarets and what have you. By the year 2000
          Mlolongo was a sprawling township of perhaps 20 000. When the Road Authority
          asked them to demolish structures that had encroached on the road reserve,
          they did so without batting an eyelid. After a fast development, Mlolongo is
          now undergoing substantial growth.
        </p>
        <p>
          Kikopey is located some 40km from Nakuru. It took off after the so-called
          “clashes” of 1990, when thousands of people sought safety in distance from
          such places as Burnt Forest and Londiani. In their flight they stopped at
          Kikopey and settled. 25 years later the place, probably 4000 strong, is
          advertised as a “paradise for meat lovers”. Growth has begun in the shape of
          an imposing five-storey building on the right as you enter the place from
          Nairobi.
        </p>
        <p>
          Migingo Island is the most astonishing of the four. An estimated 1000-1500
          people huddle together in a speck of land of 2000m2 (1/3 of a soccer pitch),
          living off catches of Nile perch and seeking security in numbers.1 The island
          sports five bars, a resident medical doctor, a church, “hotels” and even a
          “beauty parlour”.
        </p>
        <p>Now let us analyze. What do these locations have in common?</p>
        <ul>
          <li>
            There are no beggars and no idlers. Everyone works. It amused me one
            Saturday cycling through Mlolongo to observe a street preacher trying in
            vain to attract attention. People obviously had better things to do.
          </li>
          <li>
            Except for Migingo, there are no forces of law and order. It is a sign that
            where everyone knows everyone else law and order take care of themselves.
          </li>
          <li>
            There are no signs of officialdom, i.e. people sitting in offices shuffling
            papers to each other and calling that “work”.
          </li>
          <li>
            Civil authorities exist, but acknowledged by the people, not by officialdom.
          </li>
          <li>And most tellingly, there are no banks.</li>
        </ul>
        <p>All of which suggests some conclusions.</p>
        <p>
          First: for a place to develop, i.e. to reach the stage of full employment
          before growth (increase in size), banks are unnecessary.
        </p>
        <p>
          Second: after having usurped political power, banks have been waging a war
          without quarters on liquid cash, which over the years has been reduced to a
          paltry 5% or less of the money fuelling the economy. But scarce cash, not bank
          credit, financed the development of Flyover, Mlolongo, Kikopey and Migingo.
        </p>
        <p>
          Third: the way banks issue credit benefits only themselves and their friends,
          according to a modus operandi long known as the boom-and-bust cycle passed off
          as a “law” of economics.
        </p>
        <p>
          It is not a “law”. The boom begins by deliberately but haphazardly expanding
          credit. On the one hand this increases the purchasing power of borrowers,
          while on the other it penalizes savers with a general increase in prices
          ignorantly dubbed “inflation”, and blaming for it anybody but the banks. After
          a while they say abracadabra and contract credit as haphazardly as they had
          granted it. Purchasing power decreases, deflation sets in and scores of
          concerns go bankrupt. Consumers rejoice, producers go under and the banks make
          profit both ways.
        </p>
        <p>
          What is rather galling is that the CB is utterly powerless to stop this
          noxious cycle, since the issue of money, the sinews of the economy, continues
          to be in the wrong hands, openly swindling consumers with credit expansion and
          producers with credit contraction (“crunch” in politically correct terms) with
          impunity.
        </p>
        <p>
          M-PESA threw a large spanner into their works, crippling the malevolent
          activity of the enemies of the people, but not quite stopping it. Governor
          Njoroge has thrown in his own spanner, enforcing legal controls but leaving
          intact the basic canker. The Swiss people have just announced a referendum on
          this very issue, likely to usher a thorough monetary reform in a position to
          restore order.
        </p>
        <p>
          Before talking of reform, as Chesterton remarked, let us pay attention to
          form. A fundamental awareness is needed of the radical contradiction between
          the two functions of money as medium of exchange and store of value, kept
          together in the same coin-banknote-cheque. This contradiction has existed for
          the past 2500 years, failing however to attract the attention it deserves.1
        </p>
        <p>The consequences of this unnatural coupling are all negative, e.g:</p>
        <ol>
          <li>
            It splits society into money owners and money users, with the first in a
            position to demand –and obtain- tribute from the second. This tribute is
            usury, nakedly imposed on every member of society but skillfully made to
            pass unnoticed.
          </li>
          <li>
            Usury alone is responsible for the economic ills listed earlier, the most
            conspicuous being the baffling gap between the rich and the poor.
          </li>
          <li>
            That contradiction has always made it impossible for any currency to
            guarantee the stability of domestic prices and foreign exchange rates.
          </li>
          <p>
            If you reader do not see these preliminaries, or judge them unimportant,
            read no further. But do not expect solutions either. A contradiction is
            solved by eliminating one of the terms, not by impossibly combining both in
            the forlorn hope that somehow they will work.
          </p>
          <p>
            But if you reader see them, and judge them important, you will see the
            solution below.
          </p>
          <li>
            Adopting a double currency in the model of the Latin Monetary Union
            (1865-1915): a first, national pure medium of exchange with zero intrinsic
            value, inconvertible and reserved to domestic transactions; a second,
            convertible and reserved for foreign transactions.
          </li>
          <li>
            The domestic currency, bereft of store of value and forced to circulate by a
            negative interest on hoarding, would nullify any attempt at embezzling even
            paltry sums, let alone humongous ones like the recent 140 billion that
            disappeared from the CB itself or the 800 million earlier vanished from the
            Devolution Office.
          </li>
          <li>
            Liberalizing all M-PESA transactions, while reasonably limiting the sum
            stored in a cellular phone, so as to entice people into spending, while
            discouraging hoarding.
          </li>
          <li>
            Removing the prerogative of money emission from the banks and restoring it
            to Government, with the duty to issue the means of payment for taxes instead
            of borrowing it from third parties.
          </li>
          <li>
            Repudiating the public debt on the grounds that nothing has been loaned,
            therefore nothing is due.1
          </li>
        </ol>
        <p>
          The aforementioned measures would not so much abolish as re-dimension the
          banks into institutions lending liquidity that they have instead of creating
          from nothing money they don’t have. Resistance would be stiff, but eventually
          order would be restored, especially if supported by an increasingly
          enlightened people.
        </p>
        <!--<span class="endClause">Tagged under</span>
        <span class="">the_tags(' ');</span>-->
        
       
            <div class="realtedCarousel flexslider">
               
                    <%- include ('../../related') %>
</div>
                 

                    </div>
                    <!-- blogGroupsCont -->

                </div>
                <!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->




