
<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
        

        <h1 class="blogTitle">WHY IS IT SO DIFFICULT TO UNDERSTAND MONEY?</h1>

        <div class="blogMetaCont">
          <span class="blogMeta blogDate">Feb 5, 2020</span>
        
          <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
        </div>
        
        <div class="blogArticleImage">
          <img
            width="1000"
            height="500"
            src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
            class="attachment-articleimg size-articleimg wp-post-image"
            alt=""
          />
        </div>
     
       
        <!--  blogArticleImage -->
        <p>
            The following are obvious symptoms of the difficulty aired in the title. For
            instance:
          </p>
          <em>
            <ul>
              <li>
                There is no univocal definition of money. One can find as many as four
                descriptions, but not a single definition;
              </li>
              <br />
              <li>
                There is no unifying theory. Every so-called “monetary school” speaks for
                itself only;
              </li>
              <br />
              <li>
                The terms in use confuse instead of clarifying ideas: money, value, usury,
                interest, credit, liquidity, debit-money, medium of exchange, inflation,
                finance, banking industry, wealth, and what have you;
              </li>
              <br />
              <li>
                What is written in books contradicts what happens in reality, often
                strikingly;
              </li>
            </ul>
          </em>
          
          <p>
            Is it possible to sort out the mess?
          </p>
          <p>
            Let us begin by underscoring the philosophical nature of the problem. If
            philosophy is the love of wisdom, and if the wise is one who orders, it means
            that the symptoms listed above do not occupy in the mind the same place they
            occupy outside it.
          </p>
          <h3>The initial oversight</h3>
          <p>
            Aristotle warned that “a small error at the beginning leads to great errors in
            the end”; and this is true also for an oversight, which is an error of
            perception and not a philosophical one. Let us follow it up.
          </p>
          <p>
            Writers of monetary matters always begin by pointing out a) that money exists
            to facilitate barter; and b) that the fundamental function of money is to act
            as a medium of exchange, or as intermediary of exchanges.
          </p>
          <p>
            Everything that follows hinges on the functions as medium/intermediary. The
            nature of the exchange is lost sight of: here is the oversight. It is not a
            small matter, as we shall see anon. Let us begin then by trying to understand
            what an exchange is.
          </p>
          <p>
            Barter is easily understood: A desires a thing in possession of B, and B
            desires another thing in possession of A. Barter is completed at the exchange.
            This completion, which in barter can be taken for granted, is instead
            overlooked by monetary theorists. Let us see.
          </p>
          <p>
            A desires a thing in possession of B, but B desires nothing in possession of
            A. He is however ready to give A the thing in exchange for a receipt, with
            which he can obtain what he desires from C. Money is nothing but that receipt.
          </p>
          <p>
            Here the monetary theorist stops, and he/she begins to focus on the “medium of
            exchange”: what it is made of, its repercussions on the economy, on finance,
            etc. The result is a plethora of considerations that lead one further and
            further away from understanding the phenomenon, and which are anything but
            harmless: people have been suffering them on their own skin since the crisis
            of 2008. The crisis caught most people unawares; those in the know had
            predicted it some 20 years earlier.
          </p>
          <p>
            Let us go back to barter. The contracting parties are satisfied when they
            enter in mutual possession of the goods (or services1) exchanged. But when
            money comes into the picture, it is an error to consider the exchange complete
            when the party that receives payment keeps the sum without letting it
            circulate further. The exchange has not yet duplicated barter, and therefore
            money is performing a function other than that of medium of exchange. This is
            complete only when B gets rid of the money received to get what he wants from
            C.
          </p>
          <p>
            For the sake of coherence, therefore, let us say that if money “must act as”
            medium of exchange, it can be “called” money on completion of the exchange,
            not before.
          </p>
          <p>
            What has happened on completion of the exchange, philosophically speaking, is
            that money has <strong>has remained a relation</strong> , acting as a
            certificate of completed transaction. It has disappeared from the hands of
            both contracting parties, who have in their possession the goods/services
            desired. When the exchange has not been completed, instead, B is now in
            possession of money,
            <strong> in no way obliged to make it circulate further.</strong>
          </p>
          <p>
            This is the origin of the economic disorder that grips the world. The
            consequences have been ruinous, and still are. Let us scrutinize them. An
            <strong>Ambiguous Term</strong>
          </p>
          <p>
            For the sake of coherence, two different realities: medium of exchange and
            store of value, should be given different names, but perversely they are both
            termed “money”. With this ambiguity we shall deal till the end of the article.
          </p>
          <p>
            The ambiguity, however, does not extend exclusively to the double function of
            money. It has to do, and not to a trifling extent, with the structure of a
            society with a monetary economy, indispensable wherever there arises division
            of labour.
          </p>
          <p>
            Our discourse, up to now, idealizes a society where everybody produces
            something and is desirous to exchange it with what he does not produce.
          </p>
          <p>
            But where is such a society to be found today? From the time of the Industrial
            revolution, the number of non-producers has increased immeasurably, and the
            problem still to be solved is how to justify the salaries of such people.
          </p>
          <p>
            Were we to enter into the thick of that problem, a treatise would have to be
            written, not a simple article. Let us be content therefore with understanding
            the nature of money, and see where legitimate conclusions lead us.
          </p>
          <h3>
            Supply and Demand: a Law?
          </h3>
          <p>
            If all those who receive money in exchange for goods/services produced by them
            re-spent it immediately to get the good/service desired, there would be no
            problem. Money and goods/services would behave like a rack-and-pinion
            mechanism. The pinion, engaged onto the straight rack, would represent the
            money, perpetually returning to market after each transaction, and the rack
            would represent the endless stream of goods/services moving from producer to
            consumer, ceaselessly and uni-directionally.
          </p>
          <p></p>
      
        <!--<span class="endClause">Tagged under</span>
        <span class="">the_tags(' ');</span>-->
        
       
            <div class="realtedCarousel flexslider">
               
                    <%- include ('../../related') %>
</div>
                 

                    </div>
                    <!-- blogGroupsCont -->

                </div>
                <!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->































