
<div class="blogArticleFull">
        <div class="leftBlogArticleFull" >
            
    
            <h1 class="blogTitle">NEGOTIATING LOANS</h1>
    
            <div class="blogMetaCont">
              <span class="blogMeta blogDate">Feb 5, 2020</span>
            
              <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
            </div>
            <h3>The 2007 Watershed</h3>
            <div class="blogArticleImage">
              <img
                width="1000"
                height="500"
                src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
                class="attachment-articleimg size-articleimg wp-post-image"
                alt=""
              />
            </div>
            <p>
                    Many small people used to deposit cash in banks before 2007, pre-M-PESA days. The banks relied on that endless flow to give the impression of never-ending liquidity, and therefore solvency.
            </p>
            <p>
                    With M-PESA, cash has permanently migrated from bank tellers to M-PESA kiosks, with a double effect:
            </p>
            <ul>
                <li>
                    <em>
                            Forcing the banks to mine the M-PESA reservoir for cash;
                    </em>
                </li>
                <br>
                <li>
                        <em>
                                Making people aware of this weakness, enticing them into negotiating a bank “loan” in more favourable terms.
                        </em>
                    </li>
                    <br>
                
            </ul>
            <p>
                    Let us take a peek at one such negotiation.
            </p>
            <h3>
                    Counterstrategy e Counter Tactics
            </h3>
            <p>
                    Observation and experience tell us two things:
            </p>
            <ul>
                <li>
                    <em>
                            Scarcity of cash and rampant credit are engines of poverty because they exist in the interest of money’s possessors and controllers, not of its daily users.
                    </em>
                </li>
                <br>
                <li>
                        <em>
                                It is useless to appeal to political power to overturn the situation. When crisis strikes, politicians create rivers of cash that fill bank puddles, but do not flow into where people produce and exchange real wealth.
                        </em>
                    </li>
                    <br>

            </ul>
            <p>
                    To overturn the situation, the first line of action consists in avoiding credit and creating alternatives to cash, with the final aim of abolishing the first and making use exclusively of the second, raised eventually to its true function as blood of the economy.
            </p>
            <p>
                    It will not be easy, but not impossible either. Today’s conventional alternative is either getting into debt with the banking system and have money, or not indebting oneself and have no money. But as the whole thing is based on falsehood, the first, costless step is to understand how the system works and to impose the truth on the banker. How?
            </p>
            <p>
                    Let us go to the bank to negotiate a “loan”.
            </p>
            <p>
                   <strong> Borrower:</strong> “You are granting me a loan of so much (Shs, $, whatever), on which I owe an interest of so much %. Could you specify on what grounds do I owe you that interest?
            </p>
            <p>
                <strong>Lender:</strong> It is customary to pay interest on debt.
            </p>
            <p>
                   <strong> Borrower:</strong> Customary yes, acceptable no. It would be acceptable if the credit you grant me were a true loan. But it isn’t. You don’t deprive yourself of cash; you authorize me to print figures on a piece of paper that acquires full powers, from you, to call itself “money” when I spend it.
            </p>
            <p>
                <strong>Lender: </strong>Such are the conditions imposed by the system.
            </p>
            <p>
                    <strong>Borrower:</strong>  Agree, but the system began to justify interest on the basis of “emerging harm” or “ceasing gain”, which can exist only in a physical loan. Could you indicate how and where at least one of the two exists today to justify not just simple, but compound interest?
            </p>
            <p>
                  <strong>Lender (is struck dumb, then):</strong>   What alternative do you propose?
            </p>
            <p>
                  <strong>Borrower:</strong>   A negotiated lump sum, payable as a fee for the service. I am aware that the bank deletes sums received in repayment of principal, and that if it accepted my proposal would have to lower its standard of living somewhat. I propose therefore to keep such sums at the disposal of potential borrowers. Thus the bank would do what it says it does but doesn’t: lending money it has instead of creating from thin air money it doesn’t have.” 
            </p>
            <p>
                    The first bold person with the guts to speak to a banker in these terms would be shown the door in minutes. But if a second borrower showed up, then five, then 500 etc. with the same proposal, the system would be forced against its will, seeing the universal perception of an undeniable reality, to see reason. Eventually popular initiative would obliterate compound interest from the monetary economy once and for all.
            </p>
            <p>
                    I repeat that the economic cost of such operation would be nil, but there is more to it.
            </p>
            <p>
                    Facing such a demonstration of popular, non-violent, strength, the State would not be in a position to support the banks against the people. It could only take stock of what has happened. 
            </p>
            <p>
                    It is further possible that the most intelligent among its myrmidons noticed that the argument is also valid as regards the public debt, and that sufficiently concerted political action could induce the international banks to see reason. Numbers, especially if from many countries together, would protect them from retaliations like the ones visited on isolated statesmen that tried to oppose the power of the banks, from Napoleon to Kennedy.
            </p>
            <h3>Liquidity</h3>
            <p>
                    After inflicting a (hopefully deadly) blow to credit, let us pay attention to liquid cash. We have seen that once upon a time cash, diversified and abundant, satisfied all the needs of an economy. With uniformity imposed on it, first by the State and today by Central Banks, cash has become scarce and captive to usury.
            </p>
            <p>
                    To revive cash in its former variety and abundance, let us remember that only acceptance by the economic operators gives life to a currency, not the issuing authority. And for a currency to be freely moving, it is necessary to break the incantation that sees money backed by the powers of the State.
            </p>
            <p>
                    Today’s States issue coins. Central Banks issue notes at their whim, “lending” them to governments who then tax the citizens to pay (compound, remember?) interest on that debt. 
            </p>
            <p>
                    After defanging bank credit and breaking the spell of State “backing”, there is only the embarras de choix among means of exchange historically accepted, and therefore still acceptable, by whoever wants to work and wishes to see the fruits of his labour paid cash on delivery. Let us examine some.
            </p>
            <h3>
                    Complementary Currencies
            </h3>
            <p>
                    If the faculties of economics held courses on monetary history, budding economists would know that countries trade with one another because their economies differ, therefore one single currency cannot stabilize at once the domestic price level and the rate of exchange with whatever currency is used for foreign trade.
            </p>
            <p>
                    The solution, repeatedly applied historically, is a double currency: one inconvertible for domestic trade, the other not so much convertible as common to the trading countries.
            </p>
            <p>
                    Such solution, called Latin Monetary Union, worked for the 50 years 1865-1915 between France, Belgium, Switzerland, Italy and Greece. Beside their national currencies, a single 5 Fr silver piece circulated freely in the five countries, for a monetary mass of about 40%. Excess –or scarcity- of the 5 Franc piece indicated imbalance of payments, corrected by the country affected by modifying domestic prices. 
            </p>
            <p>
                    Details can be had on the Net. I emphasize that the system worked for 50 years, until WW I destroyed it. There is no reason why it should not work today: The East African countries would have to add the equivalent of the 5 Fr piece to their national currencies left as they are.
            </p>
            <h3>
                    The Wörgl Certificates
            </h3>
            <p>
                    In the thick of the Great Depression (1932-33) Wörgl, a municipality in the Austrian Tyrol under the leadership of Mayor Michael Unterguggenberger (1884-1936) issued 32 000 “work certificates” denominated in (Austrian) schillings. As their hoarding was penalized, they circulated 450 times in 14 months, moving goods and services for 2.5 million. The municipality built a bridge across the River Inn, paved seven roads, restored the sewer system and fixed the power network. Then the National Bank quashed the experiment.
            </p>
            <p>
                    Note the similarity with M-PESA as regards velocity of circulation. The (big) difference was in the public issuing of the certificates versus the private one by Safaricom.
            </p>
            <p>
                    Kenya has now 47 counties. If each county repeated the Wörgl experiment, the results would be astounding. Examples:
            </p>
            <ul>
                <li>
                    <em>
                            Kenya would instantly pass from unemployment to shortage of labour;
                    </em>
                    <br>

                </li>
                <li>
                        <em>
                                Infrastructure that required no foreign input, but local materials and labour only could be undertaken as needed;
                        </em>
                        <br>
                        
                    </li>
                    <li>
                            <em>
                                    All work would be paid cash on delivery, without 90-day economy-crippling credit delays;
                            </em>
                            <br>
                            
                        </li>
                        <li>
                            <em>
                                    Instead of work chasing money, money would be chasing work. Etcetera.
                            </em>
                            <br>
                        </li>
            </ul>
            <h3>The Social Bill of Exchange</h3>
            <p>
                    In 1970 a bank strike affected Ireland for six and a half months. The traditional sources of cash, the banks, had dried up, thus depriving people of liquidity.
            </p>
            <p>
                    The Irish responded by circulating cheques permanently uncovered, effectively transforming them into bills of exchange and using them in lieu of cash. Those who wanted official cash could find it in their favourite pubs –or shops-, provided they were known. The economy of the country was not affected.
            </p>
            <p>
                    Gesell had predicted it: the bill of exchange, symbol of wealth issued by the people acts, together with barter and subsistence agriculture, as the main enemy of usury. He had also suggested that if the State subsidized the bill of exchange instead of hindering its use, the problem of deflation would be permanently solved.
            </p>
            <p>
                    That’s why textbooks keep mum about the Tallies, wooden bills of exchange that acted in England for 726 years, 1100-1826, and whose history can be read on the Net.
            </p>
            <h3>
                    Complementary local currencies
            </h3>
            <p>
                    Millions even today consider the date 15th August 1971, when President Nixon abolished the backing of the US dollar by gold, as a fateful date in monetary history.
            </p>
            <p>
                    The truth is exactly the opposite. No money needs to be “backed” by anything except the wealth produced by those who work and need a medium of exchange to barter it with the wealth produced by someone else. The owner of money with “intrinsic value” hoards instead of spending it, thus crippling the economy.
            </p>
            <p>
                    Kenya has two complementary currencies: Banglapesa and Ecopesa, both operating in Bangladesh and Kongowea, Mombasa. Inspiration is not lacking. Follow-up is, until when it remains to be seen.
            </p>
            <!--  blogArticleImage -->
           
            <!--<span class="endClause">Tagged under</span>
            <span class="">the_tags(' ');</span>-->
            
           
                <div class="realtedCarousel flexslider">
                   
                        <%- include ('../../related') %>
    </div>
                     
    
                        </div>
                        <!-- blogGroupsCont -->
    
                    </div>
                    <!-- rightBlogArticleFull -->        
    
    </div>
    <!-- col-lg-12  -->
    </div>
    <!-- fullcontentSection -->
    </main>
    <!-- midSection -->
    
    
    
    
    