
<div class="blogArticleFull">
        <div class="leftBlogArticleFull" >
            
    
            <h1 class="blogTitle">TAXATION, LAND AND JUSTICE</h1>
    
            <div class="blogMetaCont">
              <span class="blogMeta blogDate">Feb 5, 2020</span>
            
              <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
            </div>
            <h4>Principles</h4>
            <div class="blogArticleImage">
              <img
                width="1000"
                height="500"
                src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
                class="attachment-articleimg size-articleimg wp-post-image"
                alt=""
              />
            </div>
            
            <!--  blogArticleImage -->
            <p><em>There was an economist who planned
                    to teach economics without land.
                    He nearly succeeded,
                    but he found that he needed
                    food, shelter and a place to stand.</em></p>
                    <p>
                            Academic economists start their lessons with land as one of the “factors of production”. Then they say “abracadabra” and adroitly conflate land with capital. The confusion is passed on to politicians, sociologists, political scientists and “experts” of all hues, whence it feeds a public utterly clueless as to the principles of justice that should govern social relations in general and taxation in particular.
                    </p>
                    <p>
                            Any possible relations between land and taxation get thus obliterated from the economic discourse. The result is the present system of taxation: inefficient, regressive, punitive, unjust and counterproductive, for its results are invariably the opposite of the ones intended.
                    </p>
                    <p>
                            Present taxation rests on four pillars:
                    </p>
                    <p>
                        <em>
                                Income tax, which hits production by extorting wealth produced by those who work to convey it to large numbers of those who do not;
                        </em>
                        <br>
                        <em>
                                Indirect taxation, which hits consumption and punishes the poor by preventing them from accessing various types of goods;
                        </em>
                        <br>
                        <em>
                                Value Added Tax, which hits domestic transactions. It also cripples production by forcing the costs of compliance on to the economic operators, and re-introduces slavery by not paying them. 
                        </em>
                        <br>
                        <em>
                                Customs and excise, which hits international transactions.
                        </em>
                        <br>

                    </p>
                    <p>
                            The common feature of modern taxation is that it extorts value added by human exertion, clearly on Jean Baptiste Colbert’s1 line: “The art of taxation consists in so plucking the goose as to get the most feathers with the least hissing.”
                    </p>
                    <p>
                            The extorted are so used to having their feathers plucked as to consider the operation normal. They do not pose the question of justice simply because schooling neither mentions nor defines it.
                    </p>
                    <p>
                            Let us therefore ask the pertinent question without delay: <strong>“Can taxation be just?”</strong> 
                    </p>
                    <h4>Justice</h4>
                    <p>
                            Justice, as defined by Roman law, is a virtue of the will that gives everyone his due. It is therefore unjust not to give what is due, as well as to give what is not due. It follows that there cannot be justice without truth: if anything is due, it must be known before wanting to give it to, or withdraw it from, anyone. 
                    </p>
                    <p>
                            Taxes are due to the governing authorities, for by nature government produces nothing, but carries out functions that need to be paid for. Two problems arise: a) What tax base is just in the sense that it makes possible to give what is due? And b) what taxes are just in that they represent services based on real needs and not on whims and fancies?
                    </p>
                    <p>
                            Analyzing the four pillars, we observe that their common base is value added by human exertion. Any such value belongs by nature to the one who has created it. It follows that today’s four pillars of conventional taxation are unjust, and therefore illegitimate, extortions. University courses elegantly avoid the problem by teaching taxation without justice: in textbooks and manuals the term “justice” simply does not appear.
                    </p>
                    <p>
                            The solution exists, but gets swept under a rug of complacent, not to say wilful, ignorance. It stares at one in the face by observing certain realities which, like the elephant in the room, are not noticed until someone points them out.
                    </p>
                    <p>
                            To park a car anywhere the yellow-clad ladies operate costs 300/- per day. As a car occupies an average area of 10m2, the value subtracted from the parking bay is 30/- per square metre per day. Carefully note that 300/- do not buy that piece of land. They rent it, in exchange for a land title lasting one day.
                    </p>
                    <p>
                            The principle is sound, but not widespread enough. The Nairobi CBD (Central Business District) has an area of 2 km2, or 2 million m2. Half of it is public: roads, kerbs, gardens etc. The other half, i.e. a full million m2, is occupied by private property: mostly buildings, a number of parking lots and some, miraculously still empty, plots.
                    </p>
                    <p>
                            The calculation is simple: if the private-owned structures were equated to permanently parked cars, they could fetch Nairobi County a cool 30 million shillings/day, or 11 billion/year. Not bad for one single square kilometre of land. 
                    </p>
                    <p>
                            Is this form of taxation just? It hits only the surface area occupied, regardless of anything built on it by the owner. As a first consequence, then, it would reward industry and punish sloth. The owners of an empty plot and that of an equal area but with an office block on it would pay the same 30/- per square metre per day. Land speculation would be deleted at a stroke of the pen. The owner of the empty plot would either build, or pay at a loss, or move elsewhere. And it would be cheap to enforce: a cadastral map is the only tool needed.
                    </p>
                    <p>
                            There is more: the measure would bring to the open the badly understood truth that every piece of land produces two rents: one due to the owner’s exertions, therefore created by and belonging to him/her, and the other due exclusively to location, created by the people living around the property, and therefore belonging to them. Capturing that second rent, i.e. value subtracted from common use, is therefore an eminently just form of taxation.
                    </p>
                    <p>
                            Overlooking such opportunities creates awkward situations. The Southern Bypass is stuck for the usual “lack of funds”. The funds are there for all to see, but in the wrong pockets. The rents of location of the properties on either side of it have increased by enormous but unknown amounts ever since that most useful artery of transport was designed. The Bypass caused that increase; the Bypass ought to be paid for and maintained with that money, but the landlords have pocketed it.
                    </p>
                    <p>
                            This is not to suggest that the Bypass landlords should be charged at 30/- per square metre per day: the density of population and economic activities in the area are less than the CBD’s. But even at one tenth that, say 3/- per square metre per day1, tens of thousands of rents could pay for both building and maintaining the Bypass.
                    </p>
                    <p>
                            There is more. The area of Nairobi County is 684 km2, unevenly distributed between high density commercial areas, medium density residential ones, and low density rural and semi rural ones, bordering on dry land at its limit with the National Park. Evidently the rates cannot be the same throughout, but if well calculated, negotiated, and revised from time to time, they would be more than enough to cover the public expenses of the County, perhaps leaving a sizable amount to contribute to State revenue.
                    </p>
                    <p>
                            The principle of taxing value subtracted from common use can easily be expanded to the whole country. It would cost far less than the present one, and would not be liable to evasion: land cannot be hidden.
                    </p>
                    <p>
                            The same principle would solve the problem of taxing multi- and transnational corporations. Every government knows the frustration of even finding the necessary data. But taxing them on the base of value subtracted from land use would provide necessary foreign exchange without resorting to debt. They would be taxed in the currency of their countries, at the same rate as that charged to domestic occupiers.
                    </p>
                    <p>
                            Natural resources other than land would respond to value subtracted from common use: water, the electromagnetic spectrum, the ability of the environment to process pollution, etc. The principle remains the same.
                    </p>
                    <p>
                            What about mineral resources? The natural way of solving the countless issues arising from the matter is not to tax the extracting companies on the basis of their accounts, which they are masters at hiding but a) to charge them for the occupation of land, which in the nature of things ends when the mineral is exhausted, and b) to have government acting as sole buyer of whatever is extracted. The difference between buying and selling price is public revenue. 
                    </p>
                    <h4>
                            Unjust Taxation
                    </h4>
                    <p>
                            Three out of the four existing pillars of taxation could then go without compunction: income tax, indirect taxes and VAT. Customs and excise are another matter, because they perform functions other than providing revenue. 
                    </p>
                    <p>
                            With the export-import trade fully liberalized, the importing country lets in not only the gadgets and widgets produced by the other, but also its labour legislation. This is why imports from China are cheap. Chinese workers are on forced labour by means of an inhumane system called Lao-Gai. Therefore a country importing from China without barriers and tariffs sees its salaries drop to the level of Chinese ones.
                    </p>
                    <h3>Dogs in the Manger</h3>
                    <p>
                            Problem b) is the plethora of taxes imposed not for rendering services needed, but for satisfying whims of legislators whose concept of justice is, shall we say, weak. 
                    </p>
                    <p>
                            The figures tell the story. In 1962, the year before independence, the Kenya Civil Service was 43 200 strong, for a population approaching 10 million.
                    </p>
                    <p>
                            50 years on, the population has quadrupled to 45 million.	A reasonable figure for the Civil Service would be in the region of 160 000, but the real figure is three times that, 450 000. What do they do?
                    </p>
                    <p>
                            They pay salaries to their personnel with money extorted from those who work. Most people, in Kenya as elsewhere, equate work with “getting a salary”. But it is legitimate to ask whether Kenya would not be better off if those extra 200 thousand “functionaries” were to perform real work instead of warming seats in unnecessary cubbyholes called “offices”.
                    </p>
           
            <!--<span class="endClause">Tagged under</span>
            <span class="">the_tags(' ');</span>-->
            
           
                <div class="realtedCarousel flexslider">
                   
                        <%- include ('../../related') %>
    </div>
                     
    
                        </div>
                        <!-- blogGroupsCont -->
    
                    </div>
                    <!-- rightBlogArticleFull -->        
    
    </div>
    <!-- col-lg-12  -->
    </div>
    <!-- fullcontentSection -->
    </main>
    <!-- midSection -->
    
    
    
    
    