<%- include ('partials/header') %>
<div class="blogArticleFull">
  <div class="container text-justify">
    <p>
      With its 20-odd years of existence, internet is just beginning to show its
      immense educational potential. It deeply affected the tail-end of my
      teaching career, by making it possible to publish six books, a number of
      videos, articles and finally to bequeath this blog, in the form of
      limitless conversation between scholars and the legacy of a retired
      teacher.
    </p>
    <p>
      The idea was born out of a conversation with a colleague, the two of us
      commenting on the inability of the traditional textbook to transmit
      knowledge, understanding and wisdom, let alone virtue.
    </p>
    <p>
      A real teacher is not a mercenary, getting paid for teaching a “syllabus”.
      Neither is he a specialist, because specialization is a feature of the
      world of insects, not of humans. His Weltanschauung spans the whole range
      of levels of being, from matter to divine life, that affect his existence.
      It improves, qualitatively as well as quantitatively, throughout life.
    </p>
    <p>
      With this blog, therefore, I offer as much material as I could gather that
      formed me during the 44 years of my career. The method, as indicated by
      the title, will not be the lecture, but the conversation, or the debate if
      necessary.
    </p>
    <p>
      The object of the exercise is anthropological: finding a place for the
      self in the order of the universe, in a never ending quest for truth,
      goodness and harmony. In a word, happiness.
    </p>
    <p>
      On doing that, a second desirable object comes to the fore: the
      elimination of boredom, a condition resulting from stimulating the senses
      without engaging the mind.
    </p>
    <p>
      I begin by spelling out the framework of such order.
    </p>
    <p>
      Observation as much as experience show the existence of seven levels of
      being: one of matter, six of life. From bottom to top, they are:
    </p>
    <!-- <ol>
      <li>
        Matter, distinguished since antiquity into four states: solid, liquid,
        gaseous, and plasma.
      </li>
      <li>
        Vegetative life, with three powers: nutrition, growth and reproduction.
      </li>
      <li>
        Animal life endowed with nine senses and eleven passions.
      </li>
      <li>
        Human life, where spirit appears as intellect, memory and will.
      </li>
      <li>
        Spiritual life, present in all cultures as a human attempt to attain the
        divine.
      </li>
      <li>
        Angelic life, glimpsed at since antiquity but revealed in the fullness
        of time.
      </li>
      <li>
        Divine life, transcending the six levels below it.
      </li>
    </ol> -->
    <p>
      Whatever the object of a conversation, it will necessarily fall on, or
      across, the above levels. Conversation, helped by logic, unravels the
      matching of judgement with reality.
    </p>
    <p>
      Topics to be found in the blog, all resulted from observation or
      experience, are to begin with:
    </p>
    <!-- <ul>
      <li>Language</li>
      <li>Science</li>
      <li>Education</li>
      <li>Economics</li>
      <li>Politics</li>
      <li>History</li>
      <li>Health</li>
      <li>Evolution</li>
      <li>Philosophy</li>
      <li>Religion</li>
      <li>Anything else that may arise in the course of the conversation.</li>
    </ul> -->
    <p>
      What the blog offers its readers, then, is “a book of texts” instead of
      the traditional “textbook”.
    </p>
    <p>
      And without more ado, let readers fire the opening shot
    </p>
  </div>
</div>

<%- include ('partials/footer') %>
