<%- include ('partials/header') %>
<div class="container">
  <hr />
  <h1>Feltom Telecommunications</h1>
  <hr />

  <p>
    We are a Wireless Internet Service Provider based in Nairobi,Kenya. Feltom
    aims at providing reliable internet connectivity to idividuals and
    organizations in Africa.
  </p>
  <p>
    We offer complete network design and installation to organizations to suit
    their needs. As for home users we provide affordable internet rates which
    are accompanied by reliable broadband speeds.
  </p>
  <br />
</div>
<%- include ('partials/footer') %>
