<main id="midSection">
  <div class="row fullcontentSection">
    <div class="col-lg-12">
      <div class="videoContInner newLetPage">
        <div class="bdPkgsCont bdRow">
          <div class="bdItems clearfix bdPkgsMason">
            <div class="bdPkgs">
              <a
                href="https://mailchi.mp/sunwords/7ndzl95ots-1419013?e=[UNIQID]"
                target="_blank"
              >
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/02/IMG_8033.jpeg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >Issue 18 - January 2020</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                A New Year skill every leader needs: the ability to look ahead.
                WAY ahead. PLUS: flying taxis are coming (yes, really); AND:
                watch this quick video if you hate your job, before it's too
                late...
              </p>
            </div>

            <div class="bdPkgs">
              <a
                href="https://mailchi.mp/sunwords/7ndzl95ots-1418669?e=77a9ae1b1d"
                target="_blank"
              >
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/eye-428390_960_720.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >Issue 7 - February 2019</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                Do you one thing that good leaders do really well? They FOCUS.
                On the things that really matter, and that only they can do.
                Here's how. PLUS: A humble leader has some lessons for you.
              </p>
            </div>
          </div>
          <!--bdItems-->

          <nav class="paginationNav">
            <span aria-current="page" class="page-numbers current">1</span>
            <a
              class="page-numbers"
              href="https://sunwords.com/the-sunwords-periodical/2/"
              >2</a
            >
            <a
              class="next page-numbers"
              href="https://sunwords.com/the-sunwords-periodical/2/"
              >Next &raquo;</a
            >
          </nav>
        </div>
        <!--bdPkgsCont-->
      </div>
      <!-- videoContInner -->
    </div>
    <!-- col-lg-12  -->
  </div>
  <!-- fullcontentSection -->
</main>
<!-- midSection -->
