<main id="midSection">
  <div class="row fullcontentSection">
    <div class="col-lg-12">
      <div class="videoContInner newLetPage">
        <div class="bdPkgsCont bdRow">
          <div class="bdItems clearfix bdPkgsMason">
            <div class="bdPkgs">
              <a href="dictatorship">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://www.historyonthenet.com/wp-content/uploads/2014/11/PROD-Adolf-Hitler-whrend-einer-Rede.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >The dictatorship of appearance</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                Eratosthenes (c. 276 – 194 B.C.) must have felt elated when he
                made the first reliable measurement...
              </p>
            </div>

            <div class="bdPkgs">
              <a href="land">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://www.touristisrael.com/wp-content/uploads/bigstock-Panorama-of-Jerusalem-old-city-848642421.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >The land question in history</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                The Land Question acts in this essay as the red thread linking
                the most disparate historical...
              </p>
            </div>
          </div>

          <nav class="paginationNav">
            <span aria-current="page" class="page-numbers current">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="next page-numbers" href="#">Next &raquo;</a>
          </nav>
        </div>
        <!--bdPkgsCont-->
      </div>
      <!-- videoContInner -->
    </div>
    <!-- col-lg-12  -->
  </div>
  <!-- fullcontentSection -->
</main>
<!-- midSection -->
