<%- include ('partials/header') %>
<main>
  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active">
      <div
        class="single-slider  hero-overly slider-height d-flex align-items-center"
        data-background="https://www.bbva.com/wp-content/uploads/2015/12/Country-Networks_2-1920x1080.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-8">
              <div
                class="hero__caption"
                data-background="assets/img/hero/hero_color_bg.png"
              >
                <h1 data-animation="fadeInUp" data-delay=".4s">
                  Networking Solutions!
                </h1>
                <p data-animation="fadeInUp" data-delay=".6s">
                  Everybody Deserves Realible Internet Connectivity.
                </p>
                <!-- Hero-btn -->
                <div
                  class="hero__btn"
                  data-animation="fadeInUp"
                  data-delay=".7s"
                >
                  <a href="industries.html" class="btn hero-btn"
                    >Our Services</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="single-slider  hero-overly slider-height d-flex align-items-center"
        data-background="assets/img/hero/h1_hero.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-8">
              <div
                class="hero__caption"
                data-background="assets/img/hero/hero_color_bg.png"
              >
                <h1 data-animation="fadeInUp" data-delay=".4s">
                  Networking Solutions!
                </h1>
                <p data-animation="fadeInUp" data-delay=".6s">
                  Everybody Deserves Realible Internet Connectivity.
                </p>
                <!-- Hero-btn -->
                <div
                  class="hero__btn"
                  data-animation="fadeInUp"
                  data-delay=".7s"
                >
                  <a href="industries.html" class="btn hero-btn"
                    >Our Services</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!-- Safe Industery Start -->
  <div class="safe-industery-area section-padd-top30">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md pr-0">
          <div class="safe-caption pt-10 mb-40">
            <h2>
              Safe IndusterySolutions That Saves our Valuable Time and mony!
            </h2>
            <p class="safe-pera-one">
              Logisti Group is a representative logistics operator providing
              full range of service in the sphere of customs clearance and
              transportation worldwide for any type of cargo.
            </p>
            <p class="safe-pera-two">
              Lorem ipsum dolor sit amet, consectetur ipis adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna oris
              aliqua. Ut enim ad minim veniam, quis nostrud.
            </p>
            <p class="safe-pera-three">
              exercitation ullamco laboris nisi ut aliquip ex ea commodo
              nsequat. Duis aute irure dolor in repr.
            </p>
            <!-- btn -->
            <a href="industries.html" class="btn">Our Services</a>
          </div>
        </div>
        <div class="col-xl-5 offset-xl-1 col-lg-6 pl-0">
          <div class="safe-caption-right">
            <div class="safe-img">
              <img
                src="assets/img/safe_industery/safe_industery_1.jpg"
                alt=""
              />
            </div>
            <!-- img TOP caption -->
            <div class="safe-alert-box">
              <div class="row">
                <div
                  class="col-xl-10 col-lg-10 col-md-10 col-sm-10 d-none d-sm-block"
                >
                  <div
                    class="safe-alert"
                    data-background="assets/img/safe_industery/color_bg.png"
                  >
                    <img src="assets/img/icon/aleart_icon.png" alt="" />
                    <h4>Our Mission</h4>
                    <p>
                      To connect the world by providing fast and reliable
                      internet connectivy.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Safe Industery End -->

  <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active"> -->
  <!-- Gallery Start-->
  <!-- <div class="gallery-area">
          <div class="container-fluid p-0">
            <div class="row no-gutters">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                  <div class="single-gallery">
                    <div class="gallery-img">
                      <img src="assets/img/gallery/gallery_1.png" alt="" />
                    </div>
                    <div class="g-caption1">
                      <span>01.</span>
                      <h4>Broadband Intenet Connectivity</h4>
                    </div>
                    <div class="g-caption2">
                      <span>01.</span>
                      <h4>Floride Chemicals Factory</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur smo adipiscing
                        elit, sed do eiusmod tempor inciut labore et dolore
                        magna ali.
                      </p>
                      <a href="work.html" class="read-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                  <div class="single-gallery">
                    <div class="gallery-img">
                      <img src="assets/img/gallery/gallery_2.png" alt="" />
                    </div>
                    <div class="g-caption1">
                      <span>02.</span>
                      <h4>Floride Chemicals Factory</h4>
                    </div>
                    <div class="g-caption2">
                      <span>02.</span>
                      <h4>Floride Chemicals Factory</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur smo adipiscing
                        elit, sed do eiusmod tempor inciut labore et dolore
                        magna ali.
                      </p>
                      <a href="work.html" class="read-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                  <div class="single-gallery">
                    <div class="gallery-img">
                      <img src="assets/img/gallery/gallery_3.png" alt="" />
                    </div>
                    <div class="g-caption1">
                      <span>03.</span>
                      <h4>Floride Chemicals Factory</h4>
                    </div>
                    <div class="g-caption2">
                      <span>03.</span>
                      <h4>Floride Chemicals Factory</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur smo adipiscing
                        elit, sed do eiusmod tempor inciut labore et dolore
                        magna ali.
                      </p>
                      <a href="work.html" class="read-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                  <div class="single-gallery">
                    <div class="gallery-img">
                      <img src="assets/img/gallery/gallery_2.png" alt="" />
                    </div>
                    <div class="g-caption1">
                      <span>04.</span>
                      <h4>Floride Chemicals Factory</h4>
                    </div>
                    <div class="g-caption2">
                      <span>04.</span>
                      <h4>Floride Chemicals Factory</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur smo adipiscing
                        elit, sed do eiusmod tempor inciut labore et dolore
                        magna ali.
                      </p>
                      <a href="work.html" class="read-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
  <!-- Gallery End-->
  <!-- </div> -->
  <!-- <div class="carousel-item">
        
        <div class="gallery-area">
          <div class="container-fluid p-0">
            <div class="row no-gutters">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                  <div class="single-gallery">
                    <div class="gallery-img">
                      <img src="assets/img/gallery/gallery_1.png" alt="" />
                    </div>
                    <div class="g-caption1">
                      <span>01.</span>
                      <h4>Floride Chemicals Factory</h4>
                    </div>
                    <div class="g-caption2">
                      <span>01.</span>
                      <h4>Floride Chemicals Factory</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur smo adipiscing
                        elit, sed do eiusmod tempor inciut labore et dolore
                        magna ali.
                      </p>
                      <a href="work.html" class="read-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                  <div class="single-gallery">
                    <div class="gallery-img">
                      <img src="assets/img/gallery/gallery_2.png" alt="" />
                    </div>
                    <div class="g-caption1">
                      <span>02.</span>
                      <h4>Floride Chemicals Factory</h4>
                    </div>
                    <div class="g-caption2">
                      <span>02.</span>
                      <h4>Floride Chemicals Factory</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur smo adipiscing
                        elit, sed do eiusmod tempor inciut labore et dolore
                        magna ali.
                      </p>
                      <a href="work.html" class="read-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                  <div class="single-gallery">
                    <div class="gallery-img">
                      <img src="assets/img/gallery/gallery_3.png" alt="" />
                    </div>
                    <div class="g-caption1">
                      <span>03.</span>
                      <h4>Floride Chemicals Factory</h4>
                    </div>
                    <div class="g-caption2">
                      <span>03.</span>
                      <h4>Floride Chemicals Factory</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur smo adipiscing
                        elit, sed do eiusmod tempor inciut labore et dolore
                        magna ali.
                      </p>
                      <a href="work.html" class="read-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                  <div class="single-gallery">
                    <div class="gallery-img">
                      <img src="assets/img/gallery/gallery_2.png" alt="" />
                    </div>
                    <div class="g-caption1">
                      <span>04.</span>
                      <h4>Floride Chemicals Factory</h4>
                    </div>
                    <div class="g-caption2">
                      <span>04.</span>
                      <h4>Floride Chemicals Factory</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur smo adipiscing
                        elit, sed do eiusmod tempor inciut labore et dolore
                        magna ali.
                      </p>
                      <a href="work.html" class="read-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div> -->
  <!-- </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->

  <!-- Want To Work Start -->
  <div class="wantToWork-area w-padding">
    <div class="container">
      <div class="row d-flex align-items-end">
        <div class="col-xl-6 col-lg-8 col-md-8">
          <div class="wantToWork-caption">
            <h2>
              Want To Work<br />
              With Us? Hit The Button.
            </h2>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-4">
          <div class="wantToWork-btn f-right">
            <a href="#" class="white-btn">Let’s Work Together</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Want To Work End -->
</main>

<%- include ('partials/footer') %>
