<%- include ('partials/header') %>
<div class="blogArticleFull">
        <div class="leftBlogArticleFull" >
    <h1 class="blogTitle">THE LAND QUESTION IN HISTORY</h1>
    
    <div class="blogMetaCont">
      <span class="blogMeta blogDate">Jan 26, 2020</span>
    
      <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
    </div>
    
    <div class="blogArticleImage">
      <img
        width="1000"
        height="500"
        src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
        class="attachment-articleimg size-articleimg wp-post-image"
        alt=""
      />
    </div>
    
    <!--  blogArticleImage -->
    <p>
      The Land Question acts in this essay as the red thread linking the most
      disparate historical times and geographical places. The purpose is to move the
      great Question from the backstage to the limelight of history. Usually it
      lurks in the background of every history book wherever and whenever written.
      Historians generally fail to detect its importance as a determining cause of
      war, treaties, dynastic marriages, colonialism, papal elections, revolutions,
      capital executions and what have you. I will not exhaust the topic for obvious
      reasons; my intention is to stimulate further investigation eventually leading
      to completing today’s fledgling, but promising, political action.
    </p>
    <p>
      Neither of the two men who uncovered and developed the Question was an
      economist. Henry George (1839-1897) was a printer, who ran for Mayor of New
      York City in 1886 to be defeated by landed interests. His Progress and Poverty
      (1879) has sold more copies than all of Marx’s works put together, but he is
      still taboo in the faculties of Economics the world over. Silvio Gesell
      (1862-1930) was a German merchant who made his fortune in Argentina in
      1880-1890. His Natürliche Wirtschaftsordnung (1906-1920)1 is a seminal work
      for a thorough understanding of economics based on the Land and Money
      Questions. He shares with George the distinction of an academic worldwide
      boycott.
    </p>
    <h4>
      Introduction
    </h4>
    <p>
      There is a Land Question because of two irreconcilable views about land.
    </p>
    <p>
      All ancient cultures, without exception, had developed a communal system of
      land tenure.1 The natural, and therefore common sense, reason for it is that
      land a) is not man-made and b) is immortal. It follows that the property of
      land is communal by natural law, since a community is as immortal as the land
      on which it is settled. The unnatural, and therefore artificial, juridical
      construct, is the freehold, or individual landed property. It grants an undue
      privilege to a mortal, authorizing him to call ‘mine’ something for which he
      has not worked and which one day he will have to leave behind willy-nilly.
    </p>
    <p>
      Whereas the history of communal tenure is lost in the mists of antiquity, that
      of the freehold has a definite historical beginning. Let Paul Johnson (1928- )
      expand:
    </p>
    <h5>
      The freehold was unknown to barbarian Europe; indeed, it was only imperfectly
      developed in imperial Rome and Byzantium. The church needed it for the
      security of its own properties and wrote it into the law codes it processed –
      wrote it, indeed, so indelibly that the freehold survived and defied the
      superimposed forms of feudalism. The instrument of the land deed or charter,
      giving absolute possession of land to a private individual or private
      corporation, is one of the great inventions of human history. Taken in
      conjunction with the notion of the rule of law, it is economically and
      politically a very important one. For once an individual can own land
      absolutely, without social or economic qualification, and once his right in
      that land is protected – even against the State – by the rule of law, he has
      true security of property.”1
    </h5>
    
    <p>
      Reserving my comments on “the Church” for later, let us analyze the economic
      characteristics of the freehold. Thus Adam Smith (1723–1790) in The Wealth of
      Nations:
    </p>
    <h5>
      As soon as the land of any country has all become private property, the
      landlords, like all other men, love to reap where they never sowed, and demand
      a rent even for its natural produce. The wood of the forest, the grass of the
      field, and all the natural fruits of the earth, which, when land was in
      common, cost the laborer only the trouble of gathering them, come, even to
      him, to have an additional price fixed upon them. He must then pay for the
      license to gather them; and he must give up to the landlord a portion of what
      his labor either collects or produces.1
    </h5>
    <p>
      As a good British pragmatist, Smith stops at the facts. He takes it for
      granted that the landlord who “loves to reap where he never sowed” has all the
      right to maximize his rent, either by lowering the wages of his laborers, or
      by increasing the rent of his tenants, or both where the size of the property
      allows.
    </p>
    <p>
      The following are the political characteristics of the freehold.
    </p>
    <p>
      Fenced land originates a double sovereignty: that of Government, which
      exhibits it with flag, military uniforms, national anthem, taxes and assorted
      frills, and that of the landlord, who carefully refrains from exhibiting
      anything, but exercises it de facto on both tenants and dependants.
    </p>
    <p>
      Four inevitable consequences have always followed the fencing of land:
    </p>
    <ol>
      <li>
        Sooner or later the large estate is formed by swallowing individual plots.
        Human nature has unfortunately dictated individual diversity, so that the
        less able in running a property will not take long in selling it, to be
        incorporated into ever larger units. This is one reason why no ‘agrarian
        reform’ based on fenced land has ever succeeded.1
      </li>
      <li>
        Slavery is the natural, hence permanent, counterpart of individual land
        ownership. The large estate depresses the wages of those who work within it;
        land ownership per se depresses the wages of those working on their own land
        by pushing the margin of cultivation farther and farther away from the
        centers of consumption, around which it is more profitable to use land for
        purposes other than agricultural. Low wages and the distance between
        production and consumption are another reason for the failure of ‘agrarian
        reforms’: the small property is in all cases uneconomic.
      </li>
      <li>
        In order to maximize his rent, the ‘sovereign’ of the large estate finds it
        expedient a) to count on a pool of unemployed as a permanent threat to
        laborers who grumble about low wages, and b) to keep most of his land fallow
        so as to prevent competition and demand high rents from tenants. He will
        also strive to maximize the prices of his produce by manipulating public
        policy into adopting high tariffs against imported produce.
      </li>
      <li>
        As society increasingly splits into a powerful (but necessarily small) group
        of landlords and a large one of landless, it is the class war, which far
        from being a Marxist invention, appears fully fledged in Livy. Bloodshed,
        whether in civil or in foreign wars provoked by those who intend to maintain
        their undue privileges at all costs, becomes inevitable.
      </li>
    </ol>
    <p>
      It is true that the undue freehold privilege may be mitigated by extra duties
      assumed by the landlord. It happened during the seven centuries of feudal
      tenure. The ecclesiastical landlords assumed the burden of social security;
      the secular ones, that of administration and defense. The same principle could
      apply today if the landlord disbursed a rent for the occupation of a certain
      area, keeping the fruits of his labor to himself. It would be akin to the
      parking fee system in the centre of a crowded city, where a vehicle pays a
      fixed daily sum to occupy a parking bay in exclusive. If the law authorized
      the first occupier to sell the ticket (title deed) to the next one, the
      municipality would lose the parking revenue.
    </p>
    <p>
      If the same law that allows a municipality to charge rent for a parking bay
      was extended to buildings ‘parked’ permanently, at the same rate as cars, i.e.
      so many $ per square foot per day, the surplus of municipal revenue could be
      conveyed to the State as State revenue, and the surplus of the State to the
      Federation.1 Such sums could cover a large amount of public expenditure (all
      of it according to Henry George). The State would not have to employ an army
      of officials with draconian powers of confiscation of the fruits of people’s
      labor, and the economy would unshackle itself and truly take off.
    </p>
    <p>
      The title deed reverses the situation. When a landlord sells his land, the sum
      corresponding to the bare ground, which in justice should go to the community
      for having created the corresponding value, goes to his pockets instead. Such
      a situation, which passes unnoticed in Europe owing to centuries of
      bureaucratic somnolence, in Africa has lethal effects, as we shall soon see.
    </p>
    <h4>
      History and Geography
    </h4>
    <p>
      I start with Sicily, my native land. In my boyhood I had the privilege
      (understood decades later) of meeting Don Cola Tampuso, a grizzly sharecropper
      on a small farm where he lived with his wife. Despite the fact that 50% of the
      fruits of his labor ended up in the pockets of one who “loved to reap where he
      never sowed”, he could make ends meet, for the farm was no more than a couple
      of kilometers from the nearest market. Had it been ten kilometers or more, the
      intermediaries would have taken most of his wages, leaving him with just
      enough to survive. The reader will have recognized David Ricardo’s (1772–1823)
      ‘iron law of wages’. Don Cola, like all the marginalized in the power struggle
      (the landless), was a proletarian, surviving as well as he could.
    </p>
    <p>
      Up to 1806, land tenure in the Kingdom of the Two Sicilies was based on the
      institution of the public commons (It. Demanio). It was a feudal institution,
      wisely reformed by Neapolitan Law.
    </p>
    <p>
      The Demanio’s raison d’être was to prevent landlords from usurping the king’s
      sovereignty over the land. It acted by means of a true plethora of local
      usages that regulated land use, impeding, or severely limiting, abuse. The Don
      Colas of the time did not squander, but did not starve either; by privately
      cultivating small publicly owned parcels, they had enough to eat, dress and
      have a roof over their heads, plus some extra to fulfill their obligations.
      There was no unemployment and no emigration.
    </p>
    <p>
      The Demanio was a paternalist institution, pitching king and people against
      opportunists desiring “to harvest where they had not sowed”. It was not an
      equilibrium, but a contained disequilibrium, akin to a champagne cork clumsily
      used to stop a diarrhea.
    </p>
    <p>
      In 1806–1808 Joachim Murat (1767-1815), Napoleon’s brother-in-law, abolished
      feudal law, and for 40-odd years landlords enjoyed living off rent. The lion
      had tasted human blood.
    </p>
    <p>
      The revolutionary riots of 1848, as elsewhere, were not ‘the people’s’ doings,
      but those of the ones who foresaw the possibility of living at the expense of
      others by grabbing land. The poor were robbed of even the furniture used in
      the barricades.
    </p>
    <p>
      King Ferdinand II gained the struggle, but not for long. After repealing the
      Constitution, between 1850 and 1854 he returned to the Demanio more than
      100,000 units of land area usurped by the Murat crowd.
    </p>
    <p>
      It is not therefore surprising that such people should howl against “Bourbon
      tyranny” while cheering Garibaldi and the Piedmontese as ‘liberators’; which
      they were, but of their land grabbing cronies, not of the people as drummed up
      in history textbooks.
    </p>
    <p>
      In 1860 private ownership of land returned. Upon confiscating Church
      properties previously serving as a basis for social security, unemployment and
      famine returned too. What to do with the sudden surfeit of proletarian men,
      women and children?
    </p>
    <p>
      There was only the embarrassment of choice: Swift’s (1667-1745) Modest
      Proposal, i.e. serving the poor’s babies as dainties at rich people’s table;
      Malthus’ (1766-1834, still taken seriously), convincing them to breed less;
      the revolutionary Terror with its hidden purpose of population curbing;1
      British transportation to faraway lands;2 compulsory military service
      promoting the unemployed to cannon fodder; or easy incarceration (The US have
      two-three million, about 1% of the population). The Piedmontese opted for the
      firing squads, with which they got rid of surplus proletariat at home and
      forced the rest to migrate.
    </p>
    <p>
      And so Sicily still enjoys (if it is the right word) this system of land
      tenure. The liberal principle “everyone after himself and the devil take the
      hindmost” has worked. In 1960, 100 years after the ‘liberation’ the elderly
      father of two sons who had run away from the island was interviewed:
    </p>
    <h5>
      The children run away, to Germany, to Turin. I don’t deny it: when my son
      worked with me, and needed 100 lire for a shave, he didn’t have them. The
      other son also ran away, together with many others. There was no progress,
      there was no land. All of us worked like slaves, and today even more, with no
      satisfaction whatever. I think that if no one does anything, in Sicily,
      everything will come to an end. It’s not that we die of hunger, but everything
      is dry; no one grows anything. People are content with arriving at the pension
      and no longer having to work. The rule is: little is enough and a lot is
      surfeit. Formerly I was badly off, so I am now, but at least now I don’t do
      anything.1
    </h5>
    <p>
      In 1992 I had the opportunity of visiting the island’s interior. The only
      economic activity I observed was a shepherd with his herd of cows at high
      altitude.
    </p>
    <p>
      Ever since, things have gone from bad to worse. To the steps fencing>large
      estate>class struggle>war only the last is missing. Meanwhile the 2.5 million
      hectares of Sicily remain fiscally sterile for the State, bent into extorting
      the fruits of its citizens’ labor. The landlords, who exercise real
      sovereignty, have sung victory, and one need not be a prophet to foretell that
      sooner or later the situation will turn violent.
    </p>
    <h4>
      From Africa (Kenya and Zambia) to Lousiana and back
    </h4>
    <p>
      I let Kenya follow Sicily, some 4000 km apart, for the simple reason that I
      live there.
    </p>
    <p>
      The “patched-up beggar’s overcoat” to which the political map of Africa
      resembles1 divides the continent into some 50 of what fuzzy thinking calls
      ‘nations’. Then one learns, at school, that each African ‘nation’ is home to
      hundreds of ‘tribes’ which the European Great Powers ‘pacified’ after the 1885
      Congress of Berlin, and which after independence (1956 to date) massacre one
      another with abandon.
    </p>
    <p>
      The reality, nevertheless, is different. If we define ‘nation’ as “a people of
      homogeneous usages and customs”, Africa sports about 1000 of such. Some attain
      respectable sizes: the Igbo of Nigeria number 30 million, more than
      Scandinavians and Belgians together. But they are still dubbed ‘tribe’,
      forgetting that the first user of that term was Servius Tullius sixth king of
      Rome, who divided the Urbs into four tributary districts (hence the term). How
      and when the same term was foisted on the African nations I have been unable
      to uncover.
    </p>
    <p>
      If therefore among members of such nations – at times after decades of
      peaceful coexistence including intermarriage – orgies of death and mayhem
      explode unchecked, there must be some cause other than ethnic differences, and
      so it is: the title deed.
    </p>
    <p>
      Smith’s paragraph reported earlier on exhibits a social abscess about to burst
      already in his days after incubating for a couple of centuries: the expulsion
      of the proud English yeomen from the lands they had cultivated for centuries,
      and which King Henry VIII’s greed had sold to the nouveaux riches in exchange
      for ‘title deeds’. At the beginning the expellees took refuge in the common
      lands of the Crown, but towards the end of the 18th century the landlords
      enclosed even these. The landless yeomen would have starved to death had not
      the Industrial Revolution saved them, with starvation wages it’s true, but
      wages nonetheless, which allowed them to survive.
    </p>
    <p>
      A century later British landless descendants of the victims of that original
      injustice directed their attention towards expropriating African nations of
      their land. Their Spanish equivalent had done the same three centuries earlier
      with the American nations, when Spain numbered scarcely nine million people,
      but whose lands had been grabbed by landlords as powerful as their English
      counterparts. Englishmen and Spaniards colonized for being militarily strong
      peoples; Italians and the Irish, militarily weak, migrated to North America in
      search of fortune. But the surreptitious drive behind the four examples was
      the same: the new landlords, with ‘title deeds’ in hand and military might
      behind, forced the landless either to starve to death or to migrate. Henry
      George was the first to remark that at the origin of each ‘title’ issued by an
      authority, English, Spanish or Piedmontese, there is always an act of
      violence.
    </p>
    <p>
      The following 1999 case occurred in Louisiana. The applicant for a loan from
      the Federal Housing Authority had offered his title deed as collateral. His
      lawyer had traced it to 1803. The FHA was not satisfied, and demanded that it
      be tracked down “to the origin.”
    </p>
    <p>
      The annoyed lawyer responded:
    </p>
    <p>
      <em>
        […] I was unaware that any educated person in this country, particularly
        those working in the property area, would not know that Louisiana was
        purchased by the US from France in 1803, the year of origin identified in
        our application. For the edification of uninformed FHA bureaucrats the title
        to the land prior to US ownership was obtained from France, which had
        acquired it by Right of Conquest from Spain. The land came into possession
        of Spain by Right of Discovery made in the year 1492 by a sea captain named
        Christopher Columbus, who had been granted the privilege of seeking a new
        route to India by the then reigning monarch Isabella. The good queen being a
        pious woman, and careful about titles almost as much as the FHA, took the
        precaution of securing the blessing of the Pope before she sold her jewels
        to fund Columbus’ expedition. Now the Pope, as I’m sure you know, is the
        emissary of Jesus Christ the Son of God. And God it is commonly accepted
        created this world. Therefore I believe it is safe to presume that He also
        made that part of the world called Louisiana. He therefore would be the
        owner of origin. I hope to hell you find His original claim to be
        satisfactory. Now may we have our damn loan?1
      </em>
    </p>
    <p>
      They got it. Now, what does Louisiana have to do with Kenya, or Sicily for
      that matter? The key point is the same. A title deed is worth neither more nor
      less than the physical force needed to defend it. When the landlord is the
      State, its power over the ‘national’ territory depends on its armed forces;
      but when the landlord is an individual, and disarmed at that, the security of
      the title depends on the capacity and willingness of the armed forces of the
      State to defend it.
    </p>
    <p>
      In the first days of 2008 Kenya suffered a bloodbath. It was a swelling to
      river proportions of a trickle going back to the Mau Mau revolt of the 1950s.
      Since then, tens of thousands of human lives and millions of man-hours of
      useful work have been immolated on the altar of the idol called ‘title deed’.
    </p>
    <p>
      Its Kenya history is worth recounting. Its first President (1963-1978)
      belonged to the Kikuyu nation. Sagaciously, he realized that the multiparty
      system would have been ruinous for a multinational country.1 His single party
      policy suppressed certain liberties, but did preserve social peace until his
      death.
    </p>
    <p>
      Here it is necessary to understand the Kikuyu. They are a nation of tireless,
      active ants, able and willing to run – and shoulder – risks. They do not
      hesitate migrating to the ends of the earth, from Scotland to Japan, and
      prosper. Strong of more or less four million, they had been exiting since
      independence from the 13,000 square kilometers of their native province to
      migrate mostly within Kenya, settling on lands of other nations. Working as
      they usually do, they became the wealthier the less enterprising the people
      among whom they settled were.
    </p>
    <p>
      The President, naturally enough, favoured the migration, issuing to his
      people, you guess, title deeds on what were to all intents and purposes
      foreign lands. It was a time bomb, considering the morbid attachment of all
      African societies to their ancestral lands. The arrangement could last only as
      long as the armed forces were in a position to defend such titles.
    </p>
    <p>
      The second President (1978-2002), a non-Kikuyu, succeeded in keeping the peace
      until 1988, when the Western paladins of democracy put pressure on him to
      promulgate the multiparty system, outside of which, as is known, there is only
      weeping and gnashing of teeth.
    </p>
    <p>
      Since African parties lack ‘programs’, ‘manifestoes’ and the like, electors
      always vote for one of their own, whose fixed ‘program’ is, “I want to be
      President”.
    </p>
    <p>
      Hence when the 1992 elections loomed near, the President realized that the
      Kikuyu settled in the ancestral lands of his nation would have voted against
      him. And so he organized what the Western Press called “local clashes” but
      which in reality were operations of ethnic cleansing aimed at expelling Kikuyu
      farmers from non-Kikuyu areas.
    </p>
    <p>
      He succeeded twice, 1992 and 1997. Round figures as to the number of dead and
      the amount of wealth destroyed are still missing.
    </p>
    <p>
      In 2002 a coalition of Kikuyu and other nations fed up with a presidential
      power greater than that of a Louis XIV, voted him out of office and installed
      a Kikuyu as President.
    </p>
    <p>
      But when the electors of 2007 threw out of office 22 out of 27 ministers of
      the incumbent administration, it was clear that the opposition was going to
      win.
    </p>
    <p>
      History teaches, however, how easily the centers of power can rig elections.
      The time bomb went off within ten minutes of announcing the results. This time
      the country did split dramatically into two. The bloodbath was lit up by the
      tragic bonfires of destroyed property.
    </p>
    <p>
      The final toll was 1300 dead, a yet unclear number of maimed and wounded, and
      300,000 or so homeless. A visible minority of such still lives in refugee
      camps, euphemistically dubbed Internally Displaced Persons. All of them are in
      possession of utterly useless title deeds.
    </p>
    <p>
      But superstitions are hard to die. Paul Johnson’s paean to the unnatural
      individual title deed (he is right as to the natural corporate one) is so
      ingrained in people’s minds that the lessons of 2008 are utterly lost on the
      very sufferers of the violence. I personally verified this in Nakuru, 150 km
      NW of Nairobi, on Sunday 29th September 2013. A huge billboard greeted us at
      the town entrance. It sported a happy-looking farmer on his still undeveloped
      land, holding a paper clearly and calligraphically saying, Title Deed.
    </p>
    <p>
      The irony is that after the erstwhile White settlers with their title deeds
      disappeared after independence in 1963, a dozen or so of such still operate,
      largely in Maasai land. But instead of flaunting deeds that no one can
      protect, they pay rent to the Maasai, who protect their properties in
      exchange. It is the remedy proposed by Henry George, which works even though
      neither party has ever heard of him. Had this same principle been applied to
      the Kikuyu, those of them who today lie six foot under would still happily
      contribute to the welfare of the country.
    </p>
    <p>
      In Zambia, half way between Kenya and South Africa, the institution of title
      deed was abolished in 1975, and all estate agencies closed down. Former Crown
      Lands passed into the hands not of the State but of the President, who grants
      occupation to anyone in exchange for a modest ground rent on a 99-year lease.
      It repeats, unnoticed, the principle of feudal tenure.
    </p>
    <p>
      I personally verified the results of this policy in 2012. Lusaka, the capital
      city, sports double carriage highways, no traffic jams, free and ample parking
      anywhere, bungalows instead of apartment blocks, and a well-regulated public
      transport entirely in private hands. What is more, not a drop of blood has
      been spilled over land disputes since 1975. And not only: some 120 White
      settlers expelled from Zimbabwe cultivate land in Zambia, thus contributing to
      the national economy with their skills and know-how.
    </p>
    <p>
      The contrast with Kenya is startling. Nairobi has a crowd of multistory
      buildings, kilometer-long traffic jams, narrow roads, parking unobtainable or
      extremely expensive, chaotic transport, the lot irrigated (apologies for the
      term) by blood shed over tenant wars, family feuds and what have you. Fraud at
      the Land Department is rife, but let us leave that issue out of the context.
    </p>
    <h4>
      A Double Crown
    </h4>
    <p>
      Let us turn now to the history of ecclesiastical institutions, from the papacy
      downwards. The Land Question occupies a preeminent place, but like the
      elephant in the room, still passes unnoticed, and after centuries at that. Not
      a single, ponderous tome of ‘Church History’ mentions it.
    </p>
    <p>
      The Edict of Thessalonica (380) imposed the public confession of the Christian
      faith on the Empire. As a consequence donations of land began to accrue, not
      to ‘the Church’ as conventional historians like repeating, but to
      flesh-and-blood popes, bishops and priests, who benefited from the rent of
      such lands.
    </p>
    <p>
      That rent was put to two very different uses. One, benevolent, financed a
      thick network of social services: health, education, poor centers, orphan
      homes, hostelry, etc. all free of charge, which rendered taxation by the civil
      authorities superfluous. The other, malevolent use of the same rent was, you
      guess, diverting it for uses not always edifying to put it mildly. Many
      members of the hierarchy, not to speak of intruders, could thus live in
      leisure (and worse).
    </p>
    <p>
      It would take us too far to analyze 17 centuries of ecclesiastical land
      question. Let us concentrate on the donation of former Byzantine lands by
      Pepin of Heristal (756), which became the Papal States. They imposed a second
      crown on the pope: besides being head of the Church he was now King of those
      States. The arrangement lasted for more than 1000 years, until their demise in
      1870.
    </p>
    <p>
      The episode I consider most grotesque was a war waged by His Most Catholic
      Majesty Philip II of Spain on the Sovereign of the Papal States, i.e. Pope
      Paul IV in 1556, to wrest from him the duchy of Paliano, today an
      insignificant municipality of Lazio.
    </p>
    <p>
      In his laudatory hymn to the title deed Johnson reduces, as many do, the
      Church to its hierarchy. The ‘title’ offered security of property, as he
      underscores, only for as long as the civil powers were willing to defend it.
      What the title really did was to split the hierarchy of the Church into high
      and low clergy, the first living off rent and the second as best it could,
      from alms begging to intrigue. To say nothing of priests who squandered huge
      amounts of time hunting for benefices instead of fulfilling the duties of
      office.1 Let us also recall the infamous struggle for the investitures, which
      saw scoundrels of all kinds fraudulently ordained priests to accede to a
      ‘benefice’. A treatise could be written, but not here.
    </p>
    <p>
      The ecclesiastical balance in land, as the one in Naples, was not at all
      stable, despite appearances, even if it lasted centuries. It was a contained
      imbalance lasting until the princes agreed to be controlled: from above by the
      Decalogue, and from below by the social usages of a thick cobweb of guilds,
      confraternities and local authorities, towards whose liberties they swore
      allegiance. I will limit analysis to Tudor England in the three years
      1536-1539.
    </p>
    <p>
      It is startling to read in Cobbett’s History of the Reformation in England and
      Ireland (but only if one has read George and Gesell) how a social security set
      up by 1000 monasteries and 10,000 monks over 900 years collapsed in three
      short years at the hands of Thomas Cromwell, lackey of Henry VIII. Cromwell
      made a lavish use of gunpowder (in the absence of dynamite) to demolish the
      great abbeys, the ruins of which still majestically dot the English
      countryside.
    </p>
    <p>
      What happened to the land? Instead of using it for public revenue, Henry sold
      it for cash, much like the Kenya peasants are doing right now. Lords and the
      newly appointed prelates of the Anglican Church grabbed it. Their descendants,
      even today, go on pocketing rents, “loving to harvest where they never sowed”.
      For the uninformed, no Labour Party has ever succeeded in getting rid of the
      House of Lords, despite repeated promises to the contrary at election time.
      The Lords are there precisely to prevent the Commons from upsetting the apple
      cart, i.e. the territorial privileges secured by their ancestors with the
      subterfuge of apostatizing from Rome to take refuge in Westminster. The same
      story was repeated elsewhere: the much touted ‘Reformation’ was really a
      massive exercise in land grabbing, as Belloc and Cobbett insisted.
    </p>
    <h4>
      Byzantium
    </h4>
    <p>
      For obscure reasons, the history of Imperial Byzantium rarely makes it into
      school textbooks, despite a venerable existence of more than 1000 years. And
      no textbook links the fortunes of the Empire to the Land Question.1
    </p>
    <p>
      Reading between the lines, however, the question stands out in no uncertain
      terms. The dynasty of the Heraclids, from early seventh century, found the
      empire drastically depopulated after Justinian’s Gothic wars of 100 years
      before. Half way through the same century they stanched the bleeding by
      enticing, or forcing, people of Slav stock into the empire, Hellenizing them
      and organizing them into Themata.
    </p>
    <p>
      A Thema was a territorial, fiscal and military unit with land tenure
      guaranteed not by titles but by communal control. Every farmer was also a
      soldier, under the command of the Katapanos, the head of the Thema. They were
      fighting for family and home, and therefore with absolute loyalty. By solving
      the Land Question, the Byzantine Empire became invincible on the battlefield
      for four good centuries. And when the title deed reappeared, defeat loomed
      until its demise in 1453.
    </p>
    <h4>
      How the Large Landed Estate Deleted Poland from the Map
    </h4>
    <p>
      On perusing an early 17th century map of Europe, one is surprised to see that
      its largest country at the time was the then Lithuano-Polish Federation
      (Rzeczpospolita Polska). Its 773,000 square kilometers (Iberian Peninsula +
      Ireland + Iceland) extended north-south from the Baltic Sea to near the Black
      Sea, and east-west from Silesia to 200 km beyond the Dnieper. But a good 60%
      of the people within those borders were neither Poles nor Lithuanians: they
      were Cossacks, Tatars and assorted Slav and Turkic groups. The political
      stability of the Federation depended heavily, if not exclusively, on how the
      State dealt with the non-Polish non-Lithuanian majority.
    </p>
    <p>
      But the landlords in power, ignorant of history, repeated with the Federation
      the mistakes of Rome, albeit on a reduced scale. Eastward expansion entailed
      adding land to private, immense estates, some of them the size of Switzerland
      or Holland. Such estates generated, as they always do, forms of slavery. But
      the slaves sooner or later become increasingly reluctant to defend lands that
      are liabilities to them and assets to others.
    </p>
    <p>
      The population that should have defended the territory was a rural
      proletariat, with civic rights but landless. The only opportunity offered them
      was to work as day laborers on the properties of the nobility, who associated
      size to power.
    </p>
    <p>
      The noxiousness of the large estate was aggravated by the institution of the
      liberum veto in the Sejm (Parliament). A single landlord had the power of veto
      over any parliamentary decision that he deemed contrary to his interests over
      thousands, when not millions, of hectares. Necessary reforms were thus
      paralyzed, and the country progressively weakened.
    </p>
    <p>
      The subject people, on the other hand, had land but not the civil rights that
      they aspired to.
    </p>
    <p>
      In 1633 the Sejm approved a law that prohibited the nobles to trade,
      especially in alcoholic drinks. They began to live exclusively off rent,
      extorted more or less violently from the rural proletariat. Tax farmers were
      invariably Jews, immigrants in most tolerant Poland (which had no Inquisition)
      during the previous five centuries. 15% of the Jews collected taxes in the
      towns, 85% in the countryside.
    </p>
    <p>
      The vicious circle began with imported Jewish capital, which benefited the
      nobility as much as the State. Strengthened by such apparent advantage, the
      Federation pushed her colonization increasingly eastwards. The tax collectors
      knew that besides increasing the political power of the nobility, they could
      increase their own businesses by exploiting independent cultivators,
      bankrupting them and adding their properties to the estates of the nobles.
    </p>
    <p>
      At the death of King Sigismund (1572) the Federation had extended its dominion
      over the Cossacks of southern Ukraine. They agreed to form part of Poland much
      against their wishes, also because as Eastern Orthodox they objected to
      religious regulations alien to their culture.
    </p>
    <p>
      Reform was called for. The Cossacks were promised a law that would give them
      the same rights as the Poles, as well as protect them against the vexations of
      the tax collectors and those of the Jesuits, both extremely unpopular in the
      territory.
    </p>
    <p>
      The bill was discussed in the Sejm in 1648, the year of Westphalia. But the
      landlords, in cahoots with the tax collectors and putting their interests
      ahead of the common good, blocked it.
    </p>
    <p>
      The optimism of the Cossacks became vehement indignation. Their Hetman was
      Bogdan Chmielnicki. The tax collector Zachariah Sabilenski played a dirty
      trick on him, helping the Polish landlord Czaplinski to grab not only
      Chmielnicki’s land but also his wife. Another tax collector reported his
      negotiations with the Tatars to the government.
    </p>
    <p>
      It was the last straw. After two audiences with the king, and seeing justice
      denied, Chmielnicki raised an army of Cossacks and Tatars, and inflicted a
      double, bitter defeat on the federal army on 16th and 26th May 1648. There
      followed an orgy of looting, killings and massacres, which left behind
      mountains of corpses without distinction of age or sex.1
    </p>
    <p>
      When dictating conditions, Chmienicki invariably demanded the expulsion of the
      Jews and of the Catholic Church from the territories under his control.
    </p>
    <p>
      The neighboring powers lost no time in realizing that the Polish colossus was
      a giant with feet of clay. Muscovy, Prussia, Sweden, Brandenburg and the
      Ottoman Empire started nibbling at Federal territory, big in size but weak
      politically and militarily.
    </p>
    <p>
      In 1772 a Russian army and a Prussian one invaded the Rzeczpospolita Polska,
      crushing a desperate but useless Polish-Lithuanian resistance. Twenty years
      later Austria-Hungary joined the fray, and the partitions of 1793-95 completed
      the operation. Poland disappeared from the map until the 1919 Treaty of
      Versailles.
    </p>
    <p>
      The Poles still remember. They call it “The Flood”.
    </p>
    <p>
      Conventional historians and artists harp on the “Alliance of the three Black
      Eagles” (Russia, Prussia and Austria), at times adding picaresque details like
      Stanislaus Augustus Poniatowski last king of Poland as the lover of Catherine
      II of Russia, but none of them perceives the large landed estate as the remote
      cause of the partition. And the infamous ‘title deed’ goes on decorating
      textbooks as “one of the great inventions of human history”.
    </p>
    <!--<span class="endClause">Tagged under</span>
    <span class="">the_tags(' ');</span>-->
    <div class="realtedCarousel flexslider">
                       
        <%- include ('partials/related') %>
    </div>
     
    
        </div>
        <!-- blogGroupsCont -->
    
    </div>
    <!-- rightBlogArticleFull -->        
    
    </div>
    <!-- col-lg-12  -->
    </div>
    <!-- fullcontentSection -->
    </main>
    <!-- midSection -->
    
    <%- include ('partials/footer') %>