<main id="midSection">
  <div class="row fullcontentSection">
    <div class="col-lg-12">
      <div class="videoContInner newLetPage">
        <div class="bdPkgsCont bdRow">
          <div class="bdItems clearfix bdPkgsMason">
            <div class="bdPkgs">
              <a href="teacher-education">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://wwwassets.rand.org/content/rand/capabilities/solutions/evaluating-the-effectiveness-of-teacher-pay-for-performance/jcr:content/par/solution.aspectfit.868x455.jpg/1548894048585.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >Issue 18 - January 2020</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                St Thomas Aquinas’ defines education as “the promotion of
                offspring to the...
              </p>
            </div>

            <div class="bdPkgs">
              <a href="university">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://one2one.co.ke/wp-content/uploads/2019/03/54433664_2459371900763797_3467410381771636736_n.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >Issue 7 - February 2019</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                The institution called university has been with us for a good
                millennium. At its...
              </p>
            </div>
          </div>
          <!--bdItems-->

          <nav class="paginationNav">
            <span aria-current="page" class="page-numbers current">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="next page-numbers" href="#">Next &raquo;</a>
          </nav>
        </div>
        <!--bdPkgsCont-->
      </div>
      <!-- videoContInner -->
    </div>
    <!-- col-lg-12  -->
  </div>
  <!-- fullcontentSection -->
</main>
<!-- midSection -->
