<%- include ('partials/header') %>
<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
        


<h1 class="blogTitle">LACK OF MONEY IS THE ROOT OF ALL EVIL</h1>

<div class="blogMetaCont">

<span class="blogMeta blogDate">Feb 5, 2020</span>



<span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span>

</div>	
<div class="blogArticleImage">


<img width="1000" height="500" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg" class="attachment-articleimg size-articleimg wp-post-image" alt="" />		

</div>

<!--  blogArticleImage -->	
<p>
    Dear Money,
</p>
<p>
    There was a time when you acted as a servant of the economy; today you act as its master. Instead of facilitating exchanges you hinder them; you have fooled people into believing that to have you means to be rich; from simple medium of exchange that your nature requires you to be, you have added the purely parasitic function of store of value; your masters brazenly lie about your nature, prioritizing criminal and illegitimate functions over beneficent and legitimate ones; you disappear from the pockets of those who work to swell the stream of usurious interest; to do this the bankers your masters deprive governments of the power to issue cash as a rapid means of fiscal payment, forcing them to recur to cumbersome, expensive and fraudulent credit, which confers official units (shillings in East Africa) to fancy pieces of paper, an operation that when political power was real would be punished by hanging; etcetera.
</p>
<p>
    The problem is a) that we cannot do without you, and b) that we are so ignorant and subdued as not to see the way out, not far away but psychologically invisible.
</p>
<p>
    Internet offers information by the cartload, but leaves out the assimilating capacity of each one. People begin to understand, but exceedingly slowly. Let us try to accelerate the process.
</p>
<p>
    When Lord Acton (1834-1902) was Chief Justice of the UK (1875) he said:   
</p>
<p>
    The issue which has swept down the centuries and which will have to be fought sooner or later is the people versus the banks.
</p>
<p>
    The events between Waterloo (1815) and his days had been enough for him to foretell what we are observing 140 years on today. He understood that money, instead of being managed by legitimate political power, is managed by an illegitimate banking system. Furthermore, the banks do not manage money in the interest and advantage of the people, but in their own and their ‘friends’. He could see this aberration at work from the time of the Congress of Vienna (1815).
</p>
<p>
    Lord Acton’s war has been raging ever since, but unperceived owing to a very effective propaganda. And a trusting but ignorant people rely on their sworn enemies instead of turning on them, fighting them off and defeating them once and for all. 
</p>
<h4>
    Knowing the Enemy
</h4>
<p>
    The enemy’s strategy is no other than falsehood. Most people believe that:
</p>
<ul>
    <li>
        Banks are the “safest” place where to keep money; 
    </li>
    <li>
        Bank deposits are “loaned” to potential investors;
    </li>
    <li>
        Banks “multiply” circulating money by retaining a fraction of the deposits and lending the rest up to ten or more times the amount.
    </li>
    <li>
        Cash is issued by Government.
    </li>
    <li>
        Credit and cash are quantitative as well as qualitative equivalents.
    </li>
</ul>
<h4>
    None of the foregoing propositions is true. The bank instead: 
</h4>
<ul>
    <li>
        Appropriates the depositor’s cash at once, transforming it in an IOU with a few computer keystrokes.
    </li>
    <li>
        Deposits, allegedly lent to investors, remain in the bank computers. They are never lent. No one ever hears on going to the bank, “Sorry sir, we had to lend your money to …
    </li>
    <li>
        “Depositors” think that the bank is solvent because they can get cash on demand. But when the demand for cash exceeds the reserve, trouble looms on the horizon. Other banks come to the rescue with amounts of cash until confidence is restored, but if for whatever reason this is not done, it is receivership. “Depositors” find that the bank never had the money it said it had, except that now the truth is out for all to see.
    </li>
    <li>
        The “multiplier effect” is a being of reason with no counterpart in reality. 
    </li>
    <li>
        Governments issue coins. Banknotes and instruments of credit are a prerogative (in reality usurpation) of the banking system; 
    </li>
    <li>
        Cash is liquid, credit is not. The first moves goods and services every time it changes hands; the second pays a cut to the bank at every transaction from one account to another. 
    </li>

</ul>
<h4>
    Furthermore:
</h4>
<ul>
    <li>
        Banks create money as loans, either to the private or to the public sector. “Borrowers” actually issue new purchasing power by signing cheques up to the amount agreed. 
    </li>
    <li>
        The “capital” thus “loaned” gets overburdened with usury, renamed “interest”. Note the utter absence of “emergent harm”, “ceasing gain”, “risk” and “liability to forfeit”, the old reasons that justified the extra debit when loans were in physical money; 
    </li>
    <li>
        The bank obliterates the sum “lent” on its being “repaid” by the borrower. It is easier and cheaper to issue new “loans” than keeping old ones into circulation. But the ghost sums remain in the books, so as to give the impression of solvency.
    </li>
    <li>
        The bank dispossesses the “borrower” of his “collateral” by demanding payment when the “borrower” is in difficulty. The law supports the operation, hidden in the small print of the contract.
    </li>
    <li>
        The 97% of money in form of credit goes mostly to a) the housing bubble, and b) financial speculation. A paltry 8% or so goes into the real economy of production and exchange. This is one of the two main reasons (the other is the land question) for the ever-increasing gap between the rich and the poor.
    </li>
    
</ul>
<p>
    It follows that waging war on so many fronts would spell a sure defeat. Before even thinking about it, it is mandatory to clear the mind of the initial falsehoods. Failing to do so makes it impossible to see why one should fight at all, and less still understand the tactics to adopt.
</p>
<p>
    In his days, Lord Acton clearly took the part of the people against an increasing banking power; today State and banks are in league against the people, who naively expect salvation no one knows from.  
</p>
<p>
    The only advantage of the people lies in numbers, but only a unified command is in a position to field the winning counter-strategy and tactics.
</p>
<p>
    I shall limit this essay to the war against cash. It took two centuries for the banks to force the bulk of the economy (up to 97-98%) onto credit controlled by them, so that by the beginning of the 21st century they were close to a 100% target.
</p>
<p>
    But an unexpected event took the rug from under their feet, dramatically upsetting the outcome of the struggle: M-PESA.
</p>
<h4>
    The Blood of the Economy
</h4>
<p>
    Blood acts in a living body by:
</p>
<ul>
    <li>
        Circulating, i.e. repeatedly completing the loop from heart to heart;
    </li>
    <li>
        Never stopping, thus supplying every nook and cranny of every tissue it bathes.
    </li>
</ul>
<p>
    In 24 hours, five litres of blood become five tons by circulating 1000 times. The metaphor would apply to money if it was not hoarded, but made to act exclusively as a medium of exchange; at a limit, a paltry sum of 400 million (ten shillings per Kenya citizen) could move 400 billion of goods and services simply by circulating 1000 times. 
</p>
<p>
    Up to 2007 the banks had successfully prevented this from happening. They do not benefit from circulating cash, but from slow-moving credit and from possessing the collateral (real wealth) of failed debtors. The Kenya economy was limping along, driven on by the entrepreneurial spirit of its citizens but slowed down by the State-banks combine.
</p>
<p>
    Then M-PESA burst upon the scene. Every Kenyan reading this knows only too well how it works. What M-PESA has meant for the Kenya economy can be glimpsed at by a quick drive in areas today feverish with economic activity, but which up to 2007 grew no more than wild grasses. Knowledge in depth is still lacking, however, and it is the purpose of this article to spell it out.
</p>
<p>
    M-PESA’s benefits can be resumed thus:
</p>
<ul>
    <li>
        A mobile phone has proved a far safer place for one’s money than any current bank account. Since the total amount kept in a mobile phone may not exceed 100,000/- by law, the owner is forced to spend any amount exceeding that sum. It is this fast-circulating money that accounts for 7 billion of daily M-PESA transactions (2017).
    </li>
    <li>
        This forced spending has effectively nullified the function of store of value that academic economists assign to money.
    </li>
    <li>
        The monetary mass has not increased, thus avoiding inflation;
    </li>
</ul>
<p>
    The potential is even higher, but few are aware of it. And it is that these spectacular targets have been achieved despite the regulatory limits imposed by the CBK. 
</p>
<p>
    The maximum amount allowed per transaction remains 70,000/-, the maximum daily twice that, 140,000/-. Also, cash payments to public offices are limited to 2,000/-, thus making it mandatory to have recourse to the banks.
</p>
<p>
    Should these regulatory brakes be lifted, monetary sovereignty would dramatically accrue to the people, and a large chunk of financial “services” of every kind would become redundant. 
</p>
<p>
    If, finally, Government were to reclaim monetary sovereignty, Kenya would take such a giant leap forward as to leave behind far more than the rest of Africa.
</p>
<p>
    The concept will be developed in a following article.
</p>
<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->

            <div class="realtedCarousel flexslider">
               
<h3>More Like This</h3>

<ul class="slides">


                    <li>
                        <div class="relatedPost">
                            <a href="#">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-300x300.jpg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-45x45.jpg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Jan 19, 2020</span>
                                <span class="relatedPostTitle">How will you use your new superpower?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="#">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Dec 01, 2019</span>
                                <span class="relatedPostTitle">Are you working on anything that will outlast you?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="#">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Nov 24, 2019</span>
                                <span class="relatedPostTitle">Are you stuck in a &#8216;BS&#8217; job?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="#">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Nov 10, 2019</span>
                                <span class="relatedPostTitle">Will Uber run out of road?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     



             
               
                </ul>
                <!-- slides -->

            </div>
            <!-- realtedCarousel -->        
        
<span class="endClause">Like it? Hate it? Engage here</span>


<div id="disqus_thread"></div>

        
         
    </div>						
   
               
                <div class="rightBlogArticleFull">
                    <div class="blogGroupsCont">


<div>
<h3>Popular Posts</h3>
<!-- WordPress Popular Posts -->

<ul class="wpp-list">
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="150" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-150x150.jpeg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" data-img-srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-45x45.jpeg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">Do you shoulder blame, or dodge it?</a><span class="wpp-date">January 5, 2020</span></div></li>
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="106" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/Best-Books-of-2019-e1577193293187.jpg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">My top books of 2019</a><span class="wpp-date">December 24, 2019</span></div></li>
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="100" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/frank-mckenna-4V8JxijgZ_c-unsplash-e1577291931938.jpg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">Are you honouring your mother, or defacing her?</a><span class="wpp-date">December 29, 2019</span></div></li>
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="150" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-150x150.jpeg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" data-img-srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-45x45.jpeg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">Wait - did I read TOO many books last year?</a><span class="wpp-date">January 12, 2020</span></div></li>
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="150" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" data-img-srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-300x300.jpg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">How will you use your new superpower?</a><span class="wpp-date">January 19, 2020</span></div></li>

</ul>

</div>
<div><h3>Latest Posts</h3><div  class="rpwe-block "><ul class="rpwe-ul"><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-130x130.jpg" alt="How will you use your new superpower?"></a><h3 class="rpwe-title"><a href="#" title="Permalink to How will you use your new superpower?" rel="bookmark">How will you use your new superpower?</a></h3><time class="rpwe-time published" datetime="2020-01-19T07:00:06+00:00">Jan 19, 2020</time></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-e1578510672367-130x130.jpeg" alt="Wait &#8211; did I read TOO many books last year?"></a><h3 class="rpwe-title"><a href="#" title="Permalink to Wait &#8211; did I read TOO many books last year?" rel="bookmark">Wait &#8211; did I read TOO many books last year?</a></h3><time class="rpwe-time published" datetime="2020-01-12T07:00:38+00:00">Jan 12, 2020</time></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-130x130.jpeg" alt="Do you shoulder blame, or dodge it?"></a><h3 class="rpwe-title"><a href="#" title="Permalink to Do you shoulder blame, or dodge it?" rel="bookmark">Do you shoulder blame, or dodge it?</a></h3><time class="rpwe-time published" datetime="2020-01-05T07:00:33+00:00">Jan 05, 2020</time></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/frank-mckenna-4V8JxijgZ_c-unsplash-e1577291931938-130x130.jpg" alt="Are you honouring your mother, or defacing her?"></a><h3 class="rpwe-title"><a href="#" title="Permalink to Are you honouring your mother, or defacing her?" rel="bookmark">Are you honouring your mother, or defacing her?</a></h3><time class="rpwe-time published" datetime="2019-12-29T07:00:21+00:00">Dec 29, 2019</time></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/Best-Books-of-2019-e1577193293187-130x130.jpg" alt="My top books of 2019"></a><h3 class="rpwe-title"><a href="#" title="Permalink to My top books of 2019" rel="bookmark">My top books of 2019</a></h3><time class="rpwe-time published" datetime="2019-12-24T16:40:34+00:00">Dec 24, 2019</time></li></ul></div><!-- Generated by http://wordpress.org/plugins/recent-posts-widget-extended/ --></div><div><h3>Archives</h3>		<label class="screen-reader-text" for="archives-dropdown-2">Archives</label>
<select id="archives-dropdown-2" name="archive-dropdown" onchange='document.location.href=this.options[this.selectedIndex].value;'>

<option value="">Select Month</option>
<option value='#'> January 2020 &nbsp;(4)</option>
</select>
</div>
                 

                    </div>
                    <!-- blogGroupsCont -->

                </div>
                <!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->

<%- include ('partials/footer') %>