<main id="midSection">
  <div class="row fullcontentSection">
    <div class="col-lg-12">
      <div class="videoContInner newLetPage">
        <div class="bdPkgsCont bdRow">
          <div class="bdItems clearfix bdPkgsMason">
            <div class="bdPkgs">
              <a href="confusions-of-man">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://img.freepik.com/free-photo/confused-young-handsome-man-scratching-head_1262-4909.jpg?size=626&ext=jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >Issue 18 - January 2020</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                There is confusion when things do not occupy their due place in
                the order of the universe...
              </p>
            </div>

            <div class="bdPkgs">
              <a href="lack-of-money">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://lh3.googleusercontent.com/proxy/JqG0_jCOU9uaq0kHtS3tLKXbI7GnUYGOhkLLugzYV-2y_R-tF5Yhf2dP-llorlL145Jvr-DDFBdvU8L_ty0uNqCcCRQkWk6IO4apqGT2CGhfh9cyDIkjpEpse6KF2vk"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >Issue 7 - February 2019</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                Dear money,There was a time when you acted as a servant of the
                economy; today you act as its master...
              </p>
            </div>

            <div class="bdPkgs">
              <a href="philosofia">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://www.brilliantread.com/wp-content/uploads/2019/09/socrates-quotes.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >Issue 7 - February 2019</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                Philosophy means “love of wisdom.” But we must know what wisdom
                is before loving it...
              </p>
            </div>

            <div class="bdPkgs">
              <a href="three-more-confusion">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://media.npr.org/assets/img/2015/12/14/confused-c2e1e9d14491a9486d996da945debcc9d6ce7170-s800-c85.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >Issue 7 - February 2019</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                This most ancient confusion dates from the disobedience of our
                first parents. The serpent’s promise...
              </p>
            </div>
          </div>
          <!--bdItems-->

          <nav class="paginationNav">
            <span aria-current="page" class="page-numbers current">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="next page-numbers" href="#">Next &raquo;</a>
          </nav>
        </div>
        <!--bdPkgsCont-->
      </div>
      <!-- videoContInner -->
    </div>
    <!-- col-lg-12  -->
  </div>
  <!-- fullcontentSection -->
</main>
<!-- midSection -->
