<h2>Share my Experience</h2>
<main id="midSection">
  <div class="row fullcontentSection">
    <div class="col-lg-12">
      <!-- testimonials -->
      <div class="doneItSection">
        <div class="doneItPeople">
          <a class="singleDoer">
            <img src="/images/blwon.JPG" />
            <span class="singleDoerName">My Journey in Maa Land</span>
          </a>
          <a class="singleDoer">
            <img src="/images/bonorva.jpg" />
            <span class="singleDoerName">A stop at Bonrover</span>
          </a>

          <a class="singleDoer">
            <img src="/images/miguel_chapel.jpg" />
            <span class="singleDoerName">Miguel Chapel</span>
          </a>

          <!-- <a class="singleDoer">
            <img src="/images/Trencher2.jpg" />
            <span class="singleDoerName"
              >Jonathan Mueke, Director, TSG Realty</span
            >
          </a> -->
          <a class="singleDoer">
            <img src="images/varender.JPG" />
            <span class="singleDoerName">Enjoying Mombasa breez</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
