<%- include ('partials/header') %>
<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
        


<h1 class="blogTitle">CORRUPTION AHOY</h1>

<div class="blogMetaCont">

<span class="blogMeta blogDate">Feb 5, 2020</span>



<span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span>

</div>	
<h4>King Log Politics</h4>
<div class="blogArticleImage">


<img width="1000" height="500" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg" class="attachment-articleimg size-articleimg wp-post-image" alt="" />		

</div>

<!--  blogArticleImage -->	

       <p>
        What a great introduction to the nature of politics in general, and corruption in particular, is Aesop’s King Log fable. Here it goes.
       </p>
       <p>
        There was chaos in the pond. The frogs needed a king to put order, and petitioned Zeus to send one.
       </p>
       <p>
        Zeus obliged. He sent a log of wood which, after a mighty splash and a noisy show of power, set himself placidly to float in the pond, now peaceful and orderly. King Log was not doing anything, but for as long as the frogs respected its silent authority everything was well. 
       </p>
       <p>
        Trouble began when an enterprising, saucy frog, noting that the king was not really doing his duty, had the effrontery of jumping onto the king’s back without eliciting any response.
       </p>
       <p>
        Chaos once again reigned in the pond. The frogs, annoyed at the rampant social disorder but unable to do anything about it, appealed to Zeus once again.
       </p>
       <p>
        Zeus complied, but this time he sent a water snake, which began to gobble up one frog after another. Government was now not by consent but by terror.
       </p>
       <p>
        When I read this story as a young boy, I did not realize that it would take a good half a century before I understood Aesop’s fable as the profound lesson in political science it is.
       </p>
       <p>
        King Log and the frogs belong to the vegetable and the animal nature respectively. There is not, and there cannot be, conflict of interest. The snake and the frogs, on the other hand, share their animal nature. Conflict of interest is a permanent feature of the pond polity. “Keep a low profile or be eaten” is now the only froggy alternative.
       </p>
       <h4>
        Corruption and Monarchy 
       </h4>
       <p>
        Conflict of interest has always been not so much the cause of, as the golden occasion for, corruption. When kings not only reigned but also governed, they had no personal property, bank accounts, queens running businesses on the side, etc. Embezzling public funds was risky. The story of Monsieur Nicolas Fouquet, Minister of Finance to King Louis XIV, is a case in point.
       </p>
       <p>
        M. Fouquet had served as Superintendent of Finance in the administration before that of King Louis. To say that he was careless with public funds is an understatement. The confusion between the funds of the Ministry and his own was hopeless. 
       </p>
       <p>
        You don’t embezzle large amounts without some collateral ostentation. Fouquet had commissioned, and executed, a magnificent château, still standing in architectural majesty as a tourist attraction at Vaux-le-Vicomte, some 55km south of Paris. At its inauguration he could not help inviting the king. He felt somewhat protected by the king’s youth (23 against Fouquet’s 46) and by powerful vested interests he had favoured in the past. 
       </p>
       <p>
        The king came, observed and did some mental calculations. Shortly afterwards Fouquet was arrested. The trial that unearthed the evidence took three long years. Sentence: life imprisonment and confiscation of Fouquet’s estate.
       </p>
       <h4>
        Corruption and Democracy
       </h4>
       <p>
        Kings were in a position to do that. In Kenya they did that until independence. Apart from their salaries, the Queen’s representatives had no vested interests in the day-to-day affairs of the people. They were impartial by necessity, and could govern along King Log’s principle and method. 
       </p>
       <p>
        Before leaving, the colonialists left in place a statutory law forbidding conflict of interests. It clearly stated that civil servants might not run private businesses while in the employ of government. The law was in force until 1972.
       </p>
       <p>
        But government soon realized that private businesses attracted better people than the public service did. It therefore set up the Ndegwa Commission to study the matter and make recommendations. These were that the old colonial law should be repealed to redress the imbalance between the public and the private sector in the matter of employment.
       </p>
       <p>
        That’s how conflict of interest, now legalized, threw the gates open to corruption, which soon overflowed from the public to the private sector. The Ndegwa Commission did not cause corruption. It merely provided the fertile ground on which the weed has been growing ever since. 
       </p>
       <p>
        The public service has increased roughly tenfold since 1962, from 42 000 to 450 000. In practice this means that 450 thousand people can, every day, go to work asking: “How can my business benefit today from what I am doing?  
       </p>
       <p>
        The Kenya landscape is dotted with mansions of sizes not justified by many a lifetime of savings. None of them is a tourist attraction like Vaux-le-Vicomte, but they are the unfailing signature of corruption. They will all end up for a cheap sale, when their owners die, or are too weak and old to maintain them. They will be purchased by socially useful institutions like schools, hospitals, etc. thus contributing to the welfare of the country if only belatedly. But one thing is certain: setting up Anti-Corruption Authorities, Committees, Task Forces, Special Squads, Audit Units and other bureaucratic paraphernalia without repealing the 1972 law is like trying to empty the ocean with a bucket.
       </p>
       <p>
        The most obvious result of corruption, of course, is double taxation, with an unknown but substantial part of the revenue going to the illegal, but effective, “exchequer” of the corrupt. Incorruptibility can still be found, but supported exclusively by the moral standards of those individuals who honour their consciences more than they honour the statutory laws.1 
       </p>
       <h4>
        The Price of Integrity
       </h4>
       <p>
        When kings governed, lawbreakers were punished, but law abiders were rewarded as the following story shows.
       </p>
       <p>
        Some 150 years ago Emperor Franz Joseph of Austria-Hungary was out hunting. At night, tired and unkempt, he repaired to the small royal lodge in the forest, trying to sneak in through a back door known to him. But a lone sentry barred his way, saying that he was under orders not to let anyone through.
       </p>
       <p>
        Franz Joseph clicked heels, saluted and left. A few days later the sentry’s commanding officer summoned him.
       </p>
       <p>
           <em>
            You are guilty – he said – of not having recognized His Imperial Majesty. Therefore the Emperor relieves you from your post – and promotes you to sergeant. And so that you may not forget his countenance again, he sends you twenty portraits of himself.
           </em>
       </p>
       <p>
        And he handed over to the bewildered soldier twenty gold coins, each with the sovereign’s face on it.
       </p>
       <p>
        Fast forward to Kenya 2010. A container full of goodies in the name of an MP with some political clout arrives in Mombasa. The KRA official demands tax, which the MP refuses to pay. The issue goes high up, and the KRA official is duly sacked. 
       </p>
       <p>
        One single case is not enough to equate democracy with kleptocracy (rule of thieves), but too many of such show that men of integrity do not fare well in a democratic setting. A professor known to me was the director of an important research centre, which he ran competently and honestly. One good day, completely out of the blue, he found that someone very high up had donated him a piece of land without even consulting him. It was an unsolicited gift, which if accepted would have tied him to the donor for the rest of his life. Respectfully but firmly he declined the gift. And he was eased out of his post “with immediate effect”.  
       </p>
       <p>
        To be punished for an act of integrity by corrupt people in high position can be taken as a badge of honour, but to be despised by people low down the social scale, supposedly critical of corruption, can be rather disheartening. It happened to another friend university educator.   
       </p>
       <p>
        He had built a modest rural home, which adequately represented the fruits of his labour. But the villagers, far from praising his sobriety, vilified him for his unwillingness to live beyond his means by methods other than hard work.
       </p>
       <p>
        As a man of integrity he did not publicize the issue, but for those interested in the phenomenon it says a lot as to why the canker of corruption is unlikely to go: the wananchi admire corrupt people in deeds while condemning them in words.
       </p>
       <h4>
        Kleptocratic Impunity
       </h4>
       <p>
        “Take away justice” remarked St Augustine, “and what are governments but dens of thieves?” There is no need to go further to explain the impunity enjoyed in Kenya by corrupt people since independence.
       </p>
       <p>
        When corruption, from grand to petty larceny, is the prerogative of people in government, on what moral high ground can any of them make anyone else serve time for corruption? A few real life episodes will illustrate. 
       </p>
       <ol>
           <li>The Agricultural Show. On one occasion the intake of the Show amounted to 18 million shillings. As the officials were counting the cash and planning (or so they thought) the future, two men in black arrived with peremptory instructions to send nine million in a paper bag to a certain address. The request “could not be ignored” and 50% of the intake vanished down memory lane.</li>
           <li>The new grader. A Ministry of Works depot had written off an old grader, which reconditioned in their workshops had been auctioned off. The depot had purchased a new grader. When the buyers of the old grader showed up, the manager was flabbergasted on seeing that the purchase order was for the new grader! The men in black produced impeccable documents. There was no irregularity, and the new grader disappeared down the same memory lane as the 9 million cash of the Agricultural Show.</li>
           <li>The Fertilizer Factory. A foreign concern was promised a plot of land to build and run an artificial fertilizer factory. All existing import licences for fertilizers were withdrawn. Then, mysteriously, the company found that the piece of land was unsuitable, while all the previous import licences had ended up into the same pair of hands. </li>

       </ol>
       <p>
        And so on and so forth. To understand corruption in depth requires first to take a deep look inside oneself, just to check that hands wring and fingers point in the right direction.  
       </p>
<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->

            <div class="realtedCarousel flexslider">
               
<h3>More Like This</h3>

<ul class="slides">


                    <li>
                        <div class="relatedPost">
                            <a href="#">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-300x300.jpg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-45x45.jpg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Jan 19, 2020</span>
                                <span class="relatedPostTitle">How will you use your new superpower?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="#">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/070C7534-ECD9-4B05-A9CF-431C1C7BBDF2-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Dec 01, 2019</span>
                                <span class="relatedPostTitle">Are you working on anything that will outlast you?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="#">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/BDE795B8-BC6E-4BE6-8AE6-A580A1BC0C4E-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Nov 24, 2019</span>
                                <span class="relatedPostTitle">Are you stuck in a &#8216;BS&#8217; job?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     




                    <li>
                        <div class="relatedPost">
                            <a href="#">
                            <div class="relatedPostImgCont">
                                                                               <img width="130" height="130" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-150x150.jpeg" class="attachment-130x130 size-130x130 wp-post-image" alt="" srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/E2BC25E4-7C29-487B-B60B-D7CF5AB2D24B_1_201_a-45x45.jpeg 45w" sizes="(max-width: 130px) 100vw, 130px" />                                                                                            </div>
                            <!-- relatedPostImgCont -->

                            <div class="relatedPostTxtCont">
                                <span class="relatedPostDatePosted">Nov 10, 2019</span>
                                <span class="relatedPostTitle">Will Uber run out of road?</span>
                            </div>
                            <!-- relatedPostTxtCont -->
                            </a>
                        </div>
                    </li>     



             
               
                </ul>
                <!-- slides -->

            </div>
            <!-- realtedCarousel -->        
        
<span class="endClause">Like it? Hate it? Engage here</span>


<div id="disqus_thread"></div>

        
         
    </div>						
   
               
                <div class="rightBlogArticleFull">
                    <div class="blogGroupsCont">


<div>
<h3>Popular Posts</h3>
<!-- WordPress Popular Posts -->

<ul class="wpp-list">
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="150" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-150x150.jpeg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" data-img-srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-45x45.jpeg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">Do you shoulder blame, or dodge it?</a><span class="wpp-date">January 5, 2020</span></div></li>
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="106" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/Best-Books-of-2019-e1577193293187.jpg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">My top books of 2019</a><span class="wpp-date">December 24, 2019</span></div></li>
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="100" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/frank-mckenna-4V8JxijgZ_c-unsplash-e1577291931938.jpg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">Are you honouring your mother, or defacing her?</a><span class="wpp-date">December 29, 2019</span></div></li>
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="150" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-150x150.jpeg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" data-img-srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-150x150.jpeg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-300x300.jpeg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-45x45.jpeg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">Wait - did I read TOO many books last year?</a><span class="wpp-date">January 12, 2020</span></div></li>
<li><div class="popImgHold"><a href="#" target="_self"><img width="150" height="150" data-img-src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg" class="wpp-thumbnail wpp_featured wpp-lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="" data-img-srcset="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-150x150.jpg 150w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-300x300.jpg 300w, https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a> </div><div class="popTxtHold"><a href="#" class="wpp-post-title" target="_self">How will you use your new superpower?</a><span class="wpp-date">January 19, 2020</span></div></li>

</ul>

</div>
<div><h3>Latest Posts</h3><div  class="rpwe-block "><ul class="rpwe-ul"><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/IMG_8022-130x130.jpg" alt="How will you use your new superpower?"></a><h3 class="rpwe-title"><a href="#" title="Permalink to How will you use your new superpower?" rel="bookmark">How will you use your new superpower?</a></h3><time class="rpwe-time published" datetime="2020-01-19T07:00:06+00:00">Jan 19, 2020</time></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/01DE512F-2A2A-404D-8722-6678DD0C7201_1_201_a-e1578510672367-130x130.jpeg" alt="Wait &#8211; did I read TOO many books last year?"></a><h3 class="rpwe-title"><a href="#" title="Permalink to Wait &#8211; did I read TOO many books last year?" rel="bookmark">Wait &#8211; did I read TOO many books last year?</a></h3><time class="rpwe-time published" datetime="2020-01-12T07:00:38+00:00">Jan 12, 2020</time></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/8A140223-1D6E-4042-94FB-C144748A1B13-130x130.jpeg" alt="Do you shoulder blame, or dodge it?"></a><h3 class="rpwe-title"><a href="#" title="Permalink to Do you shoulder blame, or dodge it?" rel="bookmark">Do you shoulder blame, or dodge it?</a></h3><time class="rpwe-time published" datetime="2020-01-05T07:00:33+00:00">Jan 05, 2020</time></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/frank-mckenna-4V8JxijgZ_c-unsplash-e1577291931938-130x130.jpg" alt="Are you honouring your mother, or defacing her?"></a><h3 class="rpwe-title"><a href="#" title="Permalink to Are you honouring your mother, or defacing her?" rel="bookmark">Are you honouring your mother, or defacing her?</a></h3><time class="rpwe-time published" datetime="2019-12-29T07:00:21+00:00">Dec 29, 2019</time></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="#"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/Best-Books-of-2019-e1577193293187-130x130.jpg" alt="My top books of 2019"></a><h3 class="rpwe-title"><a href="#" title="Permalink to My top books of 2019" rel="bookmark">My top books of 2019</a></h3><time class="rpwe-time published" datetime="2019-12-24T16:40:34+00:00">Dec 24, 2019</time></li></ul></div><!-- Generated by http://wordpress.org/plugins/recent-posts-widget-extended/ --></div><div><h3>Archives</h3>		<label class="screen-reader-text" for="archives-dropdown-2">Archives</label>
<select id="archives-dropdown-2" name="archive-dropdown" onchange='document.location.href=this.options[this.selectedIndex].value;'>

<option value="">Select Month</option>
<option value='#'> January 2020 &nbsp;(4)</option>
</select>
</div>
                 

                    </div>
                    <!-- blogGroupsCont -->

                </div>
                <!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->

<%- include ('partials/footer') %>