<main id="midSection">
  <div class="row fullcontentSection">
    <div class="col-lg-12">
      <div class="videoContInner newLetPage">
        <div class="bdPkgsCont bdRow">
          <div class="bdItems clearfix bdPkgsMason">
            <div class="bdPkgs">
              <a href="africa-and-faith">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://www.jakpost.travel/imgfiles/full/31/317408/church-wallpaper-hd.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >africa and the faith</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                A leading African intellectual, since deceased, had been trained
                in the art of weak thinking in a Western university...
              </p>
            </div>

            <div class="bdPkgs">
              <a href="anglican-vs-catholic">
                <figure class="bdPkgsImg">
                  <img
                    class="ss_screenshot_img"
                    alt=""
                    width="300"
                    src="https://catholicphilly.com/media-files/2019/11/20191113T1344-0064-CNS-POPE-WELBY-SOUTH-SUDAN.jpg"
                  />

                  <span class="viewPkg">View</span>
                </figure>

                <div class="bdPkgsTxt">
                  <div class="headerFeaturedMetas">
                    <div class="headerFeaturedMetasInner">
                      <span class="headerFeaturedCategory"
                        >anglicans and the catholic church</span
                      >
                    </div>
                    <!-- headerFeaturedMetasInner -->
                  </div>
                  <!-- headerFeaturedMetas -->
                </div>
                <!--bdPkgsTxt-->
              </a>
              <p class="newsletterSummary">
                To understand the present-day relation between the Anglican
                Church and the Catholic Church it is necessary to...
              </p>
            </div>
          </div>
          <!--bdItems-->

          <nav class="paginationNav">
            <span aria-current="page" class="page-numbers current">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="next page-numbers" href="#">Next &raquo;</a>
          </nav>
        </div>
        <!--bdPkgsCont-->
      </div>
      <!-- videoContInner -->
    </div>
    <!-- col-lg-12  -->
  </div>
  <!-- fullcontentSection -->
</main>
<!-- midSection -->
