<%- include ('partials/header') %>
<div class="container">
  <h2 class="heading">Our Services</h2>
  <hr />

  <div class="row">
    <div class="col-sm">
      <img
        src="https://cdn.techmesto.com/wp-content/uploads/2011/08/how-to-learn-about-computer-networking5.jpg"
        class="rounded float-left s-image"
        alt="..."
      />
      <h2 class="sub-heading">Internet Connectivity</h2>
      <div class="data">
        <p>
          <strong>a) Companies</strong>
        </p>
        <p>
          Feltom offers wireless broadband internet connectivity to companies.
          We offer complete on demand tech support and constantly monitor our
          clients networks to ensure 99.99% availability. You can find out more
          about our rates <a href="#">here</a>.
        </p>
        <p>
          <strong>b) Home</strong>
        </p>
        <p>
          We offer internet connectivity to homes in both urban and rural
          environment. the packages come in dedicated internet and shared
          bandwidth. find out more about the rates <a href="#">here</a>.
        </p>
      </div>
    </div>
    <!-- <div class="col-sm">
        
      </div> -->
  </div>

  <hr />

  <div class="row">
    <div class="col-sm">
      <img
        src="https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/3534ea199b1a47b8dd199c77dd3346a5/large.jpg"
        class="rounded float-left s-image"
        width="490"
        height="280"
        alt="..."
      />
      <h2 class="sub-heading">Office Networking</h2>
      <div class="data">
        <p>
          <strong>Consultation</strong>
        </p>
        <p>
          We offer consultation to clients on matters networking and help
          organizations settle for most feasible network solutions that is
          secure, scalable and manageable.
        </p>
        <p>
          <strong>Network Design & Implementation</strong>
        </p>
        <p>
          We offer network design for customer premises and deploy a team of
          qualified and experienced network engineers to do the installation of
          equipment.This is accompanied with continous technical support service
          to our client to ensure 100% uptime.
        </p>
      </div>
    </div>
    <!-- <div class="col-sm">
        
      </div> -->
  </div>
  <br />
  <h2 class="heading  designed">Other Services</h2>
  <br />

  <div class="card-group">
    <div class="card">
      <img
        src="https://www.bulletcam.ca/wp-content/uploads/2019/11/bulletsecurity_security-system-surveillance-victoria-canada_image_multi-cameras_2019.png"
        class="card-img-top"
        height="200"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Security Survellance Services</h5>
        <p class="card-text data">
          We help our clients identify the best spots for placement of
          surveilance systems then procure and install for them.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.turbosquid.com/Preview/2017/03/24__10_13_37/SolarPanels_Signature.jpgDF7C515E-2D36-47A7-828E-738800AF4E87DefaultHQ.jpg"
        class="card-img-top"
        width="800"
        height="200"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Power BackUp Service</h5>
        <p class="card-text data">
          Feltom offers Solar based solution to ensure a reliable cheap fallback
          power plan for clients.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://techtanic.com/wp-content/uploads/2018/06/IT-Support-iStock_000009006590Large.jpg"
        class="card-img-top"
        width="800"
        height="200"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">IT Support Service</h5>
        <p class="card-text data">
          This service is tailored for organizations that desire to outsource IT
          Support service.
        </p>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer') %>
