<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
<h1 class="blogTitle">Africa and the faith</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Feb 5, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://www.jakpost.travel/imgfiles/full/31/317408/church-wallpaper-hd.jpg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>
<h3>
  Who named Africa?
</h3>
<p>
  A leading African intellectual, since deceased, had been trained in the art of
  weak thinking in a Western university. He once asked the above question in
  print, remarking on the arrogance of Europeans’ taking it upon themselves to
  name all kinds of places allegedly “discovered” by them, but really known to
  the locals from time immemorial.
</p>
<p>
  Had Professor done some homework (even in pre-internet days, when he made that
  remark), he would have found out that the only source of that naming is
  Iosephus (c.43-100), author of <em>Jewish Antiquities</em> , where he says:
</p>
<p class="container">
  It is related of this Ophren, […] made war against Libya, took it, and his
  grandchildren, when they inhabited it, called it (from his name) Africa. […]
  Alexander Polyhistor gives his attestation to what I here say: […] many sons
  [were] born to Abraham by Keturah: […] three [were] Apher, Surim, and Japhran.
  […] from Apher and Japhran the country of Africa took its name (Antiquities
  15).
</p>

<p>
  Hence either a son or a grandson of Abraham by his third wife Keturah (Gen
  25:1 ff) named the second largest continent on earth. Is there any
  corroborating evidence?
</p>
<p>
  Africa is home to about 1000 nations or tribes, thirteen of which claim Hebrew
  roots, from the Lemba of Zimbabwe to the Falasha of Ethiopia to the Igbo of
  Nigeria. It is noteworthy that Abrahamic customs like circumcision, the law of
  Levirate etc. are widespread on the continent. It is a minor point, but one
  not to be left out of reckoning.
</p>
<p>
  Politically, Africa is divided into 54 countries, only three of which are
  uninational, i.e. true nation States: Botswana, Swaziland and Lesotho, all
  located in Southern Africa.
</p>
<p>
  The Tswana, Sotho and Swazi were granted apartheid status by the British
  before they left. The South African Boer government wanted to continue the
  same policy, but the meaning of the word “apartheid” was suddenly, and
  vociferously, changed from “separate development”, its original meaning, into
  “racial discrimination” which it never had, and the resulting confusion is
  still haunting the minds of many, in and out of the Continent.
</p>
<p>
  As in Europe one can tell apart Slavs from Germans, Graeco-Latins and other
  groups, in Africa one can as easily tell apart Bantu from Nilotics, Cushites
  and other groups.1 The Cushite2 Somali, for instance, do not consider
  themselves Africans; indeed they get offended if so called.
</p>
<p>
  But Somalis have their own political ideas. Their political unit is the clan,
  each fiercely independent but good neighbor to the others. The same system
  prevailed in Libya, where the political genius of Muammar Ghaddafi had
  succeeded in making the many clans work together by means of periodic meetings
  presided over by him. The Somali people have never had a Ghaddafi equivalent,
  but they resist all pressures by the so-called “International Community” into
  accepting the trappings of Western “democracy”: Parliament, a Head of State,
  division of powers, etc. Passing near the Somali Embassy in Rome a year ago, I
  was told that no one is ever seen going in or out of that building.
</p>
<p>
  This is not the place for a thorough analysis of African complexities on any
  level. The only questions of interest are: when, how and how far has the
  Gospel penetrated the Continent, and with what results?
</p>
<h3>
  Missions
</h3>
<p>
  Among the inventions that have of late sprouted in the ecclesial milieu, is a
  subject called “missiology”, today increasingly discovering how wrong the
  “colonial” concept of “mission” was. Missiology is now busying itself with
  re-constructing the concept mainly with the laity in mind. The guiding line is
  that the mission is not a task of the Church, but the Church exercises the
  Mission, existing in the mind of God from eternity.
</p>
<p>
  Praiseworthy as the enterprise is, one does not have to go beyond the Acts of
  the Apostles to find out that the early Christians were doing just that 2000
  years ago. Chapter 28 of Acts avers that when Paul landed at Puteoli some
  “brethren” welcomed him on Italian soil. Others gave him a treat at the Three
  Taverns, and other yet accompanied him to his lodgings in Rome. Who were they?
  How had they got there? Did they evangelize there only or elsewhere too?
</p>
<p>
  They were the very lay people that today’s missiologists rave about, and they
  evangelized wherever they could, as there were no travel restrictions such as
  today’s.
</p>
<p>
  The first evangelizing wave covered Proconsular Africa from beyond the Nile to
  the Atlantic Ocean. It began in 64 AD with Mark the Evangelist in Alexandria
  and receded in 1076, with the death of the last resident Archbishop of
  Carthage under Islamic rule.
</p>
<p>
  Mark, alone but eager to evangelize, was plodding along the streets of
  Alexandria when one of his shoes gave out. He found cobbler Anianus, who began
  working on Mark’s sandal with awl and thread. And as Anianus worked, Mark
  evangelized him. To make a long story short, Anianus became Mark’s first
  successor to the metropolitan Coptic See of Alexandria.
</p>
<p>
  “Coptic” means no more than “Egyptian”1. The then Coptic Church, Catholic like
  all Christian churches of the day, pushed a second wave of evangelization
  southwards along the Nile valley, a region known as Nubia, today Sudan.
</p>
<p>
  The conversion of the eunuch of the Kandaké of Meroë (Kush. i.e. the south)1
  spread the faith southwards; three Christian kingdoms arose after the collapse
  of Meroë.
</p>
<p>
  From north to south the kingdoms were Nobatia, Makuria and Alwa or Alodia.
  After Nobatia and Makuria merged, Islam attacked in 642 and again in 652, but
  at the two battles of Dongola the lethal Nubian archers stopped the advance by
  hitting the enemy in the eyes, thus overburdening the army with some 150
  disabled warriors. They forced a truce of 600 years on Islam, duly observed by
  both sides. Neither before nor since has Islam been so humiliated. Western
  historians wax lyrical about Charles Martel at Poitiers, 90 years after
  Dongola.1
</p>
<h3>
  Ethiopia
</h3>
<p>
  The biblical term “Ethiopian” is Greek for “burned face”. Today’s Ethiopia is
  a piece of what used to be the Axumite empire. Its capital Axum is in today’s
  Eritrea. Early in the fourth century some Axumite pirates brought there two
  boys, the brothers Frumentius and Edesius, and presented them as slaves to
  emperor Ezana.
</p>
<p>
  The boys were Syro-Phoenician Christians. They lost no time in making
  converts. In his old age Ezana accepted baptism, freed the brothers and
  entrusted his two sons’ education to them. Frumentius saw that without a
  bishop the Church could not grow. Around 330 AD he got the king’s permission
  to travel to Alexandria, two and a half thousand kilometres to the north, to
  ask Patriarch Athanasius for a bishop.
</p>
<p>
  Athanasius thought it a good idea, but had no bishops. So he ordained
  Frumentius and sent him back as first bishop of Axum. Frumentius started the
  tradition that the Patriarch of Alexandria had the sole authority to appoint
  the Ethiopian Head of the Church, called Abuna (father in the local language).
  The tradition lasted unbroken for 1600 years. Only in 1950 did the Ethiopian
  church succeed in winning that prerogative.
</p>
<p>
  The schism of Chalcedon (451) broke the continuity. What actually happened
  there is still unclear. The main problem was language: the western Fathers
  spoke Latin but understood little or no Greek, whereas the eastern fathers
  were fluent in Greek but understood little or no Latin.
</p>
<p>
  And so for 15 centuries the schismatics were called (in the West)
  “monophysites” for believing in one nature of Christ, not two. The eastern
  ones did not see it that way, insisting on the unity of Christ, but not fully
  grasping the nuances of “nature” and “person”: the doctrine was really the
  same. As the centuries went by, the Greek term “monophysite” was quietly
  dropped. In 1987 Copts and Ethiopians agreed to unite as Orthodox.
</p>
<p>
  Lack of union was keenly felt on both sides. Few people know that the
  Ethiopians too had their Age of Exploration. It lasted for almost two
  centuries, 1306 to 1478. Scores of learned Ethiopians travelled north to make
  cultural contacts with Venice, Genoa, Naples and Valencia, whence they
  recruited artisans to bring their skills to Ethiopia. But even before that,
  building skills were not wanting: looking at the eleven monolith churches of
  King Lalibela (1181-1221), in northern Ethiopia, one cannot but admire the
  extraordinary craftsmanship involved.
</p>
<p>
  The Council of Florence (1439-1445) was a lost opportunity for union. Only two
  Ethiopian delegates appeared, but without reaching the desired union either at
  Florence or at home.
</p>
<p>
  Throughout the 15th century the distancing between European Christendom and
  Ethiopian eagerness for technological knowledge increased. Christian Europe
  sought an ally to the south of Islam to attack the latter successfully; the
  second’s purpose was to acquire craftsmanship, first with building and later
  with firearms. The relations entailed a crisscross of religious, commercial
  and military interests which ended up in not attaining any of the three.
</p>
<p>
  Islamic Egypt was aware of the danger of union between two Christian powers
  north and south, and did all they could to frustrate it. In 1516 Egypt fell
  under Turkish rule. They lost no time in attacking southwards, especially
  Christian Ethiopia. In 1533 the Portuguese sent an expeditionary force under
  Christopher da Gama, son of Vasco, against the Egyptian Turkish army of Ahmed
  Bin Ibrahim called the Gragñ (left-handed); the combined Ethiopian-Portuguese
  force defeated the Muslims, but both commanders were killed.
</p>
<p>
  The period 1520-1633 was marked by a deep –and fatal- misunderstanding: a
  Jesuit mission, sent under instructions by St Ignatius of Loyola himself,
  emphasized compliance with the decrees of Trent against heresy as conditio
  sine qua non for union; the Ethiopians’ view remained the alliance that could
  protect them against Islam.
</p>
<p>
  The mission’s first blunder was to declare the Patriarch of Alexandria
  deposed, on the ground of heresy going back to Chalcedon in 451. They
  purported that the Portuguese Jesuit Bermudez had been ordained Patriarch of
  Ethiopia, but Lisbon exposed him. They set up schools where young Ethiopians
  could be convinced to become Catholics. Dogma and morals were the same, but
  circumcision (inherited from Abraham but with no Jewish undertones), and the
  ancient liturgy were flexible; the important factor was union.
</p>
<p>
  The mission converted King Susenyos. Its head Pedro Paês celebrated a formal
  reunion in 1626, but the Latin Patriarch Mendez banned the ancient liturgical
  language Ge’ez replacing it with Latin, re-baptized people, re-ordained
  priests and re-consecrated churches. Rebellion after rebellion broke out,
  until Susenyos’ son Fasiladas (1632-1667) restored Alexandrian-Ethiopian
  tradition and expelled or killed the remaining Jesuits and their followers.
</p>
<p>
  One and a half centuries went by. The first Protestants arrived in 1830.
  Ethiopians quickly found that the new arrivals did not venerate Mary and
  became suspicious. Justin de Jacobis arrived in 1839.1 He was a Vincentian
  from Naples. He lost no time in adopting an Ethiopian lifestyle in food,
  clothing and shelter, thus endearing himself to the locals to a greater extent
  than anyone had ever done. He found no Catholics left. Justin and his
  companion began by learning three languages: Amharic, Tigrinya and Ge’ez.
</p>
<p>
  He did not attend the local liturgy, but followed its calendar for seasons and
  feast days, while celebrating the Catholic liturgy. He prayed alone in
  Ethiopian churches and visited the sick. A motley crowd began to visit him in
  his house. He could see that Rome’s dream of a quick reunion with Ethiopia was
  not going to be a short-term affair. One of his first targets was to bring
  some of the Ethiopian clergy to the Faith, and began Catechism classes for
  children.
</p>
<p>
  His policy was to leave intact the Ethiopian Coptic rite in Ge’ez even after
  conversion to the Catholic faith, without Latinizing it. He was alone in this
  policy, which would be confirmed only 100 years later by Vatican II.
</p>
<p>
  In 1841 Justin organized a journey to Rome; 25 men followed him. They were
  received by Pope Gregory XVI in a courtesy visit, with no negotiations. Five
  of them accepted the Catholic faith, but without bending non-essential
  liturgical rulings.
</p>
<p>
  Justin became keenly aware of the need for a bishop, until Bishop Guglielmo
  Massaja, a Capuchin sent by Propaganda Fide, contacted and ordained him bishop
  after overcoming his reluctance.
</p>
<p>
  For the remaining years Justin suffered persecution and imprisonment; when he
  died, in 1860, Catholic presence in Ethiopia was re-established. Abba
  Gebremichael, the first Ethiopian ordained by him, suffered death by dragging
  in 1855. He is venerated as a martyr.
</p>
<h3>
  The Kongo mission
</h3>
<p>
  The third wave of African evangelization invested the continent from the West,
  under the aegis of the Portuguese Padroado. The Padroado was a royal
  institution, which offered free passage to missionaries and paid a salary to
  secular priests, provided they were Portuguese.
</p>
<p>
  The prestige of Ethiopia as the first African Christian country had spread far
  and wide. There was demand for missionaries all along the West coast, but in
  the most disorganized, and therefore ineffective, way. The Portuguese were
  also under the mistaken impression that Ethiopia was the land of the famed,
  but mysterious Prester John, whom they thought could act as the main
  Christianizing influence on the continent.
</p>
<p>
  When the first Portuguese ship arrived in the Kongo in 14851, hostages were
  exchanged. Four Capuchins remained in the country where they evangelized, and
  four young men were sent to Lisbon, trained as interpreters and sent back in
  1487 as the first catechists. The Cape Verde islands, fertile and
  self-sufficient, were evangelized first. African priests were ordained as
  early as 1447, more than half a century before Columbus sailed to America.
</p>
<p>
  The Manikongo (Mwene Kongo, conqueror or overlord) Mvemba Nzinga accepted
  baptism in 1491 with the Christian name of Afonso I. He became quickly aware
  of the unifying power of the Catholic faith. The Portuguese nicknamed him the
  Constantine of Africa; Charlemagne would be a better analogy. One of his
  sisters ran a school for girls in 1508. As a bishop was needed, King Afonso’s
  son, Dom Henrique, was ordained bishop in 1518 at 26; he returned to the Kongo
  but died in 1531.
</p>
<p>
  The conversion of the kingdom was opposed by the king’s half-brother, Mpanzu a
  Zinga, who marched to battle on the field of Mbanza Kongo after Afonso’s
  throne. A chronicler reports that Mpanzu’s army broke and fled when the image
  of St James the Great appeared in the sky flanked by five armoured horsemen.
  Five naked swords are in fact depicted atop Afonso’s coat of arms, in use
  until mid-19th century. Mbanza Kongo was renamed Sâo Salvador.
</p>
<p>
  Afonso I reigned from 1509 to 1543. He could not subtract his kingdom from
  Portuguese influence by directly contacting Rome, also because the Protestant
  Reformation was making intercontinental communications increasingly difficult.
</p>
<p>
  Another serious difficulty was the behaviour of some Portuguese priests. As
  soon as in the Kongo they dropped any pretense of evangelization to take
  concubines and trade in slaves. Afonso himself sold captured enemies or
  criminals as slaves to the Portuguese, but in 1526 he found out that free men
  were being sold as slaves in a well-organized trade. Padroado policy prevented
  non-Portuguese priests from helping. Afonso protested to the King of Portugal
  and to the Holy See, but to no avail. Whether the slave traders were
  Portuguese, or Marranos, is beside the scope of this article. There is an
  ample literature on the issue.
</p>
<p>
  Afonso allowed the Portuguese to trade in gold, iron and copper, but never
  sold land.1 He also refused to import anything from Portugal except wheat
  flour and wine for celebrating Mass. Evangelization continued apace: by 1518
  more than 1000 children frequented the royal schools, reserved however to the
  elite. Kongolese children were also sent to Europe, adopting Portuguese usages
  and dress.
</p>
<p>
  In 1540 the Portuguese, realizing that Afonso I was in their way, tried to
  assassinate him, but failed. He left behind a well-established Christian
  country. It was the longest-lasting attempt at Christianization, until the
  beginning of the 19th century.
</p>
<p>
  A chronic lack of priests and Portuguese encroachment, supported by the
  Padroado, almost reversed Afonso’s achievements. In the 100 years following
  his death only baptism and veneration of the Cross remained as hallmarks of
  the Christian common man.
</p>
<p>
  Because of pressure by three of Afonso’s sons and successors, Jesuits were
  sent to the Kongo to set up a seminary, but they failed.
</p>
<p>
  In 1580 Portugal was added to the Spanish Crown. Ambassador Duarte Lopez went
  to Rome in 1583, requesting to make the Kongo a direct tributary to the Holy
  See. The request was declined, and the Portuguese succeeded in imposing
  Padroado policy on the kingdom. Bishops could only be Portuguese.
</p>
<p>
  King Alvaro II, understandably miffed, sent Ambassador Dom Antonio Manuel ne
  Vunda to Rome, asking for papal protection against the Portuguese and for
  non-Portuguese clergy, especially bishops.
</p>
<p>
  There was no easy travel in those days. The embassy reached Rome in 1608 after
  an exhausting four-year journey. Dom Antonio was given a room next to the
  Sistine Chapel. Pope Paul V visited him personally, but the Kongo ambassador
  died the same night. He was given a State burial. A marble bust stands on his
  tomb in the Basilica of St Mary Major.
</p>
<p>
  The first request was not granted, but a Cardinal protector was appointed. The
  new ambassador, the Spaniard Vives, managed to negotiate the second request:
  non-Portuguese missionaries, on condition that they hailed from the Papal
  States, not from countries other than Portugal.
</p>
<p>
  400 Capuchins thus laboured for 190 years, in the most sustained missionary
  effort before the contemporary era. Dutch-Portuguese wars prevented them from
  starting before 1645, and the Padroado successfully prevented the nomination
  of bishops, fearing attempts at independence by King Garcia II of the Kongo.
  The request by King Garcia to have the monarchy declared hereditary by the
  pope also failed.
</p>
<p>
  The Capuchins set out to evangelize. They opened schools, baptized and
  catechized. 14 more arrived in 1648. One of them lost his life at the hand of
  an unruly mob, but King Garcia, undaunted, supported their effort with the
  full weight of royal power. The uprooting of fetishism and polygamy proved to
  be the hardest effort, especially among the nobility.
</p>
<p>
  After a dynastic battle at Ambuila, where young King Antonio I was killed
  (1665), the evangelizing effort ebbed. Most missionaries withdrew to Angola,
  ten or so remaining in the Kongo for the next 80 years. They resorted to
  “flying missions”, long journeys with thousands of baptism but little or no
  subsequent catechesis.
</p>
<p>
  King Pedro IV re-unified the kingdom in 1709, but the number of missionaries
  did not exceed 20 in 1742. In 1759 freemason Prime Minister Pombal suppressed
  the Jesuits and forbade missionaries to leave Lisbon. At his death in 1782, a
  lone Capuchin had been left baptizing up and down the Kongo. He was reckoned
  to have baptized 700000 persons between 1758-1774.
</p>
<p>
  Capuchin presence became increasingly sporadic, until the 1834 Portuguese
  Masonic government closed down the African and American missions and expelled
  the religious orders. The last Capuchin left Luanda in 1835, thus marking the
  end of three centuries of evangelization in the Kongo kingdom.
</p>
<p>
  Remnants of King Afonso’s Catholic rule, including artifacts, were still found
  in the 19th century. The lack of indigenous priests and bishops had marked the
  end of evangelization.
</p>
<h3>
  Other West African attempts
</h3>
<p>
  In 1482 the local ruler of Guinea (today’s Ghana) allowed the Portuguese to
  build Fort Sâo Jorge da Mina, (Elmina). The reference is to the gold mines
  that the Portuguese were never allowed to approach, although shipping most of
  the gold. Evangelization was restricted to the area of the forts until 1572,
  when four Augustinian friars were inexplicably set upon and murdered by a mob.
  The reason and the perpetrators have remained unknown to this day.
</p>
<p>
  When the Dutch conquered the forts in 1637, they suppressed the Catholic cult,
  which however managed to survive in one form or another down to our own day,
  much as in Japan and for about the same time.
</p>
<p>
  The neighbouring Ngoyo, Loango and Mayombe people refused the Gospel. As
  Portuguese bishop Soveral was trying to evangelize, a Matamba chief from the
  interior became king (ng’ola) of the Ndongo. His title gave the name to modern
  Angola.
</p>
<p>
  Modern historians are fond of describing the Portuguese “raiding” the African
  interior in search of slaves. But the Portuguese had neither the knowledge nor
  the armed power to do so. The reality is that they (whether Portuguese or Jews
  matters not) purchased slaves from local tribes who actually carried out the
  raids. As much was admitted in a public address by President Kérékou of Benin
  in 1999, asking for forgiveness.
</p>
<p>
  Four Jesuits arrived at the Ngola court, but their effort was unsuccessful. An
  added obstacle was the presence of degradados i.e. criminals, from Portugal,
  whose interest in evangelization can easily be imagined.
</p>
<p>
  A Jesuit succeeded in setting up indigenous Christian villages in the vast
  area. Fr Pero Ravares had the villagers instructed by Angolan and Portuguese
  catechists. The Jesuits wrote a catechism in the Mbundu language, and
  supervising the formation of some 20,000 catechumens. He ate and slept in
  African dwellings, avoiding all contact with Portuguese settlers. The Bishop
  of Luanda stationed a priest at the headquarters of the four chiefs of the
  Ndongo Kingdom. When the Dutch occupied Luanda (1641–47) they destroyed
  everything Catholic they could lay hands on. After the Portuguese reconquest,
  Capuchins, Jesuits and other priests stayed in the capital. Rural missionary
  enterprises were never repeated.
</p>
<p>
  Luanda developed into a most beautiful city, from 1620 acting as episcopal
  see. By 1700 Jesuits, Franciscans, Capuchins and Carmelites had houses there.
  The bulk of African population were slaves to Portuguese or African masters
  (or mistresses) indifferently. But the hold of the Faith on such people was
  weak to say the least. A number of mulatto sons of settlers and their African
  wives became priests as a status symbol, but eventually took concubines and
  traded in slaves.
</p>
<p>
  Slaves remained the basic commodity exported from Angola until 1834. A
  Portuguese govern­ment prohibition was not enforced until Brazil abolished
  slavery in 1860. But the Masonic decree abolishing all religious orders was
  enforced. By 1846 a few thousand Christians, eleven priests, and a seminary
  lingered on. In 1854 Livingstone called, coming from the Zambezi. The churches
  had been desecrated, but people still remembered the Jesuits and Capuchins who
  had instructed children and defended them from the government. No regret was
  however expressed for the abolition of the religious orders.
</p>
<h3>
  Dona Ana Nzinga, Queen of Matamba
</h3>
<p>
  A noteworthy conversion of an African monarch to the Faith was Queen Nzinga of
  Matamba (1582–1665). Her brother, at war with the Portuguese, sent her to
  Luanda as negotiator. Deeply impressed by the Catholic liturgy, she asked for
  baptism in 1622. But on succeeding to the throne in 1627 she gave it up. For
  30 years she waged war on the Portuguese, till one day her army brought two
  captured Capuchins and a cross. Her witchdoctors foretold that if she accepted
  the Christian faith, fighting would cease and peace and prosperity would come.
  In 1656 the Capuchins received her again, together with masses of armed men.
  She promptly abolished human burial sacrifices, prescribed the wearing of the
  Rosary as a sign of Christian practice, ordered crosses to be erected in
  public places and displayed in battle... etc. In 1660 she constructed a large
  church to Our Lady of Matamba, supervising stone carrying and tree cutting,
  but she died as the church was finished. Her widower reintroduced the pagan
  cult. The city of Santa Maria de Matamba was destroyed and rebuilt in pagan
  fashion. Further evangelizing attempts failed. Some Capuchins found her grave
  in a forest in 1957.
</p>
<h3>
  Warri: a Christian king without Christian people (or missionaries)
</h3>
<p>
  From 1570 to 1807 the Faith hung on a thread in the tiny kingdom of Warri
  (today SW Nigeria. The Olu (king) of Warri accepted baptism, but did not
  convince his subjects to follow him, or missionaries to settle in Warri
  independently from Portuguese trade. He and his descendants took it upon
  themselves to preach and give example, but to no avail. The thread broke in
  1795 when the king’s son, sent to Portugal to be ordained a priest, came back
  with a Portuguese wife instead. The account proves, if anything, that the real
  history of the Church, i.e. the interior human answer to the challenge of the
  Faith, has never been written and never will. Personal, political and social
  anecdotes, of course, preserve their interest.
</p>
<h3>
  The Mwene Mutapa Empire
</h3>
<p>
  The Portuguese were attracted to this area of eastern Africa by legends of
  gold allegedly produced by Solomon’s Ophir mines. What they found was a Bantu
  people dominated by a non-Bantu king hailing from the North. The ruins of
  Zimbabwe (= house of stone) still testify to an ancient civilization of
  unknown origins and purpose.
</p>
<p>
  The Portuguese built a trading post and a fort in Sofala in 1500. In 1507 they
  built another fort, a church and a hospital on the Island of Mozambique, which
  remained the administrative centre of Portuguese East Africa until 1907.
  Priests had settled in the area since 1506, but to minister to Portuguese
  crews; the island counted some 2500 Catholics by 1586, but no attempt was made
  to evangelize African people.
</p>
<p>
  Upon request by a local king, the Jesuits of Goa opened a mission in
  Inhambane, Mozambique, in 1559, with Frs Gonsalo Silveira (1521–61) and
  Fernandes in charge. The mission was undertaken in the name of the Portuguese
  Viceroy of India.
</p>
<p>
  The two priests did not find the Mwene Mutapa, who had left earlier to settle
  some 100 miles down the Coast among the Batonga. On receiving permission they
  instructed and baptized some 400 people, including the royal family and
  members of the court between Easter and Pentecost 1560. They made sure to
  evangelize Africans not infected by Islam or Judaism.
</p>
<p>
  Here Fr Gonsalo made a fateful mistake. Optimistically judging that “abuses”
  like polygamy, fetishes and circumcision would soon be got rid of, he left the
  evangelizing work to Fr Fernandes and departed to find and convert the Mwene
  Mutapa.
</p>
<p>
  Fr Fernandes delved deeply into the language and customs of the people, soon
  finding that the people’s belief in their ancestors’ spirits, magic and the
  occult were not “abuses” but deep-rooted superstitions difficult to abandon.
  Concepts such as soul, God, heaven and hell did not make sense. The people not
  only saw that the priest had nothing tangible to offer, but also that no
  Portuguese ship called during his two-year stay. The mission brought no
  material advantages Wanting to get rid of the priest but fearing the power of
  his Breviary, they decided to starve him to death. He was saved by a timely
  summon by his superiors to Goa.
</p>
<p>
  Fr Silveira reached the court of the King of Gold at Christmas 1560. After a
  brief catechesis he baptized some 300 people. He was admired for his
  asceticism, but Muslim traders got the ear of the king and convinced him that
  Silveira was a spy intent on getting possession of the kingdom. He was
  unceremoniously strangled in his bed and the body thrown into a river. A
  Portuguese punitive expedition failed to get the King expel the Muslims and
  return to the Faith.
</p>
<h3>
  Christian Mwene Mutapas (of sorts) and the collapse
</h3>
<p>
  Between 1577 and 1693 sustained efforts by Dominicans and Jesuits resulted in
  a succession of baptized Mwene Mutapas, but an equally sustained series of
  civil wars plagued the effort, thus frustrating a true evangelization. Genuine
  conversions were few and far between.
</p>
<p>
  The years 1693-1835 marked the collapse of both Empire and Mission. The
  criminal behaviour of many Portuguese settlers caused Changamire king of the
  Rozvi to lead a rebellion. All Portuguese settlements and missions were
  de­stroyed. Some Portuguese-educated Mwene Mutapas were enthroned, but were
  militarily weak against Changamire’s armies. The last Mwene Mutapa fell in
  battle in 1902, thus ending the historic Mutapa State for good.
</p>
<p>
  After 1712, a lethal combination of landlordism and slavery destroyed the
  missions one after another in Zambezia, last outpost of the Portuguese
  colonial empire. The large estates, called prazos, were controlled by
  degradados, mulattos, Hindus and Goans, with no evangelizing interest. They
  indulged in the slave trade, which depopulated the country.
</p>
<p>
  By 1750 Jesuits and Dominicans no longer baptized adults, for not responding
  to the challenge. Nine years later Pombal deported nine missionaries. Churches
  decayed or were razed to the ground. People returned to pagan traditions.
</p>
<p>
  In 1837 the last Dominican parish priest died, the religious orders were
  suppressed and no more missionaries reached Portuguese Africa. Gold and
  slavery had seemingly triumphed over evangelization.
</p>
<h3>
  East Coast Island States
</h3>
<p>
  Vasco da Gama rounded the Cape of Good Hope in 1498, with the express purpose
  of bypassing the Islamic hold on the Levant. But in the Indian Ocean they
  faced the old foe once again. Skirmishes and wars continued all along the
  numerous islands, where the Portuguese built trade posts and forts, but
  carried no priests, even for themselves.
</p>
<p>
  The first converts were 200 women who stowed away in da Gama’s ship bound for
  Goa in 1502. He wanted to return them to their families, but their infuriated
  husbands sent word that they would kill them if he did. Da Gama took them to
  Goa, sent the younger ones to Portugal and let the rest go. In 1542 St Francis
  Xavier called at Malindi on his way to the Far East. Ruins of the chapel and
  cemetery built by him are still extant.
</p>
<p>
  There were baptisms on the islands, but not in the interior. The slave trade
  was entirely in Muslim hands, where it remains to this day, although not too
  visibly. One day in 1970 a dhow anchored in a minor bay on the Kenya South
  Coast. The sailors came ashore and fraternized with the locals for two-three
  weeks. One good day they sailed off with 15-20 children who were never seen
  again.1
</p>
<p>
  Mombasa takes pride of place among the many islands that passed back and forth
  from the Portuguese to the Muslims. It is a coral island of some 100 km2,
  today the second largest city in Kenya. The Portuguese built Fort Jesus in
  1593-95-, still standing as a tourist attraction. By 1598-99 Mombasa had some
  600 converts and 1200 baptisms, thanks to the labour of Augustinian Portuguese
  missionaries.
</p>
<p>
  After some 20 years of peaceful coexistence the Portuguese captain, acting
  contrary to the country’s policy, murdered the Sultan of Malindi, sending his
  young son Yusuf bin Hassan to Goa for a Christian education. The boy, baptized
  and serving as a gunner in the Portuguese navy, was biding his time.
</p>
<p>
  In 1625, thought fit to rule, he was sent back to Mombasa. In 1631 he revealed
  his true self: after slaughtering the garrison of Fort Jesus to the last man,
  he demanded Islam or death. Except for one Portuguese apostate, about 300 men,
  women and children, 72 of them Africans, including a relative of Yusuf convert
  from Islam, suffered martyrdom rather than renounce Christ. By 1728 all
  Portuguese further attempts at reconquering Mombasa failed. Both Empire and
  Mission ceased to be. Eleven Augustinian friars and an unknown but sizeable
  number of indigenous Africans died martyrs.
</p>
<p>
  The papers with the evidence supporting canonization disappeared from the
  Vatican archives, but around 1970 a British historian1 found copies in an
  Augustinian house in Italy. The process is under way once again.
</p>
<p>
  All in all, the three centuries 1500-1800 form a mixed bag of successes and
  failures, to unravel the causes of which one runs the risk of judging events
  and attitudes of times long past in today’s terms. But some constants can be
  mentioned.
</p>
<p>
  The first is the size of Africa: 30 million square kilometres make it the
  second continent on earth. Distances were (and remain) enormous: one of the
  reasons why the institution of the monastery has not prospered in Africa is
  that the people served by monastic institution cannot be reached on foot like
  their European counterparts.
</p>
<p>
  The second is the unhealthy environment due to de-population. Few people are
  aware that for the tse-tse fly to disappear from an area, all is needed is a
  density of 70 people per square kilometre, which deprive the fly of the bush
  shade it needs for survival. Similar figures apply to other vector-induced
  diseases. De-population was a direct effect of the slave trade, for which not
  only the European purchasers, but also the African sellers were responsible.
</p>
<p>
  The third is the narrowmindedness of nationalism. Portugal, a Catholic
  country, never had the Catholic outlook necessary to admit non-Portuguese
  missionaries and even less bishops, without whom the Faith was seriously
  hampered from expanding.
</p>
<h3>
  The Colonial period, 1792-1960. The Uganda martyrs
</h3>
<p>
  The first missionaries on the modern scene were the Protestants, whose
  priority is Bible reading and therefore literacy. The gap left by Portugal in
  Africa was slowly filled by Catholic missions under the tutelage of Propaganda
  Fide, founded in 1622 but now sending a large number of religious orders and
  congregations.
</p>
<p>
  Between 1875 and 1877 Protestant and Catholic missionaries found themselves in
  the kingdom of Buganda, where Muslim traders were still operating. There were
  conversions in the three directions, but the Muslims had not only imported
  Islam; they had also imported homosexuality. When young pages refused Kabaka
  (king) Mwanga’s advances on the grounds of their faith, the king considered
  the refusal to be a capital offence. He had 22 Catholics and 23 Protestant
  executed by burning or other equally violent methods between 1885 and 1887.
</p>
<p>
  Colonial policy was another mixed bag of successes and failures. Among the
  latter, priority goes to the destruction of indigenous polities forcibly
  replaced by “democracy” in any of its manifold incarnations. Not surprisingly,
  every election touches off a mini- (at times not so mini-) civil war; but what
  interests this article is how evangelization weathers political and social
  storms of all kinds.
</p>
<p>
  The Catholic faith returned to Kenya in 1889, after an interval of 350 years.
  The Mau Mau revolt of 1950-1954 was not only political, i.e. anti-British
  fuelled by the land question, but also religious, i.e. anti-Catholic fuelled
  by everlasting root causes: witchcraft, sexual licence and human sacrifice.
  Martyrdom was in the air, and the Mau Mau provided a few hundred victims.
</p>
<p>
  A particularly poignant example was Aloys Kamau (1929-1953), a school teacher
  baptized at 14 after fully understanding that to be a Christian really meant
  putting one’s life on the line. The Mau Mau succeeded in making Aloys’ fiancée
  apostatize under threat of death. He spoke to her from outside her house,
  breaking the engagement and refusing to abandon the terrain to pagan forces.
  From then on Aloys was a hunted man, challenging the pursuers up and down the
  hills of the Tuthu countryside.
</p>
<p>
  On 5th April 1953 a Mau Mau patrol surprised him as he was returning from Good
  Friday ceremonies and cut him to pieces with their machetes. This well
  documented story, however, is far from being politically correct. Some day he
  and other martyrs will be duly acknowledged.
</p>
<p>
  In modern South Africa the Catholic faith was banned until 1820. The Boer
  Calvinist administrations closed down some 300 Catholic schools in 1953. Some
  20 years later, a Greek physician owner of a hospital in that country
  remarked: “If I admit a Zulu in my clinic, I must give him a Zulu nurse… If I
  don’t, she will take off his bandages during the night and let him bleed to
  death.” The anecdote clearly shows the weak hold of tribal allegiance on
  political unity. In Kenya Catholic missionaries were given a free hand by the
  British, who pragmatically realized that tribal animosities could be better
  controlled by the Faith than by colonial policy. 50 years later such
  animosities have by no means disappeared, but phenomena such as the one just
  described do not happen.
</p>
<p>
  In fact, a mini-civil war exploded there after the 2007 elections on the
  grounds of rigging, a phenomenon universally known in and out of Africa. One
  night three trucks full of refugees fleeing for their lives reached Bungoma,
  Western province. A fourth truck, full of armed men, was in hot pursuit with
  obvious homicidal intent.
</p>
<p>
  The refugees were waited. They alighted and vanished into friendly homes of
  fellow Catholics albeit of different ethnic stock. When the armed men arrived,
  the local chiefs confronted them, telling them in no uncertain terms to return
  whence they came, for the new arrivals were their guests and no one else’s
  business.
</p>
<p>
  The “new arrivals” of ten years ago are still there. They contribute to the
  local economy with their skills, still remarking that after this event they
  really know what Christian solidarity is all about.
</p>
<p>
  The results on the ground are there for all to see. It is true that Africa
  spells chaos and social disorder, but Archbishop John Joseph McCarthy’s
  (1896-1983) prophecy, shortly before he retired in 1969, has also come true.
  When an interviewer asked him what he would do if he had money, he replied: “I
  would build many churches, and fill them all.”
</p>
<p>
  A reverse evangelization is already taking place. It is increasingly frequent
  to see African priests manning European parishes during the northern summer,
  supplying younger hands to a dwindling local clergy. African seminaries are
  full, and so are daily Masses, often timed for the sake of people with
  demanding working hours.
</p>
<p>
  The latest buzz word “inculturation” is revealing itself for what it really
  is: a return of paganism with a vengeance. The culture war is raging; the
  Cross and the Gospel, i.e. the Faith, is being challenged as “the victory that
  wins the world” (1 Jn 5:3).
</p>
<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->

<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->


