<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
<h1 class="blogTitle">Anglicans and the catholic church</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Jan 26, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://catholicphilly.com/media-files/2019/11/20191113T1344-0064-CNS-POPE-WELBY-SOUTH-SUDAN.jpg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>
<p>
  To understand the present-day relation between the Anglican Church and the
  Catholic Church it is necessary to have some historical background.
</p>
<p>
  The word Anglican means no more than “English.” An Anglican Church properly
  so-called therefore did not exist until the late 7th century, when Pope
  Gregory the Great sent St Austin to evangelise the Angles, a Saxon people who
  had invaded Britain during the preceding two centuries. Before that there was
  a British (not Anglican but Roman) Catholic Church. For 900 years the Anglican
  Church was Catholic, developing however its own liturgy, like the Oriental
  Churches’ to this day. There were several liturgical uses, most notably the
  Sarum (Salisbury) rite.
</p>
<p>
  In 1517, the Lutheran movement started in Germany. Among its English
  sympathisers were some courtiers, Ann Boleyn among them, although not King
  Henry VIII. In 1521 he wrote a book defending the Sacraments against Luther,
  for which Pope Leo X bestowed on him the title of Defender of the Catholic
  Faith. But two things worried Henry. The first was that his wife Catharine of
  Aragon, daughter of the Catholic sovereigns Fernando and Isabel of Spain, had
  given him a daughter but no son. The second was that the tax revenues were
  insufficient to meet the increasing cost of government. The solution to the
  first was to divorce Catharine and marry Ann, but the Pope refused to declare
  the marriage null. The solution to the second was to get the needed revenues
  from the Church. Killing two birds with one stone, Henry did both.
</p>
<p>
  In 1531 the body of the clergy granted him the money, but Henry refused to
  accept it unless they accompanied the grant with the declaration that he was
  henceforth Protector and only Supreme Head of the Church and Clergy in
  England. The clergy balked but accepted, inserting the clause “insofar as the
  law of Christ will allow” between “and” and “only.” In 1532 Archbishop Warham
  died, and Henry appointed Thomas Cranmer as his successor to the see of
  Canterbury. Cranmer, attached to the Boleyns, had accepted Lutheran doctrines
  and had secretly married. He had to keep this information from Henry, who had
  decreed the death penalty on married priests. But by now he was more than
  ready to do the King’s will. He declared Henry’s marriage to Catharine null
  and that to Ann Boleyn valid; but in 1536 he hastened to declare the latter
  invalid to allow Henry to send Ann to the block for adultery.
</p>
<p>
  All the bishops except St John Fisher of Rochester accepted the King’s
  supremacy. Fisher went to the block in 1535 followed by ex-Chancellor St
  Thomas More a few days later. With Henry’s Act of Supremacy the Anglican
  Church became schismatic, but still Catholic in doctrine and morals. Catharine
  died the same year as Ann, whereupon Henry married four wives in succession.
  Jane Seymour, dying in childbirth, gave him a son who became King Edward VI on
  Henry’s death in 1547.
</p>
<p>
  Edward acceded to the throne as a sickly boy of 10. The regents governing on
  his behalf were Lutherans. Together with Cranmer they substituted a mixture of
  Lutheranism, Zwinglianism and Calvinism for Catholic doctrine. Edward died
  aged 16 in 1553. Mary Tudor, Henry’s first daughter, became Queen. She
  attempted to restore the Catholic faith with the help of the papal legate
  Cardinal Reginald Pole. She refused, however, to execute her half sister
  Elisabeth, daughter of Ann Boleyn, despite being told that she was a Lutheran
  plotting against her. Mary married Philip II of Spain but without begetting
  children by him. She and Pole died on the same day in 1558.
</p>
<p>
  From 1559 onwards the Anglican Church became and stayed Protestant. Elisabeth
  became Queen. Parliament, besides renewing the Act of Supremacy, passed the
  Act of Uniformity, making it an offence not to adopt Protestantism. The
  compliant clergy replaced the recusant clergy. Matthew Parker was consecrated
  archbishop of Canterbury according to the Edwardian Ordinal, thus breaking the
  apostolic succession and rendering all successive ordinations invalid. Pope
  Paul IV sent a delegate to attempt reconciliation, but he was not allowed to
  disembark. By a series of increasingly oppressive laws punishing recusants
  with fines, restrictions and death as the case demanded, Elisabeth succeeded
  in turning half her people into Protestants by her death in 1603.
</p>
<p>
  The 17th century saw the bloody civil war between King and Parliament for
  supremacy. The Catholics fought for the king to a man, but Parliament’s army
  led by Cromwell and financed by foreign money defeated them. Charles I was
  beheaded in 1649. James II, last of the Stuart dynasty, was also the last
  Catholic King of England, but the majority of the people were by now
  Protestants. The Hannover dynasty, reigning up to now, has been wholly
  Protestant. The Sovereign of England, as the head of a Protestant Anglican
  church, may not become Catholic without abdicating.
</p>
<p>
  The last Catholic attempt at re-conquering the throne of England was the
  rising of 1745, crushed at Culloden, Scotland, in what proved to be the last
  battle on British soil. The last Stuart pretender to the throne, Henry IX,
  died in Rome as Cardinal of the Catholic Church in 1807. He still holds the
  record for the longest serving Cardinal (60 years). In 1829 the British
  Parliament repealed the anti-Catholic penal laws. Pope Pius IX restored the
  English Catholic hierarchy in 1850. The Oxford Movement, headed by John Henry
  Newman in the 1840s, started by attempting to prove that the Anglican Church
  was the true heir to the apostolic Church, but ended up in Newman’s becoming
  first a Catholic layman, then a priest. Many English intellectuals followed
  him. Newman died as a Cardinal in 1890. His process of canonisation is under
  way.
</p>
<p>
  The 20th century has seen important conversions from Anglicanism to the
  Catholic faith, among them Ronald Knox and Christopher Dawson (both in 1916)
  and G.K. Chesterton (1922). Of late the most important VIP convert (and first
  royal personage) has been the Duchess of Kent in 1993. Two Anglican Primates
  have come to visit the Pope in Rome: Ramsey visited Pope John XXIII and Carey
  Pope John Paul II. It is not clear whether they have discussed unity, but
  there has been a steady opinion, especially in the high Church, that unity is
  a target worth working towards. Throughout the century, Anglican attendance to
  their Church services has been steadily declining. In the 1990s it reached an
  all time low of 2%, so that in absolute numbers twice as many British
  Catholics go to Mass on Sunday than Anglicans go to their services.
</p>
<p>
  Up to 1992 there were one disciplinary and three doctrinal obstacles to union.
  The points of doctrine were the Parliamentary decisions of 1559: two
  sacraments instead of seven, the rejection of Purgatory and justification by
  faith alone instead of faith and works. The point of discipline was the
  celibacy of the clergy. The November 1992 decision to ordain women ministers
  has added a further important doctrinal obstacle, at the same time causing a
  deep crisis of identity within the Anglican Church. The figures speak for
  themselves: in 1993, 185 Anglican ministers went over to Rome, including the
  archbishop of London Dr Graham Leonard. In 1994, five bishops and 570
  ministers did the same. Two more bishops and 142 ministers recognised the
  supremacy of the Pope while remaining within the pale of Anglicanism. In 1996
  6205 people followed them. In 2002 one fifth of the Anglican clergy are
  threatening leaving the church when the first woman bishop is appointed.
</p>
<p>
  Before such a flood of applications Rome has taken a cautious but firm line,
  establishing certain procedures. The applicant must first consult the English
  Catholic hierarchy. Then, the Bishops conference refers his case to the Holy
  See, which considers the case separately from all the others. It does not
  intend to grant acceptance to groups like parishes that may want to follow
  their pastor into the Catholic Church. Besides such people, there is a group
  that wants to stay Anglican but without accepting women’s ordination. They are
  demanding a third province besides Canterbury and York, but no decision has
  yet been taken on the issue.
</p>
<p>
  Whether the third millennium will see the Anglican community return to the
  Catholic faith as in its first 900 years is a strong possibility, but when
  remains anybody’s guess.
</p>
<!--  blogArticleImage -->

<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->

<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->



