<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
<h1 class="blogTitle">WHITHER CATHOLIC EDUCATION?</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Jan 26, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>
<h3>
  The Status Quo
</h3>
<p>
  The Catholic Church in Kenya is understandably upset at the very real threat
  to Catholic education following the approval of the new Constitution in 2011.
</p>
<p>
  The framers of the document devolved everything except education, approached
  in the most centralizing, totalitarian manner possible.
</p>
<p>
  When the proposed Bill is gazetted, sometime in 2013, the Church will be left
  with the land on which the schools stand. The State will control everything
  else, especially the appointment and transfer of teachers, on which the
  Catholic character of a school depends.
</p>
<p>
  The bishops are making their voices heard, but to no avail. Officialdom is
  bent on bulldozing its way through all opposition.
</p>
<h3>
  The Challenge
</h3>
<p>
  And yet, unperceived and unappreciated, the solution is at hand. It is a
  question of realizing what the Catholic schools mean in economic terms, and
  their immense potential to solve not only the problem of education, but also
  that of poverty, underdevelopment, and the perennial hostility against the
  Church by anti-life, anti-African and anti-Catholic forces the world over.
</p>
<p>
  In economic terms, a school is a place where value gets added to human capital
  day after day, by teaching. One teaching period, whether of primary, secondary
  or tertiary education, adds value to human capital exactly to the same extent.
  Were a currency be denominated in teaching periods instead of “dollar”,
  “pound”, “shilling” and the rest, the value of such currency would remain
  stable in time, since the unit is spiritual and therefore not liable to
  change.
</p>
<p>
  What gives clout to the State and keeps the Church at the receiving end of it?
  Only one thing: money. The State subsidizes Catholic education, i.e. pays the
  piper, and as the adage says, it therefore calls the tune.
</p>
<p>
  But the State is not exactly lavish in subsidizing Catholic education. The
  salaries of teachers have not kept pace with the cost of living since
  independence. In the 1960s, secondary school teachers could afford a VW after
  some years in the profession; today they are lucky if they can afford a motor
  bicycle.
</p>
<p>
  Add to the scenario that most schools operate in the countryside, where
  however a momentous phenomenon has improved things substantially since 2007:
  MPESA. To understand it, let us look at a simple piece of statistics: the
  total of MPESA transactions in the five years 2007-2012 adds up to 1.4
  trillion shillings, the equivalent of one year of Kenya’s Gross Domestic
  Product. Observe that these are cash transactions. As the total amount of cash
  outside banks is 119 billion, the enormous figure does not reflect quantity
  but velocity of circulation. MPESA makes cash circulate fast outside banks,
  thus lubricating and rejuvenating the rural economy as never before.
</p>
<p>
  1.4 trillion can be accounted for by assuming that 1.4 billion have circulated
  1000 times in five years, or 200 times/year, at the rate of 380 million/day.
  As there happen to be 38,000 MPESA kiosks, each kiosk accounts for a paltry
  average of 10,000 shillings/day for the past five years.
</p>
<h3>
  Solution within Reach
</h3>
<p>
  What if the Catholic schools monetized their teaching periods, operating as
  MPESA kiosks for a different currency? Let us make some calculations.
</p>
<p>
  1000 Catholic schools, each with 650 students and 1500 yearly teaching
  periods, account for 1 billion teaching periods/year countrywide.
</p>
<p>
  Each school costs Shs 1.0 million/year to run. Their total cost is therefore
  Shs 1.0 billion/year. Therefore the exchange rate teaching period/shilling is
  1:1.1
</p>
<p>
  The parents shoulder 1/3 of that cost, i.e. Shs 333 million/year. Government
  subsidizes the rest, Shs 667 million/year.
</p>
<p>
  Were the Catholic schools to go private, they would have to find the
  equivalent of 667 million/year.
</p>
<p>
  “Find” means to wrest that cash from the already scarce amount in circulation,
  kept scarce by policies over which the schools have no control.
</p>
<p>
  But if the schools <strong>monetized</strong> as few as
  <strong>2 000 000 </strong> teaching periods <strong> @ 1/- each</strong>, and
  this “money” circulated <strong> 500 times/year</strong> , it would cover the
  whole billion
</p>
<p>
  And on the day the Act was gazetted, the Catholic Church could announce: “Our
  schools are private now.”
</p>
<p>
  Too good to be true? Go on reading.
</p>
<h3>
  Self Help Education (S.H.E.) currency
</h3>
<p>
  The S.H.E. currency can be called “voucher”, “ticket”, “bonus” or whatever,
  prudently avoiding financial terms.
</p>
<p>
  The first step, to be taken
  <strong>in advance of the gazetting of the Act</strong> ,1 is to brief not
  only the schools, but also the communities they serve, as follows:
</p>
<p>
  To local producers of goods and services (farmers, artisans etc.): If you
  accept S.H.E. in payment of what you produce, any Catholic school will accept
  S.H.E. in payment of school fees. For purchases outside the communities served
  by the schools you will still need official currency, which you will earn as
  now.
</p>
<p>
  <strong> To teachers:</strong> To teachers: On the gazetting of the Act you
  will lose your Government- subsidized salary. If you want to stay with the
  Catholic system, parents will be able to offer one third of what you formerly
  earned in official currency. The system however is in a position to increase
  your local <strong>purchasing power</strong> beyond your former salary, by
  means of S.H.E. denominated in teaching periods and
  <strong>daily/weekly</strong> paid to you according to contract. You will be
  enabled to purchase goods and services from anyone who accepts S.H.E.
  <strong>in any area served</strong> by Catholic schools.
</p>
<p>
  <strong>To non-teaching personnel: </strong> Same as above. You will negotiate
  your salary with the school.
</p>
<p>
  <strong>To mothers of children between 0-5 years:</strong> you will be paid x
  S.H.E./day for every child that you prepare for going to school when time has
  come. If after purchasing essentials you have S.H.E.s left over, the school of
  your choice will accept your S.H.E. as school fees paid in advance and thus
  registered. Your children are for you now a clear asset, not a liability as
  birth controllers want you to believe.
</p>
<p>
  It is most important that the briefing be as thorough as to make everybody
  understand the advantages of S.H.E. currency.
</p>
<h3>
  The Voucher
</h3>
<p>
  The second step is to design and print the S.H.E. voucher. The important
  features are:
</p>
<em>
  The S.H.E. must not look like official currency;
</em>
<br />
<em>
  Each voucher for 1, 2, 5, 10 S.H.E. carries a date of issue and another of
  expiry, one year apart;
</em>
<br />
<em>
  Each voucher carries four boxes, each to be punched/embossed quarterly, behind
  payment of 2% of its nominal value;1
</em>
<br />
<em>
  Since no large quantities of fast-circulating vouchers would accumulate at any
  time anywhere, the security printing can be minimal, as no counterfeiter would
  find it profitable to falsify S.H.E.
</em>
<br />
<em>
  The total amount of 2 000 000 S.H.E. is distributed to the schools at 2000
  S.H.E. each before the gazetting of the Act.
</em>
<h3>
  Circulating S.H.E.s
</h3>
<p>
  The third step is to circulate S.H.E. as certificates of work done. It has
  zero store of value and therefore carries zero interest. Given its
  fast-circulating nature, it will not be necessary to wait for “deadlines” or
  time limits of any kind. Every piece of work done is paid cash on delivery,
  for there will always be enough S.H.E. in circulation.
</p>
<p>
  By the same token, there will be no need to pay school fees in a lump sum.
  Anyone with children of school age can convey S.H.E. to the school of their
  choice at their pace, until covering the total amount of 1500 S.H.E./year per
  child. The schools, on their side, immediately spend S.H.E. received into
  sports fields, maintenance, uniforms, furniture, anything that the local
  economy can produce.
</p>
<p>
  Prices may stall or decrease on the withdrawal of the official subsidy to the
  schools. But S.H.E.s will fill the gap, and from then on they will maintain
  local prices stable, helped in this by the now increased circulation of the
  official currency thanks to MPESA.
</p>
<p>
  Fast-circulating S.H.E.s will benefit much more than schools. They are meant
  to be spent, on reception or soon after. Were a S.H.E. to change hands three
  times a day for a whole year, it would move goods and services 1000 times its
  nominal value, twice as much as what was aired in a paragraph above. Soon,
  even those without children at school would accept S.H.E.s, to purchase any
  locally produced goods or services.
</p>
<p>
  Anyone in possession of unneeded S.H.E. can lend them at 0% interest, whereas
  the penalty for hoarding them can be -8% -12% a year. At the end of a year an
  expired S.H.E. can be exchanged for a new one with the first box
  filled/punched etc.
</p>
<p>
  In not so long a run, the S.H.E. currency will fill whatever gaps are left by
  the scarcity of official currency, eradicating poverty by eliminating
  unemployment and enabling true development, understood as the coming into
  being of a large number of small enterprises, each of which can grow (increase
  in size) later at its own pace and circumstances.
</p>
<p>
  Unprecedented justice and peace will henceforth characterize the areas served
  by Catholic schools. The schools as engines of development and poverty
  eradication should be welcome news for officialdom, at the paltry cost of not
  controlling those schools but at the great benefit of not having to deal with
  the social evils that now bedevil Kenya.
</p>
<!--  blogArticleImage -->

<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->
<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->


