.yellowLight {
  color: greenyellow !important;
}

.subscribeFormCont {
  background: greenyellow !important;
}
.medium {
  color: greenyellow !important;
  border: 1px solid greenyellow !important;
}

.mainNav > ul > li.current-menu-item > a,
.mainNav > ul > li.current-page-ancestor > a {
  background: greenyellow;
  color: black;
}
.scrollTop {
  display: inline-block;
  background: greenyellow;
  width: 52px;
  height: 47px;
  text-align: center;
  color: #fff;
  vertical-align: top;
  font-size: 15px;
  margin: 0 0 0 40px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
}
.mobileCategoryMenu {
  width: 100%;
  height: 43px;
  display: none;
  position: relative;
  background: #f60;
  color: #fff;
  padding: 12px 10px;
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  line-height: 127%;
  font-family: "montserratregular", Helvetica, Arial, sans-serif;
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.contactTtl:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  background: greenyellow;
  width: 94px;
  height: 1px;
  margin: 0 0 0 -47px;
}

.subscribeFormCont .eNewsletterForm button[type="submit"]:after {
  content: "\f1d8";
  font-family: "FontAwesome";
  color: greenyellow;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 100%;
  padding: 6px 0 0;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
}
.blogMeta {
  float: left;
  background: greenyellow;
  color: grey;
  margin: 0 9px 10px 0;
  padding: 8px 8px 8px 26px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "montserratregular", Helvetica, Arial, sans-serif;
  position: relative;
}

.blogMeta a {
  color: grey;
}

.cart-item {
  color: greenyellow !important;
}

.scrollTop {
  display: inline-block;
  background: greenyellow;
  width: 52px;
  height: 47px;
  text-align: center;
  color: #fff;
  vertical-align: top;
  font-size: 15px;
  margin: 0 0 0 40px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
}
.mainNav li > ul {
  position: absolute;
  left: 0;
  top: 81px;
  width: 260px;
  height: auto;
  text-align: left;
  background: rgba(127, 190, 32, 0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}
