<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
<h1 class="blogTitle">The dictatorship of appearance</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Feb 5, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://www.historyonthenet.com/wp-content/uploads/2014/11/PROD-Adolf-Hitler-whrend-einer-Rede.jpg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>
<p>
  Eratosthenes (c. 276 – 194 B.C.) must have felt elated when he made the first
  reliable measurement of the circumference of the Earth. Previous thinkers like
  Pythagoras and Aristotle had estimated its size, but not measured it. Little
  did the three suspect that more than 20 centuries later there would still be
  people bandying about the notion that the ancient believed the Earth to be
  flat.
</p>
<p>
  Once a “prevailing opinion” finds its way between the covers of a textbook,
  neither heaven nor earth succeed in getting it out. The “experts” have issued
  their edict, and that’s that. But there is more: when a breakthrough in
  science or technology is achieved, the establishment first pooh-poohs it,
  later it fights it with all its might, and finally tries to get credit for it.
  This happened when the Wright brothers flew the first aircraft in December
  1903. In March that same year Professor Newcomb (1835-1909) had published a
  learned article proving scientifically that a craft heavier than air would
  never fly. The Wrights were not learned professors but bicycle mechanics. And
  they flew. The prestigious magazine Scientific American immediately dubbed the
  flight a hoax, and the Wrights frauds. This went on for five years until, with
  the flights lasting longer and longer, the new thing could be denied no more.
  The next year (1909) Prof Newcomb died and Louis Blériot (1872-1936) flew
  across the Channel. The rest is history.
</p>
<p>
  The habit, though, of trusting the experts rather than the truth of things,
  goes on unabated. AIDS, we are told, is caused by the HIV virus. Has anyone
  isolated HIV? No. Could some other cause be responsible for the dreaded
  disease? Perhaps, but consensus wants HIV and HIV it is, regardless of any
  result suggesting other solutions. The same principle applies to “germs,” the
  supposed “cause” of disease. Few are aware that their discoverer, Louis
  Pasteur (1822-95) disowned that theory in his deathbed, but the mighty
  pharmaceutical cartel has decided that disease ought to be fought with drugs.
  Many people know that it is possible to prevent disease by eating a natural
  diet and doing a reasonable amount of exercise, but consensus wants the “germ
  theory” and germ theory it is, come what may.
</p>
<p>
  Education is no longer the development of understanding and wisdom that come
  after knowledge. It is the obtaining of a piece of paper called “certificate,”
  “diploma” or what have you. Such certificates are granted on spewing for a
  board of examiners the notions received from a bevy of assorted teachers,
  regardless whether such “knowledge” corresponds to the truth of things or not,
  and even less whether it is of any use or not: calculation with logarithms is
  to be phased out of the curriculum in 2006, more than thirty years after the
  invention of the electronic calculator made nonsense of a technique more than
  300 years old.
</p>
<p>
  The struggle between the supporters of creation and those of evolution is
  waged in total disregard of whether the latter can at all take place, never
  mind whether it has in fact. It is waged on numbers of supporters and
  detractors, the majority taking all. No one ever points out that the two
  issues are in no way contradictory, not even contrary. They are
  sub-contraries, which in logic means they can co-exist, and therefore the
  truth of one in no way impairs that of the other. But who can think today? The
  confusion between thinking and imagining, nurtured by the absence of any
  training in elementary philosophy, inevitably leads to clinging to consensus
  as a substitute for hard thinking leading to truth. To dodge the difficulty of
  such hard thinking, an issue is dubbed “controversial.”
</p>
<p>
  Is there a way out of the impasse? The internet, explored systematically and
  under minimum guidance, is in a position to provide real education for anyone
  seeking it. What about certificates and stuff? For as long as such papers are
  deemed indispensable for what goes under the name of “success” there will be
  people living off their granting them. Will mankind succeed in freeing itself
  from the tyranny of appearances? One can only wish it.
</p>

<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->

<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->

