
<div class="blogArticleFull">
        <div class="leftBlogArticleFull" >
            
    
            <h1 class="blogTitle">Teacher education</h1>
    
            <div class="blogMetaCont">
              <span class="blogMeta blogDate">Feb 5, 2020</span>
            
              <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
            </div>
            <h4>The central questions </h4>
            <div class="blogArticleImage">
              <img
                width="1000"
                height="500"
                src="https://wwwassets.rand.org/content/rand/capabilities/solutions/evaluating-the-effectiveness-of-teacher-pay-for-performance/jcr:content/par/solution.aspectfit.868x455.jpg/1548894048585.jpg"
                class="attachment-articleimg size-articleimg wp-post-image"
                alt=""
              />
            </div>
            <h3>
                    What is the purpose of education and in particular of teacher education?

            </h3>
            <p>
                    St Thomas Aquinas’ defines education as “the promotion of offspring to the perfect state of man as man, that is the state of virtue.”
            </p>
            <p>
                    All the elements of true education are there: “offspring” denotes that the process is the exclusive responsibility of parents; “promotion” denotes the slowness of the process; “perfect state” denotes the hierarchy of values to be promoted, spiritual as well as material; and “virtue” denotes the primacy of the moral over the intellectual or, which is the same, of the will over the mind.
            </p>
            <p>
                    It also denotes the role of the teacher as acting, as tradition recognised for a long time, “in loco parentis.” Hence educating teachers means:
            </p>
            <ul>
                <li>
                    <em>
                            Getting the teacher to knowing and loving the children, with their defects, just as parents do.
                    </em>
                </li>
                <br>
                <li>
                    <em>
                            Knowing the parents and acting in concert. There is nothing more destructive of education than school and family pulling in opposite directions.
                    </em>
                </li>
                <br>
                <li>
                        <em>
                                Getting the teacher to aim at imprinting a lifelong portrait of his personality in the pupils’ memory. A teacher can consider himself a failure if it can be said of him

                        </em>
                    </li>
                    <br>
            </ul>
            <p>
                    The teachers I had at school and Cambridge were derisory, and made no impact whatsoever. I forgot them at once and everything they taught.1

            </p>
            <p>
                    If the above is the purpose of teacher education, the first target is the teacher’s knowledge and mastery of self. How to achieve it is another story, for which see the answers to the remaining questions.
            </p>
            <h3>
                    How does teacher education respond to current social demands?
            </h3>
            <p>
                    Without knowing what the current social demands are it is impossible to answer the question. But I hold that teacher education should respond to no more social demands than those determined by justice, a social virtue by nature that Justinian’s jurists defined as “the constant will to give everyone one’s due.”
            </p>
            <p>
                    Society makes unvarying demands: it wants people of integrity, who can be trusted, who work, who keep deadlines, virtuous in a word. There is no reason why teachers’ education should aim at different targets.
            </p>
            <h3>
                    What are the critical challenges for all educators?
            </h3>
            <p>
                    The main challenge is to see to it that they think for themselves and resist pressure towards worshipping the idols of the market place, from coeducation to dissolvent ideologies like Rousseau’s and wrecking ones like Dewey’s and James’s (William).
            </p>

            <h3>
                    How can we assist the development of lifelong learning of teachers?
            </h3>
            <p>
                    We must recognise that born teachers are as few today as they have ever been. Such don’t need assistance. They know that lifelong learning (and understanding, and ordering) is their lifeblood, and they pursue it by choosing their own teachers, alive or dead. Born teachers are not necessarily to be found in schools, as anyone can tell by reading the glowing account Muggeridge gives of Hugh Kingsmill, one of such teachers who, however, never set foot in a classroom.
            </p>
            <p>
                    Those who need assistance are the non-born teachers, who teach because life led them there somehow. In general they are lacklustre, so that any assistance in any direction can provide reasons to improve themselves. I am sure that the A.T.E.A. has as good ways and means to do this as any other Teacher Association that cares.
            </p>
            <h3>
                    In what ways do existing models of practice and philosophies enhance our thinking and teaching practice?

            </h3>
            <p>
                    Mostly by ignoring such models and getting on with real life. As Plutarch used to say, a real teacher is a torch-lighter, not a container-filler. Now to lit torches is a highly idiosyncratic skill, consisting mostly in asking questions rather than giving readymade answers; in telling real-life stories rather than repeating creaky old tales; in correcting language slips even when not teaching language; in underscoring that recognising humbug is more important than adding notions to one’s intellectual baggage; and so on.
            </p>
            <p>
                    A really good teacher is a shaker of paradigms, like Samson in the temple of Dagon, but that may cost him more than he had bargained for. A rare thing indeed.
            </p>
            <h3>
                    How can this Association of Teacher Educators advance the role, needs and interests of teacher education nationally and locally?

            </h3>
            <p>
                    You have got me stumped here. Not being an Australian and never having been there, I have no practical advice to offer. I would also have to know how much Australian teachers earn and what is their social standing. I am of the opinion that the salary structure should be altered in favour of all those who produce and nurture human capital rather than those who produce cheap thrills and unnecessary trinkets. My order of priority is motherhood, domestic service and primary school teaching.
            </p>
            <p>
                    And I close before angry hordes of feminists descend on me baying for my blood.
            </p>
            <!--  blogArticleImage -->
          
            <!--<span class="endClause">Tagged under</span>
            <span class="">the_tags(' ');</span>-->
            
           
                <div class="realtedCarousel flexslider">
                   
                        <%- include ('../../related') %>
    </div>
                     
    
                        </div>
                        <!-- blogGroupsCont -->
    
                    </div>
                    <!-- rightBlogArticleFull -->        
    
    </div>
    <!-- col-lg-12  -->
    </div>
    <!-- fullcontentSection -->
    </main>
    <!-- midSection -->
    
    
    
    
    