
<div class="blogArticleFull">
        <div class="leftBlogArticleFull" >
            
    
            <h1 class="blogTitle">UNIVERSITY AT THE END OF ITS TETHER</h1>
    
            <div class="blogMetaCont">
              <span class="blogMeta blogDate">Feb 5, 2020</span>
            
              <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
            </div>
            
            <div class="blogArticleImage">
              <img
                width="1000"
                height="500"
                src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
                class="attachment-articleimg size-articleimg wp-post-image"
                alt=""
              />
            </div>
           <p>
                The institution called university has been with us for a good millennium. At its beginning, in the XI century, its students were mostly clerics, a large amount of whom would actually be ordained as priests. But the important feature of the early universities is that they formed men of judgement, able to reason from first principles, from which they were careful not to stray. It was common practice, for the next four or five centuries, to refer to the universities when in need to assess important political, financial, philosophical, theological etc. issues.
           </p>
           <p>
                As Richard Weaver1 remarks in his 1949 essay Ideas Have Consequences, the philosophical doctor did not last. He gave way to the gentleman, a sentimental man of principles but weak on foundations, to be ousted in turn by politicians and entrepreneurs and made into a specialist, knowing more and more “facts” but understanding them less and less.
           </p>
           <p>
                The XIX century saw 
           </p>
           <p class="container">
               <em>
                    an abject surrender to the situation in an abdication of the authority of knowledge in favour of the elective system. This was followed by a carnival of specialism, professionalism and vocationalism, often fostered and protected by strange bureaucratic devices, so that on the honored name of university there traded a weird congeries of interests, not a few of which were anti-intellectual even in their pretensions. Institutions of learning did not check but rather contributed to the decline by losing interest in Homo sapiens to develop Homo faber.1
               </em>
           </p>
           <p>
                Universities became glorified technical schools unduly loaded with science and technology to the detriment of the humanities, and giving an aura of respectability to such dubious subjects as economics, commerce and the like.
           </p>
           <p>
                The 1990s saw the advent of the Internet. The few who foresaw its destructive potential in regard of the university published their observations in various journals, but they were –and still are- largely unheeded.
           </p>
           <p>
                The purpose of this essay is to expose the powerful forces that are fast eroding the very idea of a university, slowly leading it to its inevitable demise. Attention is paid to Kenya in general, and to Strathmore University in particular.
           </p>
           <h3>
                Old and New Prophets
           </h3>
           <p>
                Some observers very early noticed that an ill wind was blowing over the universities. The two attached essays, dated 1822 and 1914 respectively, were written when universities were no longer forming philosophical doctors but so-called “free professionals”: engineers, doctors, lawyers etc.
           </p>
           <p>
                The first is William Hazlitt’s On the Ignorance of the Learned. Hazlitt was an Irish Protestant jejune of Scholastic philosophy, but a keen observer of the situation around him nonetheless. The essay speaks for itself.
           </p>
           <p>
                A century later Giovanni Papini, who quotes Hazlitt, reaches more drastic conclusions with his Close down the Schools, which has lost not one iota of relevance in 100 years.
           </p>
           <p>
                For good or for evil, the university held its own as a purveyor of certificates that led to well paid jobs, until the 1990s. 
                Then things began to go awry. Robert Reich (1946 -), Labor Secretary in the first Clinton administration, published The Work of Nations. He predicted that within 20 years (1993-2013) the traditional jobs would disappear, to be replaced by three unconventional, new types of work: a) the innovator, b) the purchaser of the innovator’s ideas, and c) the broker between the two.
           </p>
           <p>
                His vision is being vindicated before our eyes. Where do we go from here?
           </p>
           <h3>
                Straws in the Wind
           </h3>
           <p>
                Among those who noted the disruptive influence of the Internet on the higher institutions of learning is Don Tapscott (1947-), a Canadian businessman with three honorary degrees and an interest in education. He remarked at a 1997 meeting that present-day university education was a post-Gutenberg affair. He got the following retort:
           </p>
           <p class="container">
                <em>
                        A very thoughtful man named Jeffery Bannister, who at the time was president of Butler College, was seated next to me. "Post-Gutenberg?" he said. "I don't think so! At least not at Butler. Our model of learning is pre-Gutenberg! We've got a bunch of professors reading from handwritten notes, writing on blackboards, and the students are writing down what they say. This is a pre-Gutenberg model — the printing press is not even an important part of the learning paradigm." He added, "Wait till students who are 14 and have grown up learning on the Net hit the [college] classrooms — sparks are going to fly."
                </em>
           </p>
           <p>
                They have started, and in earnest.  
           </p>
           <p>
                In 2006 Strathmore University (from now on SU) made its triumphant entry into an academic world already visibly sick.
           </p>
           <p>
                The first straw in the wind was the unexpected proliferation of university charters granted by the second Kibaki administration with abandon, which cheapened the institution to a level never before attained.
           </p>
           <p>

           </p>
           
            <!--  blogArticleImage -->
          
            <!--<span class="endClause">Tagged under</span>
            <span class="">the_tags(' ');</span>-->
            
           
                <div class="realtedCarousel flexslider">
                   
                        <%- include ('../../related') %>
    </div>
                     
    
                        </div>
                        <!-- blogGroupsCont -->
    
                    </div>
                    <!-- rightBlogArticleFull -->        
    
    </div>
    <!-- col-lg-12  -->
    </div>
    <!-- fullcontentSection -->
    </main>
    <!-- midSection -->
    
    
    
    
    