<div class="blogArticleFull">
    <div class="leftBlogArticleFull" ><h1 class="blogTitle">FOOD FOR THOUGHT</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Feb 5, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>

<!--  blogArticleImage -->
<p>
  Enter most bookshops, and the cookery section stands out without fail. Opening
  any of them at random, and you find recipes upon recipes from all countries.1
  In no time one realizes that it is possible to cook a different recipe for
  every day of one’s life without ever repeating oneself. So much for those who
  think that cooking is a chore! But that is not the point. The point is, as you
  may have recognized, that recipes constitute factual knowledge. They provide
  no understanding of the processes involved, and no hint of their purpose or
  relationship with seemingly unrelated physics and chemistry. Once purpose and
  relationship are discovered and appreciated, cooking becomes one of the joys
  of the world (as the pursuit of wisdom must be, Aquinas reminds us).
</p>
<h4>
  The End and the Means
</h4>
<p>
  Since ordering things according to purpose is what philosophy is all about,
  let us begin with the purpose of eating, which is none other than maintaining
  health by taking good care of the first half of the food canal. The second
  half takes care of itself whatever you do to the first, but not if you hinder
  its functions.
</p>
<p>
  Food processing, or cooking, is the art (and science) of maximizing the
  nutritional value of foods. The more assimilable the food, the less of it one
  requires; there results less tendency to overeat, thus reducing a main cause
  of ill health.1
</p>
<h4>
  Principles
</h4>
<p>
  In such a complex issue, three principles ought to be internalized before the
  interactions of sensible eating, health and well-cooked dishes begin to make
  sense. The first is physical, the second biochemical, and the third
  technological. Let us proceed in order.
</p>
<h4>
  Physics
</h4>
<p>
  The overall physical principle is the ratio between surface area and volume.
  Take a cube of side 1. As it has six faces, its surface area is 6, and the
  ratio area/volume is 6:1.
</p>
<p>
  Now double the side to 2. Its surface area becomes 24, its volume 8. The ratio
  24:8 = 3:1, half what it was before.
</p>
<p>
  Now go in the other direction, halving the side to 0.5. The volume becomes
  0.125, its surface area 1.5. The ratio is 12:1, double what it was before.
</p>
<p>
  This principle, so easy to understand yet so neglected by formal education,
  links a veritable host of phenomena way beyond food processing. Here I shall
  limit it to the latter.
</p>
<h4>
  Biochemistry
</h4>
<p>
  Don’t be put off by the high-sounding word. Biochemistry here is strictly
  related to cooking, not to the biological sciences as a whole. It therefore
  means no more than how the two senses of taste and smell are affected by
  proper or improper food treatment.
</p>
<p>
  Taste is three things: the homonymous external sense; the subjective
  appreciation of food; and the objective qualities of food itself which make it
  attractive to the sense. Whereas the second is highly idiosyncratic, the first
  and third require understanding.
</p>
<p>
  All that biology textbooks say is that taste can be split into four: sweet,
  sour, salty and bitter.
</p>
<p>
  Which is perfectly true, but as I warned at the beginning, many things are
  true but not the whole truth. And the whole truth is that these four basic
  tastes are enhanced by an infinite variety of aromas, which give each food its
  characteristic, objective taste. How important the sense of smell is can be
  gauged by its loss. People who lose it by a head injury or a sinusitis, find
  eating a dutiful chore bereft of pleasure.
</p>
<p>
  Whereas cooking has virtually no influence on the four basic tastes, it has an
  all-pervading one on the aromas, in that bad (i.e. thoughtless) cooking
  destroys them, leaving food as tasteless as experienced by someone with
  sinusitis.
</p>
<p>
  It follows that proper cooking is not dumping food into boiling water that
  turns it into an acceptable soggy mess. It is a fine art and an intelligent
  science.
</p>
<p>
  Start with the basic four. They are not the whole truth, but neither are they
  unimportant. They are important, but not equally so. The most important is the
  taste imparted by salt.
</p>
<p>
  School textbooks stop at saying that common salt is sodium chloride, formula
  NaCl; and it is true, but again not the whole truth.
</p>
<p>
  Foods contain a large variety of chlorides, carbonates, iodides, etc., both
  organic and inorganic. But few edibles are salty enough to impart not just
  taste, but also savour, that appetizing tang given by salt in the right
  quantity. Therefore salt has to be added, as the recipe says, to taste,
  meaning the subjective taste of whoever will consume it.
</p>
<p>
  Industrially refined sodium chloride is not hygroscopic: it keeps dry. It has
  a long shelf life, but its taste is inferior to that of natural, richer,
  unrefined sea salt; or, if you live by the sea, to sea water diluted with
  fresh water again to taste.
</p>
<p>
  Beware here of industrial substances like monosodium glutamate (and many other
  food additives), which lace many processed foods sold in supermarkets. It
  imparts a very attractive tang to food, but as it is not natural, the body
  refuses to process it, relegating it instead to what can be considered as an
  internal rubbish dump: the fatty tissues. That is why consumers of artificial
  flavourings and assorted additives put on excess weight despite fancy diets
  and exhausting, but useless (and expensive) gym exercises.
</p>
<p>
  Whatever you do, remember that the wise use of salt makes all the difference
  between insipid and savoury bread, cakes, stews, salads and many etceteras.
  And the earlier added the better.
</p>
<p>
  Both taste and smell help digestion; tasteless food hinders it. A watering
  mouth is a symptom that food is tasty, aroma-rich and that the organism is
  ready for digestion at the mouth stage, for which the Romans had the proverb
  prima digestio fit in ore (digestion starts in the mouth). Linking this
  information with the surface area/volume ratio discussed earlier, we know now
  why this is true: crushing any food to mash reduces the time of dissolution in
  the mouth by increasing the surface area attacked by saliva and thereafter by
  gastric juices.1
</p>
<h4>
  Extra-corporeal Food Processing, or Cooking
</h4>
<p>
  Because of simplicity, intelligent cooking enhances taste, improves
  assimilation, cuts time spent in the kitchen, and saves a lot of money. Dull
  or indifferent cooking makes the ingredients taste the same, and depresses or
  even destroys their nutritional value.
</p>
<h4>
  Heat Treatment
</h4>
<p>
  The nature and uses of heat need understanding. Heat energy is a form of
  random motion, applicable by contact, convection or radiation. Cooking makes
  use of all three, but the first thing to understand is that heat, however
  applied, is an agent of destruction.
</p>
<p>
  The heat treatment of food is therefore an art, consisting in letting it
  destroy undesirable traits like the taste of raw potatoes, aubergines, etc.,
  while touching as little as possible the desirable traits, chief of all the
  aromas. Roasting, boiling, grilling, frying, steaming with or without pressure
  are all forms of heat treatment. But heat is not essential to cooking. If a
  foodstuff can be eaten raw, like carrots or cabbage, to submit such foods to
  excess heat is to destroy the vitamins A and C, to leach their mineral salts
  into the sink and to render them tasteless.
</p>
<p>
  Heatless treatment of food includes seasoning, pickling, marinating,
  fermenting, curing, candying and many others which human ingenuity has devised
  over the centuries. Let us therefore apply the foregoing principles to the
  understanding of specific foods.
</p>
<h4>
  Bread
</h4>
<p>
  Genuine bread is a far cry from the supermarket pap that usurps its name. What
  is the difference?
</p>
<p>
  Both use water and salt, but commercial bakers use baking powder instead of
  yeast and refined flour instead of wholemeal. The perpetrators of this
  bereavement of flour are not the bakers but the millers. They remove the germ
  and the bran from the wheat grain to sell them at premium prices as breakfast
  cereals and like products.
</p>
<p>
  Refined flour is pure starch, barely nutritious and utterly tasteless. Its
  advantage is a long shelf life, and it is immune from insect attack (that
  insects should find starch inedible speaks volumes about this practice). Hence
  bakers add chemicals to “improve” the taste and the appearance of the product,
  thereby pleasing the eye but adding no nutritional value. Commercial brown
  bread is often caramel-coloured white bread.
</p>
<p>
  Genuine (unrefined) flour has a shelf life of three days, after which the oily
  fractions of the germ go rancid. That’s why the millers of yesteryear milled
  daily the small quantities brought to them by the farmers, enough for their
  weekly baking of real bread, the taste of which is unforgettable to anyone who
  has ever eaten it.
</p>
<p>
  The adventurous buy fresh wheat in bulk, grind it in a heavy-duty hand or
  electric grinder, make the dough and bake it (Internet shows how to). Like the
  millers of old, bake enough for a week, since whole meal bread does not
  harden.
</p>
<p>
  Is it possible to make bread from non-wheaten flour? Only wheat and rye can be
  turned directly into bread, for only these two cereals contain enough binding
  proteins. They act like glue, preventing the dough from disintegrating. To
  make bread with maize flour, blend it first with enough wheat flour to do the
  binding (Check the Net for proportions).
</p>
<h4>
  Coffee
</h4>
<p>
  The basic taste of coffee is a dreary kind of bitter, but its smell is
  glorious. That taste depends on how much of the volatile aromas are kept
  within it.
</p>
<p>
  Some actions, therefore, can turn coffee from a glorious to an indifferent or
  to a hideous drink.
</p>
<p>
  Coffee is obtained by roasting the beans (technically the cotyledons of the
  seed) and grinding them before brewing it. Over-roasting and over-grinding
  drive off the aroma, destroying the very quality of the subtle blend of taste
  and aromas wanted.
</p>
<p>
  Grinding therefore should be carried out immediately before brewing. As it
  increases the surface area/volume ratio so much, leaving ground coffee exposed
  to the air drives off the aroma as effectively as over-roasting.
</p>
<p>
  Brewing extracts taste and aroma from the ground beans, transferring both to
  water. There are three ways of doing this: scalding (not boiling) the coffee
  in water, percolating boiling hot water through it by gravity, or forcing
  steam under pressure through it, condensing it afterwards. Ingenious
  contraptions have been marketed of late that satisfy all tastes, all very
  efficiently keeping as much aroma in the water as feasible.
</p>
<p>
  After coffee cools down, the best thing one can do is to drink it ice cold.
  Reheated coffee will never regain its former aromatic taste.
</p>
<p>
  What about instant coffee? Well, focus on that word “instant”. That is arrived
  at by spending on the coffee beforehand all the energy you would spend on it
  now. Most of the aroma is gone, and that is why it does not stand comparison
  with the freshly-roasted ground thing. What is gained in time is lost in
  taste.
</p>
<p>
  Further to sharpen understanding, let me tell you how a keen but thrifty
  housewife treated her guests to coffee.
</p>
<p>
  Shortly before the end of the meal, she placed a couple of raw coffee beans on
  the hot plate of an electric stove. As she entertained the guests, the beans
  were charred to pure carbon as the entire content of their aroma wafted across
  the room. As the guests sniffed with anticipation of delight, she went to the
  kitchen and served instant coffee. They praised her to the sky, completely
  befuddled into thinking they had drunk the real thing.
</p>
<p>
  The guests did not grasp that coffee in the air is no coffee in the drink.
  Smelling coffee before, one will not do so while drinking it.
</p>
<h4>Spices</h4>
<p>
  The foregoing applies also to spices. Overheating and over grinding drives off
  the aromas. Understanding the ratio surface area/volume suggests the solution:
  sprinkling a modicum of spice on the hot food just before taking it off the
  fire achieves better results at less cost.
</p>
<h4>
  Meat and Fish
</h4>
<p>
  The taste of these two foods resides chiefly in the salt-laden liquids they
  contain. Whereas marinating and curing require increasing the surface area to
  be treated, heat treating meat and fish requires the opposite. Cutting up your
  meat or fish before submitting it to heat in any of its forms develops
  problems.
</p>
<p>
  Take roasting. Charcoal burns at a temperature of about 1000oC. Laying small
  strips or cubes of meat or fish on charcoal fire will carbonize them in next
  to no time. Laying meat or fish in bulky pieces on a fire, wrapped in
  aluminium foil cooks the inside first. A light charring afterwards on charcoal
  fire solves the problem and reduces time and cost.
</p>
<p>
  As for fish, roasting may be too violent a method to heat treat it. Grilling,
  which radiates heat from above, is a gentler method (many stoves have this
  facility).
</p>
<p>
  For both, beware of microwave ovens. They do the job, but remember that they
  do not provide heat; they cause heat to develop from inside whatever is put
  into it, in the process turning life-containing food into dead matter.1
</p>
<p>
  Consider boiling. Water boils at 100oC (at sea level), one tenth the
  temperature of charcoal fire. But boiling water leaches out of meat and fish
  precisely the salts that impart them taste. Therefore do not cut meat or fish
  into small pieces before boiling. Taste is invariably lost.
</p>
<p>
  It is better to simmer the fillet whole, cutting before serving. The
  temperature of simmering water is identical to that of violently –and
  uneconomically- boiling it.
</p>
<h4>
  Vegetables
</h4>
<p>
  From the viewpoint of physical principle there are two types of vegetable:
  leaf vegetables with high area-low volume and stem/root vegetables with low
  area – high volume. From the culinary point of view there are two more types:
  those that can be eaten raw and those that need heat-treatment. Therefore we
  get four categories.
</p>
<p>
  One: leaf and root vegetables that can be eaten raw, such as lettuce, carrots,
  cabbage and other brassica, endive etc. Since, as already seen, heat
  invariably destroys, and heat costs money, boiling such vegetables makes sense
  only if wanting to make soup with them, i.e. wanting their taste primarily in
  the water. But if eaten, it is counterproductive to boil them in excess water.
  Time and money are spent to produce a soggy, indifferent mess of
  unrecognizable formerly gloriously tasting leaves. Vegetables that can be
  eaten raw are best prepared as salads, dressed in one of the infinite ways
  shown on the Net.
</p>
<p>
  Two: vegetables that cannot be eaten raw, such as string beans, kale,
  aubergines, etc. Boiling them in excess water is to lose taste, money, health
  and time at one go. The nutritional value of vegetables resides primarily in
  vitamins and salts, and secondarily in roughage. Vitamins and salts are
  extremely soluble in water. Boiling leaches virtually all salts into the hot
  water. Dumping this water into the sink adds insult to injury. But they must
  be heat treated, otherwise they taste awful. We seem to be in a true dilemma:
  one option destroys taste, the other keeps them inedible. Can salts be kept
  inside while heat improves the taste?
</p>
<p>
  They can, by steaming them at zero pressure while suspended over boiling water
  in a steaming cage: they get scalded but the taste stays. And steaming can be
  done in minutes.
</p>
<p>
  Three: low surface-high volume vegetables that can be eaten raw include the
  stems of the brassicas: cabbage, cauliflower etc. Appropriate cutting up and
  dressings can do wonders.
</p>
<p>
  Four: a potato cannot be eaten raw. Heat treatment is in order. The potato is,
  botanically speaking, a stem. Arrayed on its surface, inconspicuous to the
  eyes of a superficial observer, are buds, which germinate into ordinary stems
  given the right conditions. What feeds the growing buds during germination is
  the starch and other nutrients stored in the tuber.
</p>
<p>
  From the culinary point of view, the tastiest part of the potato is the
  5-millimetre thick layer next to the skin, storing sugars, proteins, vitamins,
  etc.; the rest is tasteless starch.
</p>
<p>
  The above remarks may seem pedestrian, but they make all the difference
  between cooking a potato and murdering it. Let us proceed in steps.
</p>
<p>
  Given that the tuber must be heat treated, there are ways and ways of doing
  so.
</p>
<p>
  By far the worst thing you can do to a potato is to peel it. Just look at the
  results:
</p>
<ul>
  <li>It wastes enormous amounts of time;</li>
  <li>
    It consigns to the garbage bin precisely the most valuable nutrients just
    mentioned;
  </li>
  <li>
    It denudes the surface of the tuber, thus facilitating the leaching of
    salts, vitamins etc. into the water.
  </li>
</ul>
<p>
  Boil or steam the potato with the jacket on. After cooling, the skin comes off
  by finger action alone, or becomes itself edible, leaving the taste intact. To
  remove the raw peel scrape it off with a hard plastic cleaning pad, but do not
  allow the knife to remove the layer below.
</p>
<h4>Seeds: Legumes and Cereals</h4>
<p>
  The first thing heat destroys, and quickly, is life. The same intimate
  relationship between cooking, life and death holds both at the personal and at
  the food level.
</p>
<p>
  Cereals are seeds meant to be ground into flours of different types. Therefore
  all cereals are seeds but not all seeds are cereals. In any case, all seeds
  are alive.
</p>
<p>
  Life develops forces of its own when properly treated. By soaking seeds
  overnight before cooking, for instance, they are made to absorb water, swell
  and soften, considerably reducing cooking time. But plunging them in water
  when dry, water must now be forced into the seed by the sheer physical forces
  of heat and/or pressure. And heat and pressure cost money.
</p>
<h4>
  Stews
</h4>
<p>
  Dumping all the components of a stew into a pot to be heat treated is a common
  practice that turns what should be a crisp blend of vegetables, meat and
  potatoes into a mush of dead, unrecognizable bits and pieces of former plant
  and animal life. Understanding now the relations between all these elements,
  it is a practice to be carefully avoided. As the optimum cooking time for each
  of these elements is obviously different, those with the larger volume, i.e.
  potatoes, should go in before those with a smaller volume, like French beans
  and the rest, and those with a larger surface area among the latter, the last.
  Everything ought to be fresh and crisp in the end.
</p>
<p>
  What about meat in the stew? Meat is mostly muscle tissue, which contracts by
  high heat even in death. It therefore becomes indigestible and tasteless. To
  bypass the problem, pressure-cook it before adding it to the stew, thus
  preserving the taste.
</p>
<p>
  One realizes how many aspects of everyday life are connected with one another.
  This chat on cooking could be endless, but there are limits even to the
  patience of the lovers of the culinary art. If I have stimulated interest in
  cooking as well as in thinking, I will not consider my effort wasted.
</p>

<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->



