<div class="blogArticleFull">
    <div class="leftBlogArticleFull" >
      <h1 class="blogTitle">Genetically modified "food"</h1>

<div class="blogMetaCont">
  <span class="blogMeta blogDate">Jan 26, 2020</span>

  <!-- <span class="blogMeta blogCateg"><a href="#" rel="category tag">Customer Care</a>, <a href="#" rel="category tag">Management</a>, <a href="#" rel="category tag">Sunday Nation</a></span> -->
</div>

<div class="blogArticleImage">
  <img
    width="1000"
    height="500"
    src="https://1l8sls3s4ssx3p2axv2k73wu-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/shutterstock_168318926-1000x500.jpeg"
    class="attachment-articleimg size-articleimg wp-post-image"
    alt=""
  />
</div>
<h3>
  The Rationale
</h3>
<p>
  Throughout the 20th century, but especially so since the end of WWII, the
  so-called Green Revolution entered people’s lives with promises of abundant
  and cheap food, basing its claims on three pillars:
</p>
<p class="container">
  <em>
    Chemical fertilizers to “improve” the availability of nutrients in the soil;
  </em>
  <br />
  <em>
    Pesticides and herbicides to fight plant diseases and weeds;
  </em>
  <br />
  <em>
    Genetic improvement towards better varieties and hybrids.
  </em>
  <br />
</p>
<p>
  This article will deal exclusively with the last point.
</p>
<p>
  The processes of hybridization involving repeated combinations of genetic
  material were limited for a long time by the elementary biological fact that
  natural reproduction takes place between plants of the same species.
</p>
<p>
  Genetic Engineering took off with the unraveling of the full structure of DNA
  some 20 years ago. It was now possible to insert a gene of one species into
  the DNA of another, thus offering immense agricultural possibilities, e.g.:
</p>
<p class="container">
  <em>
    Plants that fix the nitrogen of the air without belonging to the Leguminous
    family;
  </em>
  <br />
  <em>
    Plants resistant to certain diseases;
  </em>
  <br />
  <em>
    Plants resistant to dry environments;
  </em>
  <br />
  <em>
    Plants more tolerant of salinity in the soil;
  </em>
  <br />
  <em>
    Plants resistant to herbicides;
  </em>
  <br />
  <em>
    Possibility of producing drugs and vaccines by genetically modifying
    bacteria;
  </em>
  <br />
  <em>
    Higher yields and lower costs of production. Etc.
  </em>
  <br />
</p>
<p>
  A real bonanza. Farmers were thus promised higher incomes; traders were
  promised lower costs of production and better quality of produce; and the
  companies producing such ‘foods’ saw huge profits appearing on the horizon of
  monopolies and patents of such modified ‘foods.’ Naturally enough, their
  ‘research’ showed that there was no difference between the natural and
  engineered ‘foods,’ that these were safe, and that they would solve the
  problem of famine in the world.
</p>
<h3>
  Methods
</h3>
<p>
  There was one strident note in all this do-gooding: if GM foods were all that
  their producers claimed them to be, why was the process conducted by stealth
  and sprung on the public without notice?
</p>
<p>
  This policy of the fait accompli began with the US government, who did neither
  inform nor consult its citizens about GM crops nor, worse still, allowed GM
  ‘foods’ labeled, so as to give the public the democratic choice whether to buy
  them or not. After which GM ‘foods’ were imposed on one country after another,
  in the same utterly undemocratic atmosphere of secrecy.
</p>
<p>
  For a full understanding of the import of GM ‘foods,’ two sets of results need
  to be considered: social results on the countries that have adopted them and
  biological results on the ‘foods’ genetically modified.
</p>
<p>
  Further, GM ‘foods’ must be analyzed as part and parcel of the much touted
  ‘globalization,’ to which we now turn.
</p>
<h3>
  GM Sociology
</h3>
<p>
  Dr Vandana Shiva is an India physicist, founder and president of the Research
  Foundation for Science Technology and Ecology, and one of India's leading
  activists. She describes in one of her papers how the transformation of
  peasant agriculture in India to a globally industrialized model, which has GM
  ‘foods’ as a supporting pillar, has reduced food security, threatened local
  businesses and biodiversity, driven farmers off their lands, and opened the
  door for global corporations to take over the nation's food processing.
</p>
<p>
  The common claim by globalization enthusiasts is that it is natural,
  inevitable, and evolutionary. It brings prosperity and growth for all. Only
  thus can the poor of the South access jobs and have better lives.
</p>
<p>
  Dr Shiva sees it otherwise. Globalization is not a natural process of
  inclusion. It is a planned project of exclusion that has siphoned the
  resources and knowledge of the poor of India onto the global marketplace,
  stripping people of their life-support systems, livelihoods, and lifestyles.
</p>
<p>
  Global trade rules, as enshrined in the World Trade Organization (WTO)
  Agreement on Agriculture (AOA) and in the Trade Related Intellectual Property
  Rights (TRIPs) agreement, are primarily rules of robbery, camouflaged by
  arithmetic and legalese. In this economic hijack, the corporations gain,
  people and nature lose.
</p>
<p>
  The WTO's overall goal: promoting "market competition" serves two purposes.
  First, it transforms culture, biodiversity, food, water, livelihoods, needs,
  and rights into commodities for sale to be conveyed to markets. Second, it
  justifies the destruction of nature, culture, and livelihoods in terms of
  ‘rules of competition.’ Its officials attack ethical and ecological rules that
  sustain and promote life, dubbing them as "protectionist" barriers to trade.
  WTO strips the poor of whatever protection the State afforded them, and forces
  the State to transfer its protection to transnational corporations.
</p>
<p>
  This procedure effectively takes over the resources of the poor in the South,
  colonizing it much more effectively than conquest and ownership of land and
  territory did.
</p>
<p>
  Agriculture, still the primary livelihood for three-quarters of humanity, and
  as much a cultural activity as any other, is also threatened by "trade
  liberalization," driven by the structural adjustment programs of the World
  Bank and the IMF, and by the WTO's AOA. Globalized food and agriculture in
  effect, means the corporate takeover of the food chain, the erosion of food
  rights, the destruction of the cultural diversity of food and the biological
  diversity of crops, and the displacement of millions from land-based, rural
  livelihoods.
</p>
<p>
  This process surreptitiously began in Kenya in colonial times, with
  disparaging remarks aimed at ‘subsistence agriculture’ and accolades for ‘cash
  crops’ that would make farmers rich. It had begun in Europe towards the end of
  the 19th century, with the result that very few Europeans today would know
  what to do if thrown on their own resources, even if they had access to
  agricultural land.
</p>
<p>
  Global ‘free trade’ is free only for the corporations, not for ordinary
  people. Free trade between non-free people is the biggest refugee creation
  program in the world, far exceeding anything Kenya has ever seen. It is
  equivalent to the ethnic cleansing of the poor, the peasantry, and the small
  farmers of the South.
</p>
<h3>
  India's agriculture
</h3>
<p>
  Kenyans would do well to verify the impact of the above policies on India.
  Learning from the experience of others is always a very prudent thing to do.
  There, liberalization has led to a dramatic transformation of agriculture,
  with a devastating impact on peasant farmers. These policies have reduced food
  security by forcing people to export what they produce and to import what they
  eat, have wiped out local businesses and diversity and allowed global
  corporations to take over the control of food processing.
</p>
<h3>
  Shifting to export crops: Cotton Seeds of Suicide
</h3>
<p>
  The concentration of the seed industry, the entry of global corporations into
  agriculture, an increased use of pesticides, and, finally, increased debt,
  have driven thousands of small farmers to despair, and sometimes even to
  suicide. Capital-intensive, corporate-controlled agriculture is being spread
  to regions where peasants are poor, but until now have been self-sufficient in
  food. In the regions where such agriculture has been introduced,
  <strong
    >higher costs are making it virtually impossible for small farmers to
    survive.</strong
  >
</p>
<p>
  Export-oriented policies have made India shift from producing food crops to
  producing commodities for export, such as cotton. Its cultivation was expanded
  to semiarid areas such as Warangal in Andhra Pradesh, where farmers
  traditionally grew paddy, pulses, millets, oilseed and vegetables. Enticed by
  promises that cotton would be like "white gold," yielding high profits,
  Warangal farmers nearly tripled the amount of land under cotton in the past
  decade, while slashing production of traditional food grains like jawar and
  bajra. But what these farmers have learned is that while cash crops (like
  cotton) may fetch higher prices, they also demand higher costs of inputs.
  Under corporate pressure, farmers have largely switched from planting
  open-pollinated seeds, which can be saved, to hybrids that need to be
  purchased every year at a high cost. But hybrids are very vulnerable to pests,
  hence pesticide use has also increased, from $2.5 million for the entire
  decade of the 1980s to $50 million in 1997 - a 2,000% increase. For poor
  peasants, high cost mean only one thing: debt.
</p>
<p>
  As trade liberalization has also caused the drying up of low-interest credit,
  peasants have had to take high-interest loans from the same companies that
  sell them hybrid seeds and pesticides. Thus, <strong></strong> the
  corporations have become money lenders, extension agents, seed suppliers, and
  pesticide salesmen rolled into one. And peasants have been buried under the
  weight of unpayable debt. This financial stress is blamed for an epidemic of
  suicides in Warangal. More than 500 farmers took their own lives in 1998, and
  the trend continued in 1999.
</p>
<p>
  In the same places, Monsanto has tried its GM cotton seeds, with the usual
  argument that they increase yields. In reality they have decreased yields and
  increased the use of pesticides. In protest, farmers in Andhra Pradesh and
  Karnataka have uprooted GM cotton, and Dr Shiva’s Research Foundation for
  Science, Technology, and Ecology has filed a case in the Supreme Court to stop
  the introduction of GM crops. The Foundation’s case is that genetic
  engineering introduces ecological and economic risks that India’s peasants
  cannot afford.
</p>
<p>
  Violations of human rights and subversion of law and order have also occurred.
  When people attempt to defend their right to work and live, commercial
  interests that gain from exports often work with the state apparatus to crush
  people's movements. Some Orissa fishermen paid for exports with their lives,
  when the agents of law and order fired on them.
</p>
<h3>
  When Export Crops Costs Exceed Earnings
</h3>
<p>
  In the case of flowers, countries must import plant material, pesticides,
  greenhouse equipment and pay for consultants. India spent Rs. 13.7 billion in
  foreign exchange to import inputs for floriculture and earned only Rs. 0.3
  billion from flower sales, thus having a net drain of Rs. 10 billion on scarce
  foreign exchange. If the resources used for floriculture had been allocated
  for food production, India would have produced four times more food than it
  could buy on global markets using earnings from flower sales. In terms of
  national food security, export-oriented agriculture therefore destroys more
  than it creates.
</p>
<p>
  As food prices have doubled, the poor have had to halve their consumption.
  Prices have increased because food has been exported, creating domestic
  scarcity, at the same time when food subsidies have been withdrawn. As a
  housewife in Bombay stated "we are eating half of what we used to after food
  prices doubled in the last year. Even dal is a luxury now. After milk prices
  increased, I stopped buying milk as well."
</p>
<p>
  GM, far from being the solution to food crisis, as the Sunday Standard
  reported on May 11, is rather one of its leading causes, the others being
  financial speculation and the food cartel.
</p>

<h3>
  How Imports Destroy Diversity
</h3>
<p>
  In August 1999, a case of mustard oil adulteration, although restricted to the
  city of Delhi, affected all local brands of oil. In response, and following
  the policy outlined above, the government banned mustard oil, the main cooking
  oil in northern India, and removed all restrictions on edible oil imports.
  Soybean and soy oil imports from America were liberalized or deregulated.
</p>
<p>
  U.S. soybeans and oil are cheap not because of low costs of production but
  because of subsidies. The price of $155 a ton is possible because the U.S.
  government pays $193 a ton to U.S. soybean farmers, who would not otherwise be
  able to stay in business. But this subsidy helps not so much the farmers as
  the corporations, which then dump soybeans on the countries of the South. As
  heavily subsidized soybeans flooded India's domestic market, prices crashed by
  more than two thirds. The local mills, from small-scale "ghanis" to larger
  ones, started to close down. Domestic oilseed production declined, and
  domestic edible oil prices crashed. Some farmers protesting against the
  collapse of their markets were shot and killed.
</p>
<h3>
  Living Things as Intellectual Property
</h3>
<p>
  The TRIPs agreement, introduced during the Uruguay Round of GATT, set
  enforceable global rules on patents, copyrights, and trademarks. TRIPs rules
  <strong></strong> extend to living resources: genes, cells, plants, seeds, and
  animals can now be patented and "owned" as intellectual property. The US made
  use of the Round to insert its patent system into the WTO, thus imposing it on
  the rest of the world.
</p>
<p>
  By extending the rules to living resources, self-reproducing forms were
  redefined as machines, as if made and invented by the corporation patentee. A
  seed corporation enjoys thus a monopoly that prevents others from making,
  using, or selling seeds. Seed saving by farmers, formerly a sacred duty
  affecting 70% of seed in India, has been criminalized as stealing "property,"
  according to Article 27.3 (b) of the TRIPs agreement.
</p>
<p>
  Chemical companies have bought up seed and biotechnology companies,
  reorganizing themselves as Life Science corporations, claiming patents on
  genes, seeds, plants and animals. Ciba Geigy and Sandoz have combined to form
  Novartis; Hoechst has joined with Rhone Poulenc to form Aventis; Zeneca has
  merged with Astia; Dupont has bought up Pioneer HiBred; and Monsanto now owns
  Cargill seeds, DeKalb, Calgene, Agracetus, Delta and Pine Land, Holden, and
  Asgrow. 80% of all GM seeds planted are Monsanto's "intellectual property."
  And Monsanto owns broad species patents on cotton, mustard, and soybean -crops
  that were not "invented" or "created" by Monsanto but evolved over centuries
  of innovation by farmers of India and East Asia working in partnership with
  nature.
</p>
<p>
  Recently the U.S. government granted a patent for the anti-diabetic properties
  of karela, jamun, and brinjal to two nonresident Indians and a foreigner. That
  these substances control diabetes is everyday knowledge and practice in India.
  Their medical use is documented in authoritative treatises like
  <em
    >Wealth of India, Compendium of Indian Medicinal Plants and Treatise on
    Indian Medicinal Plants.</em
  >
</p>
<p>
  One, or two, cases of such false claims to ‘invention’ could be called
  ‘errors.’ But they are legion. Neem, haldi, pepper, harar, bahera, amla,
  mustard, basmati, ginger, castor, jaramla, amaltas, new karela and jamun have
  all been ‘patented.’ It is not, as was made out to be for turmeric, an error
  made by a patent clerk. It is a deep and systemic problem calling for a
  systemic change, not case-by-case challenges.
</p>
<p>
  Suggestions that piracy happens because Indian knowledge is not documented are
  the exact opposite of the truth. Indigenous knowledge in India, in fact, is so
  systematically documented as to have made piracy a lot easier. Even folk
  knowledge orally held by local communities deserves to be recognized as
  collective, cumulative innovation. US ignorance of such knowledge should not
  allow equating piracy to invention.
</p>
<p>
  The social costs of biopiracy to the poor of the South are very high, since
  two thirds of the people there depend on free access to biodiversity for their
  lives and needs. 70% of healing, for instance, is performed with indigenous
  herbal medicine.
</p>
<p>
  A patent system that instead of rewarding inventiveness and creativity
  systematically rewards piracy, should be immediately stopped and reviewed.
</p>
<h3>
  GM Biology
</h3>
<p>
  Thus far for the socio-political effects of GM ‘foods.’ It is time to
  enlighten the reader about the use of inverted commas in ‘foods.’
</p>
<p>
  Defining living things as machines, increasingly since the time of Descartes
  (1596-1650) has its drawbacks.
</p>
<p>
  In the late 1980s Showa Denko, a Japanese firm making artificial fertilizers
  from 1931, decided to produce tryptophan by genetically engineering a
  bacterium instead of fermenting a ‘soup’ of whatever produced tryptophan
  before.
</p>
<p>
  The ‘engineers’ pressganged the bacterium into producing much higher levels of
  tryptophan than with fermentation, and succeeded. They assumed all along that
  the molecule of tryptophan would be the same as that produced before.
</p>
<p>
  The bacterium did not take kindly to be so engineered, and like all living
  things, took the initiative of adding L-tryptophan, an isomer known to be
  toxic but that passed unnoticed. Hence no safety tests were deemed necessary.
  Within months of its being placed on the market, it caused the deaths of 37
  people and permanently crippled 1500 more.1
</p>
<p>
  Jeffrey M. Smith is the author of <em>Seeds of Deception</em> , a book packed
  with information about GM ‘foods.’ His conclusions are:
</p>
<p class="container">
  <em>
    GM foods are inherently unsafe.
  </em>
  <br />
  <em>
    Many assumptions by biotechnology companies used to back up their safety
    claims are either untested, or have been proved wrong by independent labs.
  </em>
  <br />
  <em>
    There have been dangerously few safety tests on GM ‘foods.’
  </em>
  <br />
  <em>
    Industry safety tests are typically rigged to avoid finding problems.
  </em>
  <br />
  <em>
    In-depth independent studies have shown serious damage to lab animals.
  </em>
  <br />
  <em>
    Many scientists, both in the public and private sector, who discovered
    dangers or expressed concern, have been attacked and silenced.
  </em>
</p>
<p>
  One of the latter is Dr Arpad Pusztai, whose three-year study exposed many
  dangers of GM ‘foods.’ He was sacked and his study first maligned and then
  suppressed. Now the reader knows the reason behind the inverted commas.
</p>
<p>
  To impose the technology on Kenya, GM companies, US agents, Kenyan accomplices
  etc. took care of ‘briefing’ the legislators, with methods unknown but easily
  imaginable.
</p>
<p>
  Providentially President Kibaki shut down Parliament one day before they were
  slated to pass the bill. One day!
</p>
<!--  blogArticleImage -->

<!--<span class="endClause">Tagged under</span>
<span class="">the_tags(' ');</span>-->

<div class="realtedCarousel flexslider">
                   
    <%- include ('../../related') %>
</div>
 

    </div>
    <!-- blogGroupsCont -->

</div>
<!-- rightBlogArticleFull -->        

</div>
<!-- col-lg-12  -->
</div>
<!-- fullcontentSection -->
</main>
<!-- midSection -->


